In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
from decimal import Decimal, getcontext, ROUND_HALF_UP

d1 = pd.read_csv(r'\\mentos\dailyRawData\logs_20200717_zt_52_03_day_pcap\mdL2Pcap_SH_20200717_0900.csv')
d1 = d1[(d1['ID'] >= 1600000) & (d1['ID'] < 1700000)]
d1['group'] = d1['time'] // 3000
re1 = d1.groupby(['group'])['ID'].apply(lambda x: [i for i in x]).reset_index()
re1['ID'].apply(lambda x: sorted(set(x), key=x.index))
re1['count'] = re1['ID'].apply(lambda x: len(x))
re1['count'].max()

In [44]:
re1 = d1.groupby(['group'])['ID'].apply(lambda x: [i for i in x]).reset_index()
re1['ID'] = re1['ID'].apply(lambda x: sorted(set(x), key=x.index))
re1['count'] = re1['ID'].apply(lambda x: len(x))

In [47]:
re1[re1['group'] >= 31000].head(100)

     group                                                 ID  count
604  31000  [1600859, 1601890, 1601998, 1600010, 1600075, ...   1641
605  31001  [1600062, 1600079, 1600183, 1600208, 1600285, ...   1630
606  31002  [1600255, 1600595, 1601869, 1603080, 1600061, ...   1608
607  31003  [1600029, 1600056, 1600109, 1600143, 1600185, ...   1614
608  31004  [1600028, 1600645, 1600967, 1601016, 1600239, ...   1574
609  31005  [1600312, 1600333, 1600971, 1601777, 1603232, ...   1618
610  31006  [1600239, 1600028, 1600645, 1600737, 1600967, ...   1611
611  31007  [1600028, 1600645, 1600239, 1603260, 1600737, ...   1609
612  31008  [1600029, 1600056, 1600109, 1600143, 1600291, ...   1608
613  31009  [1600239, 1600740, 1603260, 1600321, 1600602, ...   1605
614  31010  [1600967, 1601016, 1600740, 1603260, 1603999, ...   1607
615  31011  [1600321, 1600602, 1600603, 1600613, 1600742, ...   1611
616  31012  [1600321, 1600602, 1600603, 1600613, 1600742, ...   1616
617  31013  [1600109, 1600143, 1600291, 1600831, 1603693, ...   1560
618  31014  [1600482, 1600499, 1600572, 1600643, 1600651, ...   1585
619  31015  [1603026, 1600201, 1600326, 1600569, 1600961, ...   1613
620  31016  [1600287, 1603313, 1603026, 1600201, 1600326, ...   1611
621  31017  [1600291, 1600831, 1600868, 1601990, 1601018, ...   1592
622  31018  [1603229, 1603477, 1603883, 1600103, 1600967, ...   1553
623  31019  [1603026, 1600006, 1600073, 1600271, 1600312, ...   1608
624  31033  [1603026, 1600006, 1600073, 1600271, 1600312, ...    744
625  31034  [1600636, 1688001, 1688008, 1603863, 1603601, ...   1609
626  31035  [1600540, 1603806, 1600555, 1603630, 1603179, ...   1616
627  31036  [1600768, 1603977, 1603569, 1600602, 1600603, ...   1614
628  31037  [1603569, 1603977, 1601137, 1603331, 1600122, ...   1610
629  31038  [1600179, 1603927, 1603232, 1603569, 1600704, ...   1610
630  31039  [1600743, 1603066, 1603601, 1601007, 1600368, ...   1619
631  31040  [1603159, 1603927, 1603676, 1603329, 1600210, ...   1619
632  31041  [1600210, 1600217, 1600368, 1600272, 1600743, ...   1612
633  31042  [1600210, 1600217, 1603208, 1600272, 1603726, ...   1618
634  31043  [1600280, 1603208, 1600210, 1600880, 1600743, ...   1610
635  31044  [1600217, 1600123, 1603208, 1600210, 1600880, ...   1610
636  31045  [1603926, 1600537, 1603208, 1600210, 1600217, ...   1613
637  31046  [1600399, 1600237, 1600210, 1603208, 1600880, ...   1614
638  31047  [1600237, 1600210, 1603208, 1600399, 1603188, ...   1605
639  31048  [1600654, 1600976, 1603997, 1600642, 1600543, ...   1608
640  31049  [1603208, 1603668, 1600237, 1600210, 1603580, ...   1588
641  31050  [1600546, 1600540, 1603806, 1603630, 1603658, ...   1605
642  31051  [1600237, 1600382, 1600555, 1600308, 1600630, ...   1600
643  31052  [1603997, 1603208, 1603668, 1600636, 1600237, ...   1597
644  31053  [1603238, 1603997, 1688088, 1600636, 1600237, ...    752
645  31066  [1600059, 1600239, 1603229, 1603669, 1603883, ...    360
646  31067  [1600468, 1600638, 1603698, 1600025, 1600071, ...   1594
647  31068  [1600468, 1603698, 1600025, 1600071, 1600612, ...   1591
648  31069  [1600301, 1603617, 1600968, 1600429, 1600792, ...   1566
649  31070  [1603813, 1600754, 1600561, 1603266, 1603009, ...   1609
650  31071  [1688068, 1600612, 1600258, 1600429, 1603226, ...   1587
651  31072  [1603161, 1600258, 1600429, 1603226, 1688266, ...   1601
652  31073  [1600468, 1600638, 1600758, 1603196, 1603948, ...   1594
653  31074  [1688177, 1600468, 1600638, 1600139, 1603877, ...   1565
654  31075  [1601588, 1603256, 1600818, 1603813, 1600754, ...   1584
655  31076  [1600638, 1600139, 1603877, 1601512, 1600758, ...   1596
656  31077  [1603507, 1603087, 1600158, 1603726, 1600168, ...   1585
657  31078  [1600258, 1603238, 1603348, 1600688, 1600758, ...   1580
658  31079  [1601086, 1600638, 1688528, 1600139, 1603031, ...   1573
659  31080  [1688116, 1603507, 1600589, 1600158, 1600973, ...   1579
660  31081  [1603500, 1600638, 1688528, 1601086, 1603116, ...   1589
661  31082  [1600638, 1688528, 1603223, 1688518, 1603116, ...   1580
662  31083  [1600499, 1603989, 1603015, 1688021, 1603010, ...   1581
663  31084  [1601500, 1600792, 1600158, 1603166, 1600481, ...   1579
664  31085  [1603181, 1601113, 1600468, 1601828, 1603607, ...   1579
665  31086  [1688188, 1603076, 1603662, 1603607, 1601500, ...   1177
666  31100  [1603776, 1601225, 1600059, 1601777, 1603383, ...   1599
667  31101  [1603990, 1603298, 1600737, 1601908, 1603639, ...   1585
668  31102  [1603229, 1603669, 1600149, 1600444, 1600028, ...   1597
669  31103  [1603298, 1603087, 1600175, 1600403, 1601908, ...   1569
670  31104  [1603776, 1601777, 1601997, 1603156, 1603530, ...   1605
671  31105  [1601997, 1603896, 1603790, 1600444, 1600028, ...   1604
672  31106  [1601997, 1603790, 1603896, 1600639, 1600028, ...   1604
673  31107  [1603229, 1603669, 1603896, 1603790, 1600028, ...   1616
674  31108  [1600403, 1601908, 1603136, 1603639, 1600103, ...   1601
675  31109  [1600329, 1603136, 1600403, 1600103, 1600260, ...   1554
676  31110  [1600221, 1600604, 1600770, 1600885, 1601677, ...   1600
677  31111  [1601117, 1600216, 1603776, 1688177, 1601777, ...   1600
678  31112  [1600089, 1600729, 1600126, 1600372, 1600998, ...   1609
679  31113  [1600329, 1600403, 1600679, 1603385, 1600260, ...   1600
680  31114  [1600329, 1600403, 1600679, 1600850, 1600093, ...   1602
681  31115  [1600329, 1600403, 1600850, 1600260, 1600503, ...   1599
682  31116  [1603229, 1603669, 1600028, 1600645, 1600737, ...   1601
683  31117  [1600247, 1600982, 1600329, 1600403, 1600260, ...   1610
684  31118  [1600329, 1600403, 1603203, 1600679, 1600260, ...   1564
685  31119  [1600056, 1600356, 1600221, 1600604, 1600770, ...   1611
686  31133  [1603322, 1600356, 1600604, 1600770, 1600885, ...   1025
687  31134  [1600150, 1600101, 1600824, 1600636, 1601818, ...   1580
688  31135  [1600546, 1600540, 1603023, 1603855, 1603630, ...   1606
689  31136  [1600150, 1688020, 1600824, 1600031, 1600690, ...   1590
690  31137  [1600598, 1600796, 1600618, 1601225, 1600332, ...   1609
691  31138  [1600319, 1600598, 1603927, 1603889, 1600150, ...   1604
692  31139  [1600578, 1688118, 1603639, 1603086, 1688028, ...   1582
693  31140  [1600150, 1600618, 1601225, 1600332, 1601857, ...   1606
694  31141  [1601225, 1600150, 1600598, 1600618, 1600621, ...   1617
695  31142  [1600598, 1601225, 1600332, 1601857, 1603045, ...   1590
696  31143  [1600892, 1688369, 1600578, 1688028, 1600031, ...   1589
697  31144  [1601225, 1600332, 1601857, 1600794, 1600150, ...   1608
698  31145  [1600794, 1600150, 1603615, 1603022, 1601225, ...   1611
699  31146  [1600150, 1603615, 1603863, 1603629, 1600238, ...   1602
700  31147  [1603863, 1603629, 1600150, 1600824, 1600618, ...   1581
701  31148  [1600556, 1600316, 1600598, 1600009, 1600653, ...   1616
702  31149  [1600150, 1600618, 1600621, 1600410, 1600461, ...   1589
703  31150  [1601225, 1600332, 1601857, 1600706, 1600794, ...   1605

In [34]:
kk = re1[re1['count'] != re1['count1']]['ID'].iloc[0]
len(sorted(set(kk), key=kk.index))

1640

In [31]:
len(np.unique(re1[re1['count'] != re1['count1']]['ID'].iloc[0]))

1640

In [7]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
from decimal import Decimal, getcontext, ROUND_HALF_UP

d1 = pd.read_csv(r'A:\rawData\logs_20200715_zt_96_04_day_96data\mdLog_SH_20200715_0837.csv')
# d1 = d1[(d1['ID'] >= 1600000) & (d1['ID'] < 1700000)]
d1 = d1[(d1['StockID'] >= 600000) & (d1['StockID'] < 700000)]
d1 = d1[d1['source'] == 13]
d1["time"] = d1["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
d1[(d1['time'] >= 93400000) & (d1['time'] <= 93500000)][['clockAtArrival', 'sequenceNo', 'StockID', 'time', 'close', 'cum_volume']]\
.to_csv(r'E:\zt52_check\20200715_96.csv')

In [4]:
d1[(d1['StockID'] == 601872) & (d1['time'] == 93404330)].head(10)

Empty DataFrame
Columns: [ms, clock, threadId, clockAtArrival, sequenceNo, source, StockID, exchange, time, cum_volume, cum_amount, close, __origTickSeq, bid1p, bid2p, bid3p, bid4p, bid5p, bid1q, bid2q, bid3q, bid4q, bid5q, ask1p, ask2p, ask3p, ask4p, ask5p, ask1q, ask2q, ask3q, ask4q, ask5q, openPrice, numTrades]
Index: []

[0 rows x 35 columns]

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
from decimal import Decimal, getcontext, ROUND_HALF_UP

d1 = pd.read_csv(r'\\mentos\dailyRawData\logs_20200715_zt_52_03_day_pcap\mdL2Pcap_SH_20200715_0900.csv')
d1['StockID'] = d1['ID'] - 1000000
d1 = d1[(d1['StockID'] >= 600000) & (d1['StockID'] < 700000)]
d1[(d1['time'] >= 93400000) & (d1['time'] <= 93500000)][['clockAtArrival', 'sequenceNo', 'StockID', 'time', 'close', 'cum_volume']]\
.to_csv(r'E:\zt52_check\20200715_52.csv')

In [27]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
from decimal import Decimal, getcontext, ROUND_HALF_UP

sh1 = pd.read_csv(r'A:\rawData\logs_20200721_zt_96_04_day_96data\mdLog_SH_20200721_0836.csv')
sz1 = pd.read_csv(r'A:\rawData\logs_20200721_zt_96_04_day_96data\mdLog_SZ_20200721_0836.csv')
sh2 = pd.read_csv(r'A:\check\20200721\zt52\mdLog_SH_20200721_0910.csv')
sz2 = pd.read_csv(r'A:\check\20200721\zt52\mdLog_SZ_20200721_0910.csv')
sh1 = sh1[(sh1['StockID'] >= 600000) & (sh1['StockID'] < 700000)]
sh2 = sh2[(sh2['StockID'] >= 600000) & (sh2['StockID'] < 700000)]
d1 = pd.concat([sh1, sz1]).sort_values(by='sequenceNo')
d2 = pd.concat([sh2, sz2]).sort_values(by='sequenceNo')
d1["time"] = d1["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
d2["time"] = d2["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
d2.loc[d2['source'].isin([20, 21]), "time"] = d2[d2['source'].isin([20, 21])]['time'] * 1000
d1 = d1[d1['StockID'].isin(d2['StockID'].unique())]

In [47]:
sh2[sh2['StockID'].isin([600975, 603589, 600576, 600081, 600595])]

Empty DataFrame
Columns: [ms, clock, threadId, clockAtArrival, sequenceNo, source, StockID, exchange, time, cum_volume, cum_amount, close, __origTickSeq, bid1p, bid2p, bid3p, bid4p, bid5p, bid1q, bid2q, bid3q, bid4q, bid5q, ask1p, ask2p, ask3p, ask4p, ask5p, ask1q, ask2q, ask3q, ask4q, ask5q, openPrice, numTrades]
Index: []

[0 rows x 35 columns]

In [48]:
sz2[sz2['StockID'].isin([88])]

Empty DataFrame
Columns: [ms, clock, threadId, clockAtArrival, sequenceNo, source, StockID, exchange, time, cum_volume, cum_amount, close, __origTickSeq, bid1p, bid2p, bid3p, bid4p, bid5p, bid1q, bid2q, bid3q, bid4q, bid5q, ask1p, ask2p, ask3p, ask4p, ask5p, ask1q, ask2q, ask3q, ask4q, ask5q, openPrice, numTrades]
Index: []

[0 rows x 35 columns]

In [2]:
display(sh1.head(5))
display(sz1.head(5))
display(sh2.head(5))
display(sz2.head(5))

,ms,clock,threadId,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,...,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,numTrades
0,08:36:59.967239,1595291819967467,6694,1595291819967395,1,9,16,SH,08:36:12.000,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
1,08:36:59.967239,1595291819967493,6694,1595291819967413,2,9,300,SH,08:36:12.000,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
2,08:36:59.967239,1595291819967507,6694,1595291819967420,3,9,852,SH,08:36:12.000,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
3,08:36:59.967239,1595291819967516,6694,1595291819967423,4,9,905,SH,08:36:12.000,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
4,08:36:59.967239,1595291819967526,6694,1595291819967437,5,9,600000,SH,00:00:00.000,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0

,ms,clock,threadId,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,...,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,numTrades
0,08:37:00.008239,1595291820009291,6694,1595291820002089,1637,9,1,SZ,08:36:12.000,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
1,08:37:00.008239,1595291820009303,6694,1595291820002094,1638,9,2,SZ,08:36:12.000,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
2,08:37:00.008239,1595291820009316,6694,1595291820002099,1639,9,4,SZ,08:36:12.000,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
3,08:37:00.008239,1595291820009332,6694,1595291820002104,1640,9,5,SZ,08:36:12.000,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
4,08:37:00.008239,1595291820009345,6694,1595291820002110,1641,9,6,SZ,08:36:12.000,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0

,ms,clock,threadId,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,...,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,numTrades
0,09:10:15.219143,1595293815220770,7292,1595293815220632,1,22,600575,SH,09:10:13.720,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
1,09:10:15.220143,1595293815220817,7292,1595293815220717,10,22,600728,SH,09:10:13.720,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
2,09:10:15.223143,1595293815223878,7292,1595293815223863,14,22,601179,SH,09:10:13.720,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
3,09:10:15.223143,1595293815223892,7292,1595293815223868,15,22,600879,SH,09:10:13.720,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
4,09:10:15.223143,1595293815223905,7292,1595293815223874,16,22,600259,SH,09:10:13.720,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0

,ms,clock,threadId,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,...,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,numTrades
0,09:10:15.386143,1595293815387276,7293,1595293815387209,47,21,1,SZ,08:36:12,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
1,09:10:15.386143,1595293815387303,7293,1595293815387239,48,21,2,SZ,08:36:12,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
2,09:10:15.386143,1595293815387333,7293,1595293815387274,53,21,8,SZ,08:36:12,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
3,09:10:15.386143,1595293815387344,7293,1595293815387287,54,21,9,SZ,08:36:12,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0
4,09:10:15.386143,1595293815387360,7293,1595293815387304,57,21,12,SZ,08:36:12,0,...,0.0,0.0,0.0,0,0,0,0,0,0.0,0

In [73]:
sum(d1[(d1['time'] >= 93400000) & (d1['time'] <= 93500000) & (d1['source'] == 13)]['time']%1000!=0)

0

In [102]:
d1[(d1['time'] >= 93400000) & (d1['time'] <= 93500000) & (d1['source'] == 13)][['clockAtArrival', 'sequenceNo', 'StockID', 
                                                                                'time', 'close', 'cum_volume', 'diff', 'group']]\
.to_csv(r'E:\zt52_check\20200721_96_lv2.csv')

In [99]:
d2[(d2['time'] >= 93400000) & (d2['time'] <= 93500000) & (d2['source'].isin([21, 23]))][['clockAtArrival', 'sequenceNo', 'StockID', 'time', 'close', 
                                                                                         'cum_volume', 'diff', 'group']]\
.to_csv(r'E:\zt52_check\20200721_52_lv2.csv')

In [101]:
d1['diff'] = d1['clockAtArrival'] - d1['clockAtArrival'].shift(1)
d1['kk'] = np.where((d1['diff'] < 1000)|(d1['diff'].isnull()), 0, 1)
d1['group'] = d1['kk'].cumsum()
d1.head(30)

,ms,clock,threadId,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,...,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,numTrades,diff,kk,group
4,08:36:59.967239,1595291819967526,6694,1595291819967437,5,9,600000,SH,0,0,...,0,0,0,0,0,0.0,0,NaN,0,0
5,08:36:59.967239,1595291819967534,6694,1595291819967442,6,9,600004,SH,0,0,...,0,0,0,0,0,0.0,0,5.0,0,0
6,08:36:59.976239,1595291819977378,6694,1595291819977351,7,9,600006,SH,0,0,...,0,0,0,0,0,0.0,0,9909.0,1,1
8,08:36:59.977239,1595291819977663,6694,1595291819977380,9,9,600008,SH,0,0,...,0,0,0,0,0,0.0,0,29.0,0,1
9,08:36:59.977239,1595291819977678,6694,1595291819977401,10,9,600009,SH,0,0,...,0,0,0,0,0,0.0,0,21.0,0,1
10,08:36:59.977239,1595291819977702,6694,1595291819977668,11,9,600010,SH,0,0,...,0,0,0,0,0,0.0,0,267.0,0,1
11,08:36:59.977239,1595291819977721,6694,1595291819977689,12,9,600011,SH,0,0,...,0,0,0,0,0,0.0,0,21.0,0,1
13,08:36:59.977239,1595291819977751,6694,1595291819977720,14,9,600015,SH,0,0,...,0,0,0,0,0,0.0,0,31.0,0,1
14,08:36:59.977239,1595291819977789,6694,1595291819977762,15,9,600016,SH,0,0,...,0,0,0,0,0,0.0,0,42.0,0,1
15,08:36:59.977239,1595291819977804,6694,1595291819977775,16,9,600017,SH,0,0,...,0,0,0,0,0,0.0,0,13.0,0,1
16,08:36:59.977239,1595291819977818,6694,1595291819977781,17,9,600018,SH,0,0,...,0,0,0,0,0,0.0,0,6.0,0,1
17,08:36:59.977239,1595291819977856,6694,1595291819977797,18,9,600019,SH,0,0,...,0,0,0,0,0,0.0,0,16.0,0,1
19,08:36:59.977239,1595291819977887,6694,1595291819977818,20,9,600021,SH,0,0,...,0,0,0,0,0,0.0,0,21.0,0,1
20,08:36:59.977239,1595291819977905,6694,1595291819977838,21,9,600022,SH,0,0,...,0,0,0,0,0,0.0,0,20.0,0,1
22,08:36:59.977239,1595291819977934,6694,1595291819977872,23,9,600025,SH,0,0,...,0,0,0,0,0,0.0,0,34.0,0,1
23,08:36:59.977239,1595291819977947,6694,1595291819977888,24,9,600026,SH,0,0,...,0,0,0,0,0,0.0,0,16.0,0,1
24,08:36:59.977239,1595291819977961,6694,1595291819977911,25,9,600027,SH,0,0,...,0,0,0,0,0,0.0,0,23.0,0,1
25,08:36:59.977239,1595291819977975,6694,1595291819977927,26,9,600028,SH,0,0,...,0,0,0,0,0,0.0,0,16.0,0,1
26,08:36:59.977239,1595291819977999,6694,1595291819977933,27,9,600029,SH,0,0,...,0,0,0,0,0,0.0,0,6.0,0,1
27,08:36:59.977239,1595291819978017,6694,1595291819977950,28,9,600030,SH,0,0,...,0,0,0,0,0,0.0,0,17.0,0,1
28,08:36:59.977239,1595291819978032,6694,1595291819977966,29,9,600031,SH,0,0,...,0,0,0,0,0,0.0,0,16.0,0,1
31,08:36:59.977239,1595291819978073,6694,1595291819978008,32,9,600036,SH,0,0,...,0,0,0,0,0,0.0,0,42.0,0,1
32,08:36:59.977239,1595291819978087,6694,1595291819978023,33,9,600037,SH,0,0,...,0,0,0,0,0,0.0,0,15.0,0,1
33,08:36:59.977239,1595291819978102,6694,1595291819978040,34,9,600038,SH,0,0,...,0,0,0,0,0,0.0,0,17.0,0,1
34,08:36:59.977239,1595291819978119,6694,1595291819978056,35,9,600039,SH,0,0,...,0,0,0,0,0,0.0,0,16.0,0,1
35,08:36:59.977239,1595291819978143,6694,1595291819978061,36,9,600048,SH,0,0,...,0,0,0,0,0,0.0,0,5.0,0,1
36,08:36:59.977239,1595291819978158,6694,1595291819978078,37,9,600050,SH,0,0,...,0,0,0,0,0,0.0,0,17.0,0,1
39,08:36:59.977239,1595291819978229,6694,1595291819978116,40,9,600053,SH,0,0,...,0,0,0,0,0,0.0,0,38.0,0,1
42,08:36:59.977239,1595291819978273,6694,1595291819978153,43,9,600056,SH,0,0,...,0,0,0,0,0,0.0,0,37.0,0,1
44,08:36:59.977239,1595291819978300,6694,1595291819978175,45,9,600058,SH,0,0,...,0,0,0,0,0,0.0,0,22.0,0,1

In [90]:
bins

array([1595293815220632, 1595293815221632, 1595293815222632, ...,
       1595310314041632, 1595310314042632, 1595310314043632], dtype=int64)

In [86]:
np.arange(d2.clockAtArrival.min(), d2.clockAtArrival.max(), 1000)

array([1595293815220632, 1595293815221632, 1595293815222632, ...,
       1595310314041632, 1595310314042632, 1595310314043632], dtype=int64)

In [89]:
np.arange(1, 4)

array([1, 2, 3])

In [81]:
bins[2]

1595293848251310.2