In [7]:
import pandas as pd
import random
import numpy as np
import glob
import os

columns = ["TransactTime", "ApplSeqNum","Side",'OrderType', 'Price', 'OrderQty', "SecurityID"]

server = "zs_94_03"

readPath = os.path.join(r'\\192.168.10.30\Kevin_zhenyu\check\20200306', server)
dataPathLs = np.array(glob.glob(os.path.join(readPath,'full_20200306***.tar.gz')))
accountLs = np.array([os.path.basename(i).split('_')[6].split('.')[0] for i in dataPathLs])
display(accountLs)
path = []
for i in accountLs:
    dataPathLs = np.array(glob.glob(os.path.join(readPath, "full_20200306_" + server + '_day_' + i, "mdOrderLog***")))
    for j in dataPathLs:
        if (int(os.path.basename(j).split('_')[2].split('.')[0]) <= 1456):
            path.append(j)
display(path)


Order1 = pd.read_csv(path[0]).loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                      "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                      "OrderQty"]]
Order1["exes"] = int(accountLs[0])
Order1["OrderType"] = Order1["OrderType"].apply(lambda x: str(x))
Order1 = Order1[~Order1.duplicated(columns, keep="first")].reset_index(drop=True)

Order2 = pd.read_csv(path[1]).loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                      "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                      "OrderQty"]]
Order2["exes"] = int(accountLs[1])
Order2["OrderType"] = Order2["OrderType"].apply(lambda x: str(x))
Order2 = Order2[~Order2.duplicated(columns, keep="first")].reset_index(drop=True)

if len(path) == 3:
    Order3 = pd.read_csv(path[2]).loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                      "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                      "OrderQty"]]
    Order3["exes"] = int(accountLs[2])
    Order3["OrderType"] = Order3["OrderType"].apply(lambda x: str(x))
    Order3 = Order3[~Order3.duplicated(columns, keep="first")].reset_index(drop=True)  

display(Order1.head(10))
display(Order2.head(10))
if len(path) == 3:
    display(Order3.head(10))

array(['9448', '9451', '9454'], dtype='<U4')

\\192.168.10.30\Kevin_zhenyu\check\20200306\zs_94_03\full_20200306_zs_94_03_day_9448\mdOrderLog_20200306_0831.csv
\\192.168.10.30\Kevin_zhenyu\check\20200306\zs_94_03\full_20200306_zs_94_03_day_9448\mdOrderLog_20200306_1516.csv
\\192.168.10.30\Kevin_zhenyu\check\20200306\zs_94_03\full_20200306_zs_94_03_day_9451\mdOrderLog_20200306_0831.csv
\\192.168.10.30\Kevin_zhenyu\check\20200306\zs_94_03\full_20200306_zs_94_03_day_9451\mdOrderLog_20200306_1516.csv
\\192.168.10.30\Kevin_zhenyu\check\20200306\zs_94_03\full_20200306_zs_94_03_day_9454\mdOrderLog_20200306_0831.csv
\\192.168.10.30\Kevin_zhenyu\check\20200306\zs_94_03\full_20200306_zs_94_03_day_9454\mdOrderLog_20200306_1516.csv

['\\\\192.168.10.30\\Kevin_zhenyu\\check\\20200306\\zs_94_03\\full_20200306_zs_94_03_day_9448\\mdOrderLog_20200306_0831.csv',
 '\\\\192.168.10.30\\Kevin_zhenyu\\check\\20200306\\zs_94_03\\full_20200306_zs_94_03_day_9451\\mdOrderLog_20200306_0831.csv',
 '\\\\192.168.10.30\\Kevin_zhenyu\\check\\20200306\\zs_94_03\\full_20200306_zs_94_03_day_9454\\mdOrderLog_20200306_0831.csv']

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty,exes
0,1583457296462828,382310,2,91500000,3,300683,1,2,576700,216300,9448
1,1583457296463037,382311,2,91500000,1,2062,1,2,73000,138500,9448
2,1583457296463042,382312,2,91500000,2,2062,1,2,73000,141100,9448
3,1583457296463066,382313,2,91500000,3,2062,1,2,73000,146300,9448
4,1583457296463074,382314,2,91500000,4,2880,1,2,723700,105300,9448
5,1583457296463099,382315,2,91500000,5,2515,1,2,63100,927000,9448
6,1583457296463103,382316,2,91500000,6,2062,1,2,73000,143300,9448
7,1583457296463107,382317,2,91500000,7,2062,1,2,73000,139500,9448
8,1583457296463116,382318,2,91500000,8,2062,1,2,73000,137500,9448
9,1583457296463133,382319,2,91500000,9,2062,1,2,73000,139200,9448

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty,exes
0,1583457296462838,382050,2,91500000,3,300683,1,2,576700,216300,9451
1,1583457296463033,382051,2,91500000,1,2062,1,2,73000,138500,9451
2,1583457296463049,382052,2,91500000,2,2062,1,2,73000,141100,9451
3,1583457296463109,382053,2,91500000,3,2062,1,2,73000,146300,9451
4,1583457296463113,382054,2,91500000,4,2880,1,2,723700,105300,9451
5,1583457296463116,382055,2,91500000,5,2515,1,2,63100,927000,9451
6,1583457296463120,382056,2,91500000,6,2062,1,2,73000,143300,9451
7,1583457296463125,382057,2,91500000,7,2062,1,2,73000,139500,9451
8,1583457296463166,382058,2,91500000,8,2062,1,2,73000,137500,9451
9,1583457296463170,382059,2,91500000,9,2062,1,2,73000,139200,9451

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty,exes
0,1583457296462837,378022,2,91500000,3,300683,1,2,576700,216300,9454
1,1583457296463029,378023,2,91500000,1,2062,1,2,73000,138500,9454
2,1583457296463053,378024,2,91500000,2,2062,1,2,73000,141100,9454
3,1583457296463071,378025,2,91500000,3,2062,1,2,73000,146300,9454
4,1583457296463075,378026,2,91500000,4,2880,1,2,723700,105300,9454
5,1583457296463091,378027,2,91500000,5,2515,1,2,63100,927000,9454
6,1583457296463096,378028,2,91500000,6,2062,1,2,73000,143300,9454
7,1583457296463104,378029,2,91500000,7,2062,1,2,73000,139500,9454
8,1583457296463123,378030,2,91500000,8,2062,1,2,73000,137500,9454
9,1583457296463147,378031,2,91500000,9,2062,1,2,73000,139200,9454

In [8]:
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle

server = "zs_94_03"
readPath = "E:\\"
dataPathLs = []

dataPathLs = np.array(glob.glob(readPath + "sec_***_" + server + ".csv"))

df = pd.read_csv(dataPathLs[0], encoding="utf-8")
sl = df[df["inStrategy"] == 1]["secName"].str[2:].astype(int).values
print(df[df["inStrategy"] == 1]["secName"].str[:2].unique())

for i in dataPathLs[1:]:
    df = pd.read_csv(i, encoding="utf-8")
    list1 = df[df["inStrategy"] == 1]["secName"].str[2:].astype(int).values
    sl = list(set(sl) | set(list1))

['SZ']

In [11]:
if len(path) == 3:
    Order1 = Order1[(Order1["TransactTime"] >= 93000000) & (Order1["TransactTime"] <= 145655000)].reset_index(drop=True)
    Order2 = Order2[(Order2["TransactTime"] >= 93000000) & (Order2["TransactTime"] <= 145655000)].reset_index(drop=True)
    Order3 = Order3[(Order3["TransactTime"] >= 93000000) & (Order3["TransactTime"] <= 145655000)].reset_index(drop=True)
    Order1 = Order1[Order1["SecurityID"].isin(sl)]
    Order2 = Order2[Order2["SecurityID"].isin(sl)]
    Order3 = Order3[Order3["SecurityID"].isin(sl)]
    l1 = Order1["SecurityID"].unique()
    l2 = Order2["SecurityID"].unique()
    l3 = Order3["SecurityID"].unique()
    c123 = list(set(l1) & set(l2) & set(l3))
    display(len(l1))
    display(len(l2))
    display(len(l3))
    display(len(c123))
    
    de = pd.merge(Order1, Order2, on=columns, indicator="one_to_one")
    del Order1
    del Order2
    de = de.rename(columns={"clockAtArrival_x": "caa1", "clockAtArrival_y": "caa2"})
    de = de.iloc[:, :-1]
    de = pd.merge(de, Order3, on=columns, indicator="one_to_one")
    del Order3
    de = de.rename(columns={"clockAtArrival": "caa3"})
    de["caa_max"] = de[["caa1", "caa2", "caa3"]].max(axis=1)
    de["caa_min"] = de[["caa1", "caa2", "caa3"]].min(axis=1)
    de["jitter"] = de["caa_max"] - de["caa_min"]
    display(de["TransactTime"].describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]))
    # check distribution of abs(difference)
    display(de["jitter"].abs().quantile(0.5))
    display(de["jitter"].abs().describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]))
    import seaborn as sns
    sns.distplot(de["jitter"].abs()[de["jitter"].abs() <= de["jitter"].abs().quantile(0.95)])
    de["faster"] = np.where(de["caa_min"] == de["caa1"], int(accountLs[0]), np.where(
        de["caa_min"] == de["caa2"], int(accountLs[1]), int(accountLs[2])))
    de[["TransactTime", "faster", "jitter"]].to_pickle("E:\\jitter\\data\\" + server + "_SZE_order.pkl")
    # check mornings and afternoons are the same, check numbers don't change across days
    display(de[(de["TransactTime"] >= 93000000) & (de["faster"] == int(accountLs[0]))].head(30))
    display(de[(de["TransactTime"] >= 130000000) & (de["faster"] == int(accountLs[0]))].head(30))
    display(de[(de["TransactTime"] >= 93000000) & (de["faster"] == int(accountLs[1]))].head(30))
    display(de[(de["TransactTime"] >= 130000000) & (de["faster"] == int(accountLs[1]))].head(30))
    display(de[(de["TransactTime"] >= 93000000) & (de["faster"] == int(accountLs[2]))].head(30))
    display(de[(de["TransactTime"] >= 130000000) & (de["faster"] == int(accountLs[2]))].head(30))
    
    
if len(path) == 2:
    Order1 = Order1[(Order1["TransactTime"] >= 93000000) & (Order1["TransactTime"] <= 145655000)].reset_index(drop=True)
    Order2 = Order2[(Order2["TransactTime"] >= 93000000) & (Order2["TransactTime"] <= 145655000)].reset_index(drop=True)
    Order1 = Order1[Order1["SecurityID"].isin(sl)]
    Order2 = Order2[Order2["SecurityID"].isin(sl)]
    l1 = Order1["SecurityID"].unique()
    l2 = Order2["SecurityID"].unique()
    c12 = list(set(l1) & set(l2))
    display(len(l1))
    display(len(l2))
    display(len(c12))
    
    de = pd.merge(Order1, Order2, on=columns, indicator="one_to_one")
    del Order1
    del Order2
    de = de.rename(columns={"clockAtArrival_x": "caa1", "clockAtArrival_y": "caa2"})    
    de["caa_max"] = de[["caa1", "caa2"]].max(axis=1)
    de["caa_min"] = de[["caa1", "caa2"]].min(axis=1)
    de["jitter"] = de["caa_max"] - de["caa_min"]
    display(de["TransactTime"].describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]))
    # check distribution of abs(difference)
    display(de["jitter"].abs().quantile(0.5))
    display(de["jitter"].abs().describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]))
    import seaborn as sns
    from matplotlib import pyplot as plt
    sns.distplot(de["jitter"].abs()[de["jitter"].abs() <= de["jitter"].abs().quantile(0.95)])
    plt.show()
    de["faster"] = np.where(de["caa_min"] == de["caa1"], int(accountLs[0]), int(accountLs[1]))
    de[["TransactTime", "faster", "jitter"]].to_pickle("E:\\jitter\\data\\" + server + "_SZE_order.pkl")
    # check mornings and afternoons are the same, check numbers don't change across days
    display(de[(de["TransactTime"] >= 93000000) & (de["faster"] == int(accountLs[0]))].head(30))
    display(de[(de["TransactTime"] >= 130000000) & (de["faster"] == int(accountLs[0]))].head(30))
    display(de[(de["TransactTime"] >= 93000000) & (de["faster"] == int(accountLs[1]))].head(30))
    display(de[(de["TransactTime"] >= 130000000) & (de["faster"] == int(accountLs[1]))].head(30))

NameError: name 'Order1' is not defined

# Final Result

In [2]:
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle

server = "zs_96_03"
readPath = "E:\\"
dataPathLs = np.array(glob.glob(readPath + "sec_***_" + server + ".csv"))

df = pd.read_csv(dataPathLs[0], encoding="utf-8")
sl = df[df["inStrategy"] == 1]["secName"].str[2:].astype(int).values
print(df[df["inStrategy"] == 1]["secName"].str[:2].unique())

for i in dataPathLs[1:]:
    df = pd.read_csv(i, encoding="utf-8")
    list1 = df[df["inStrategy"] == 1]["secName"].str[2:].astype(int).values
    sl = list(set(sl) | set(list1))
    
len(sl)

['SZ']

991

In [18]:
import pandas as pd
import random
import numpy as np
import glob
import os
import pickle

server = ""
readPath = "E:\\jitter\\data"
dataPathLs = np.array(glob.glob(os.path.join(readPath, server+"***.pkl")))
df = pd.DataFrame()
for i in dataPathLs:
    F1 = open(i, 'rb')
    df1 = pickle.load(F1)
    df1["cat"] = os.path.basename(i).split('_')[3] + " " +  os.path.basename(i).split('_')[4].split('.')[0]
    df1["server"] = os.path.basename(i)[:8]
    if "time1" in df1.columns:
        df1 = df1.rename(columns={"time1": "time"})
    if "TransactTime" in df1.columns:
        df1 = df1.rename(columns={"TransactTime": "time"})
    df = pd.concat([df, df1]).reset_index(drop=True)
df["cat"] = np.where((df["cat"] == "SZE order")|(df["cat"] == "SZE trade"), "SZE message", df["cat"])
display(df.head(20))

# if len(df["faster"].unique()) == 2:
#     de = df[df["cat"] == "SZE message"]
#     mo = de[de["time"] <= 93500000]
#     el = de[de["time"] > 93500000]
    
#     n1 = mo["jitter"].abs().quantile(.5)
#     n2 = el["jitter"].abs().quantile(.5)
#     de1 = el.groupby(["faster"])["jitter"].count().reset_index()
#     de1 = de1.rename(columns={"jitter": "fastest_RestOfDay"})
#     de1 = pd.concat([de1, el.groupby(["faster"])["jitter"].quantile(.5).reset_index().iloc[:, 1:]], axis=1)
#     de1 = de1.rename(columns={"jitter": "jitter_RestOfDay"})
#     de1 = pd.concat([de1, mo.groupby(["faster"])["jitter"].count().reset_index().iloc[:, 1:]], axis=1)
#     de1 = de1.rename(columns={"jitter": "fastest_MktOpen"})
#     de1 = pd.concat([de1, mo.groupby(["faster"])["jitter"].quantile(.5).reset_index().iloc[:, 1:]], axis=1)
#     de1 = de1.rename(columns={"jitter": "jitter_MktOpen"})
#     de1["fastest_RestOfDay"] = de1["fastest_RestOfDay"] / de1["fastest_RestOfDay"].sum()
#     de1["fastest_RestOfDay"] = de1["fastest_RestOfDay"].apply(lambda x: '%.f%%'%(x*100))
#     de1["fastest_MktOpen"] = de1["fastest_MktOpen"] / de1["fastest_MktOpen"].sum()
#     de1["fastest_MktOpen"] = de1["fastest_MktOpen"].apply(lambda x: '%.f%%'%(x*100))
#     de1["jitter_RestOfDay"] = de1["jitter_RestOfDay"].abs()
#     de1["jitter_MktOpen"] = de1["jitter_MktOpen"].abs()
#     de1 = de1.rename(columns={"faster": "account"})
#     de1.loc[-1] = ["total", "", n2, "", n1]
#     de1.index = de1.index + 1
#     de1.sort_index(inplace=True)
    
#     list1 = de[de["faster"] == np.sort(df["faster"].unique())[0]]["time"].describe([0.05, 0.5, 0.95])
#     list2 = de[de["faster"] == np.sort(df["faster"].unique())[1]]["time"].describe([0.05, 0.5, 0.95])
#     t1 = [np.nan, list1["5%"], list2["5%"]]
#     t2 = [np.nan, list1["50%"], list2["50%"]]
#     t3 = [np.nan, list1["95%"], list2["95%"]]
#     de1["time_5p"] = pd.Series(t1)
#     de1["time_50p"] = pd.Series(t2)
#     de1["time_95p"] = pd.Series(t3)
#     de1["cat"] = "SZE message"
#     for col in ["time_5p", "time_50p", "time_95p"]:
#         de1[col] = de1[col].fillna(1)
#         de1[col] = de1[col].astype(int)
#         de1[col] = np.where(de1[col] == 1, '', de1[col])
    
#     de1 = de1.fillna("")
#     de1 = de1.loc[:, ["cat", "account", "fastest_MktOpen", "jitter_MktOpen", "fastest_RestOfDay", "jitter_RestOfDay",
#                  "time_5p", "time_50p", "time_95p"]]
#     de1.to_csv("E:\\jitter\\result\\" + server + "_SZE_message.csv", encoding="utf-8")
#     de1

# if len(df["faster"].unique()) == 3:
#     de = df[df["cat"] == "SZE message"]
#     mo = de[de["time"] <= 93500000]
#     el = de[de["time"] > 93500000]
    
#     n1 = mo["jitter"].abs().quantile(.5)
#     n2 = el["jitter"].abs().quantile(.5)
#     de1 = el.groupby(["faster"])["jitter"].count().reset_index()
#     de1 = de1.rename(columns={"jitter": "fastest_RestOfDay"})
#     de1 = pd.concat([de1, el.groupby(["faster"])["jitter"].quantile(.5).reset_index().iloc[:, 1:]], axis=1)
#     de1 = de1.rename(columns={"jitter": "jitter_RestOfDay"})
#     de1 = pd.concat([de1, mo.groupby(["faster"])["jitter"].count().reset_index().iloc[:, 1:]], axis=1)
#     de1 = de1.rename(columns={"jitter": "fastest_MktOpen"})
#     de1 = pd.concat([de1, mo.groupby(["faster"])["jitter"].quantile(.5).reset_index().iloc[:, 1:]], axis=1)
#     de1 = de1.rename(columns={"jitter": "jitter_MktOpen"})
#     de1["fastest_RestOfDay"] = de1["fastest_RestOfDay"] / de1["fastest_RestOfDay"].sum()
#     de1["fastest_RestOfDay"] = de1["fastest_RestOfDay"].apply(lambda x: '%.f%%'%(x*100))
#     de1["fastest_MktOpen"] = de1["fastest_MktOpen"] / de1["fastest_MktOpen"].sum()
#     de1["fastest_MktOpen"] = de1["fastest_MktOpen"].apply(lambda x: '%.f%%'%(x*100))
#     de1["jitter_RestOfDay"] = de1["jitter_RestOfDay"].abs()
#     de1["jitter_MktOpen"] = de1["jitter_MktOpen"].abs()
#     de1 = de1.rename(columns={"faster": "account"})
#     de1.loc[-1] = ["total", "", n2, "", n1]
#     de1.index = de1.index + 1
#     de1.sort_index(inplace=True)
    
#     list1 = de[de["faster"] == np.sort(df["faster"].unique())[0]]["time"].describe([0.05, 0.5, 0.95])
#     list2 = de[de["faster"] == np.sort(df["faster"].unique())[1]]["time"].describe([0.05, 0.5, 0.95])
#     list3 = de[de["faster"] == np.sort(df["faster"].unique())[2]]["time"].describe([0.05, 0.5, 0.95])
#     t1 = [np.nan, list1["5%"], list2["5%"], list3["5%"]]
#     t2 = [np.nan, list1["50%"], list2["50%"], list3["50%"]]
#     t3 = [np.nan, list1["95%"], list2["95%"], list3["95%"]]
#     de1["time_5p"] = pd.Series(t1)
#     de1["time_50p"] = pd.Series(t2)
#     de1["time_95p"] = pd.Series(t3)
#     de1["cat"] = "SZE message"
#     for col in ["time_5p", "time_50p", "time_95p"]:
#         de1[col] = de1[col].fillna(1)
#         de1[col] = de1[col].astype(int)
#         de1[col] = np.where(de1[col] == 1, '', de1[col])        
#     de1 = de1.fillna("")
#     de1 = de1.loc[:, ["cat", "account", "fastest_MktOpen", "jitter_MktOpen", "fastest_RestOfDay", "jitter_RestOfDay",
#                  "time_5p", "time_50p", "time_95p"]]
#     de1.to_csv("E:\\jitter\\result\\" + server + "_SZE_message.csv", encoding="utf-8")
#     de1


readPath = "E:\\jitter\\result"
dataPathLs = np.array(glob.glob(os.path.join(readPath, server+"***.csv")))
db = pd.DataFrame()
for i in dataPathLs:
    db1 = pd.read_csv(i).iloc[:, 1:]
    print(os.path.basename(i)[:8])
    db1["server"] = os.path.basename(i)[:8]
    db = pd.concat([db, db1]).reset_index(drop=True)
db

        time  faster  jitter           cat    server
0   93000000    8867      39  SSE snapshot  zs_88_01
1   93000000    8865       1  SSE snapshot  zs_88_01
2   93000000    8867      71  SSE snapshot  zs_88_01
3   93000000    8867      71  SSE snapshot  zs_88_01
4   93000000    8867      30  SSE snapshot  zs_88_01
5   93000000    8867      29  SSE snapshot  zs_88_01
6   93000000    8867      27  SSE snapshot  zs_88_01
7   93000000    8865      62  SSE snapshot  zs_88_01
8   93000000    8865      62  SSE snapshot  zs_88_01
9   93000000    8867      37  SSE snapshot  zs_88_01
10  93000000    8867      36  SSE snapshot  zs_88_01
11  93000000    8867      35  SSE snapshot  zs_88_01
12  93000000    8867      40  SSE snapshot  zs_88_01
13  93000000    8865      29  SSE snapshot  zs_88_01
14  93000000    8867      74  SSE snapshot  zs_88_01
15  93000000    8867      73  SSE snapshot  zs_88_01
16  93000000    8867      22  SSE snapshot  zs_88_01
17  93000000    8865      30  SSE snapshot  zs_88_01
18  93000000    8865      32  SSE snapshot  zs_88_01
19  93000000    8865      34  SSE snapshot  zs_88_01

zs_88_01
zs_88_01
zs_94_03
zs_94_03
zs_96_03
zs_96_03
zt_94_02
zt_94_02

,cat,account,fastest_MktOpen,jitter_MktOpen,fastest_RestOfDay,jitter_RestOfDay,time_5p,time_50p,time_95p,server
0,SSE snapshot,total,NaN,20.0,NaN,15.0,NaN,NaN,NaN,zs_88_01
1,SSE snapshot,8865,59%,17.0,60%,12.0,93805000.0,112118000.0,144654000.0,zs_88_01
2,SSE snapshot,8867,41%,25.0,40%,20.0,93757000.0,112213000.0,144643000.0,zs_88_01
3,SSE trade,total,NaN,54.0,NaN,71.0,NaN,NaN,NaN,zs_88_01
4,SSE trade,8865,48%,38.0,61%,67.0,93251780.0,105704220.0,144823002.0,zs_88_01
5,SSE trade,8867,52%,86.0,39%,77.0,93120460.0,103059540.0,144602280.0,zs_88_01
6,SZE message,total,NaN,23.0,NaN,13.0,NaN,NaN,NaN,zs_94_03
7,SZE message,9448,48%,21.0,54%,14.0,93215110.0,105128160.0,144744370.0,zs_94_03
8,SZE message,9451,19%,22.0,18%,10.0,93127530.0,105403540.0,144808980.0,zs_94_03
9,SZE message,9454,33%,25.0,29%,15.0,93126780.0,104729080.0,144735655.0,zs_94_03
10,SZE snapshot,total,NaN,58.0,NaN,29.0,NaN,NaN,NaN,zs_94_03
11,SZE snapshot,9448,20%,67.0,12%,30.0,93603000.0,111248000.0,144236000.0,zs_94_03
12,SZE snapshot,9451,46%,63.0,54%,30.0,94036000.0,130000000.0,144706000.0,zs_94_03
13,SZE snapshot,9454,34%,48.0,34%,27.0,93945000.0,112524000.0,144633000.0,zs_94_03
14,SZE message,total,NaN,13.0,NaN,5.0,NaN,NaN,NaN,zs_96_03
15,SZE message,9756,14%,2.0,20%,2.0,93320700.0,131241090.0,144623640.0,zs_96_03
16,SZE message,9758,12%,33.0,25%,6.0,93623390.0,135116440.0,145412540.0,zs_96_03
17,SZE message,9765,74%,15.0,55%,6.0,93120800.0,101445660.0,142618760.0,zs_96_03
18,SZE snapshot,total,NaN,55.0,NaN,335.0,NaN,NaN,NaN,zs_96_03
19,SZE snapshot,9756,18%,98.0,32%,416.0,94909000.0,131424000.0,144603000.0,zs_96_03
20,SZE snapshot,9758,31%,545.0,47%,445.0,94415000.0,131048000.0,144857000.0,zs_96_03
21,SZE snapshot,9765,51%,28.0,21%,26.0,93403000.0,103306000.0,142821000.0,zs_96_03
22,SSE snapshot,total,NaN,25.0,NaN,15.0,NaN,NaN,NaN,zt_94_02
23,SSE snapshot,9551,43%,19.0,51%,14.0,94207360.0,112537880.0,144540000.0,zt_94_02
24,SSE snapshot,9561,57%,40.0,49%,16.0,93928490.0,130040000.0,144635950.0,zt_94_02
25,SSE trade,total,NaN,148.0,NaN,68.0,NaN,NaN,NaN,zt_94_02
26,SSE trade,9551,10%,25.0,23%,26.0,93624610.0,111311880.0,144806670.0,zt_94_02
27,SSE trade,9561,90%,167.0,77%,85.0,93144530.0,103921490.0,144752300.0,zt_94_02

In [19]:
for col in ["time_5p", "time_50p", "time_95p"]:
        db[col] = db[col].fillna(90000000)
        db[col] = db[col].astype(int).astype(str).str.zfill(9)
        db[col] = db[col].str[0:2] + ":" + db[col].str[2:4] + ":" + db[col].str[4:6]
        db[col] = np.where(db[col] == "09:00:00", "", db[col])
for col in ["jitter_MktOpen", "jitter_RestOfDay"]:
        db[col] = db[col].astype(int)
db = db.fillna("")
from IPython.display import display, HTML
display(HTML(db.groupby(["server", "cat", "account"])["fastest_MktOpen", "jitter_MktOpen", "fastest_RestOfDay", "jitter_RestOfDay",
                 "time_5p", "time_50p", "time_95p"].first().to_html()))

In [20]:
re1 = df.groupby(["server", "cat"])["jitter"].quantile(0.5).reset_index()
re1 = pd.merge(re1, db[db["account"] == "total"].loc[:, ["server", "cat", "jitter_MktOpen", "jitter_RestOfDay"]], on=["server", "cat"])
for col in ["jitter", "jitter_MktOpen", "jitter_RestOfDay"]:
        re1[col] = re1[col].astype(int)
from IPython.display import display, HTML
display(HTML(re1.groupby(["server", "cat"])["jitter", "jitter_MktOpen", "jitter_RestOfDay"].first().to_html()))
# mo = df[df["time"] <= 93500000]
# el = df[df["time"] > 93500000]

# n1 = mo["jitter"].abs().quantile(.5)
# n2 = el["jitter"].abs().quantile(.5)
# de1 = el.groupby(["faster"])["jitter"].count().reset_index()
# de1 = de1.rename(columns={"jitter": "fastest_RestOfDay"})
# de1 = pd.concat([de1, el.groupby(["faster"])["jitter"].quantile(.5).reset_index().iloc[:, 1:]], axis=1)
# de1 = de1.rename(columns={"jitter": "jitter_RestOfDay"})
# de1 = pd.concat([de1, mo.groupby(["faster"])["jitter"].count().reset_index().iloc[:, 1:]], axis=1)
# de1 = de1.rename(columns={"jitter": "fastest_MktOpen"})
# de1 = pd.concat([de1, mo.groupby(["faster"])["jitter"].quantile(.5).reset_index().iloc[:, 1:]], axis=1)
# de1 = de1.rename(columns={"jitter": "jitter_MktOpen"})
# de1["fastest_RestOfDay"] = de1["fastest_RestOfDay"] / de1["fastest_RestOfDay"].sum()
# de1["fastest_RestOfDay"] = de1["fastest_RestOfDay"].apply(lambda x: '%.f%%'%(x*100))
# de1["fastest_MktOpen"] = de1["fastest_MktOpen"] / de1["fastest_MktOpen"].sum()
# de1["fastest_MktOpen"] = de1["fastest_MktOpen"].apply(lambda x: '%.f%%'%(x*100))
# de1["jitter_RestOfDay"] = de1["jitter_RestOfDay"].abs()
# de1["jitter_MktOpen"] = de1["jitter_MktOpen"].abs()
# de1 = de1.rename(columns={"faster": "account"})
# de1.loc[-1] = ["total", "", n2, "", n1]
# de1.index = de1.index + 1
# de1.sort_index(inplace=True)

# list1 = df[df["faster"] == int(accountLs[0])]["time"].describe([0.05, 0.5, 0.95])
# list2 = df[df["faster"] == int(accountLs[1])]["time"].describe([0.05, 0.5, 0.95])
# list3 = df[df["faster"] == int(accountLs[2])]["time"].describe([0.05, 0.5, 0.95])
# t1 = [np.nan, list1["5%"], list2["5%"], list3["5%"]]
# t2 = [np.nan, list1["50%"], list2["50%"], list3["50%"]]
# t3 = [np.nan, list1["95%"], list2["95%"], list3["95%"]]
# de1["time_5p"] = pd.Series(t1)
# de1["time_50p"] = pd.Series(t2)
# de1["time_95p"] = pd.Series(t3)
# for col in ["time_5p", "time_50p", "time_95p"]:
#         de1[col] = de1[col].fillna(1)
#         de1[col] = de1[col].astype(int)
#         de1[col] = np.where(de1[col] == 1, '', de1[col])
# de1 = de1.fillna("")
# de1["server"] = server
# de1 = de1.loc[:, ["server", "account", "fastest_MktOpen", "jitter_MktOpen", "fastest_RestOfDay", "jitter_RestOfDay",
#                  "time_5p", "time_50p", "time_95p"]]
# de1.groupby(["server", "account"])["fastest_MktOpen", "jitter_MktOpen", "fastest_RestOfDay", "jitter_RestOfDay",
#                  "time_5p", "time_50p", "time_95p"].first()