In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
from decimal import Decimal, getcontext, ROUND_HALF_UP
logSH = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20200324_zs_92_01_day_data\mdLog_SH_20200324_0836.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
logSH1 = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\check\20200324\full_20200324_zt_88_02_day_8843.tar\mdLog_SH_20200324_0838.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                               "exchange", "time", "cum_volume", "cum_amount", "close",
                                               "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                               "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                               "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                               "ask4q", "ask5q", "openPrice"]]

# 1. data format
print("original data source type: ")
print(logSH["source"].unique())
print("new data source type: ")
print(logSH1["source"].unique())
print(logSH["time"].unique())
print(logSH1["time"].unique())

original data source type:
[5 3 4]
new data source type:
[22 23]
['08:36:19.000' '08:36:19.110' '08:36:20.200' ... '15:12:57.000'
 '15:12:57.460' '15:12:58.220']
['08:39:20.450' '08:39:22.980' '08:39:24.110' ... '15:30:14.000'
 '15:30:15.530' '15:30:16.310']

In [1]:
import pandas as pd
import numpy as np
post = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\check\20200317\full_20200316_zt_52_01_day_5274\full_20200316_zt_52_01_day_5274.tar.gz\mdLog_SH_20200316_0912.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
pre = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\check\20200317\full_20200316_zt_52_01_day_5271\mdLog_SH_20200316_0909.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
tdf = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\check\20200317\full_20200316_zt_52_01_day_sidetdf\mdLog_SH_20200316_0909.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]

print("post data source type: ")
print(post["source"].unique())
print("pre data source type: ")
print(pre["source"].unique())
print("tdf data source type: ")
print(tdf["source"].unique())

print(post["time"].unique())
print(pre["time"].unique())
print(tdf["time"].unique())

post data source type:
[22 23]
pre data source type:
[23 22]
tdf data source type:
[20 21]
['09:12:05.390' '09:12:05.000' '09:12:06.000' ... '15:18:25.540'
 '15:18:26.800' '15:18:27.000']
['09:09:56.000' '09:10:00.110' '09:10:00.140' ... '15:18:23.810'
 '15:18:23.000' '15:18:24.760']
['08:47:22' '08:48:11' '08:48:07' ... '15:30:52' '15:30:55' '15:30:58']

In [2]:
post["time"] = post["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
pre["time"] = pre["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
tdf["time"] = tdf["time"].apply(lambda x: int((x.replace(':', "")).ljust(9, "0")))

In [3]:
display(post[(post["StockID"] == 600004) & (post["time"] >= 133000000) & (post["time"] <= 135000000)])
display(pre[(pre["StockID"] == 600004) & (pre["time"] >= 133000000) & (pre["time"] <= 135000000)])
display(tdf[(tdf["StockID"] == 600004) & (tdf["time"] >= 133000000) & (tdf["time"] <= 135000000)])

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
8548830,1584336600070567,119557242,23,600004,SH,133000000,13176956,1.870726e+08,14.01,14.01,...,14.03,14.04,14.05,14.06,87300,137200,71418,13100,600,14.51
8550055,1584336601014503,119571359,22,600004,SH,133001000,13177356,1.870782e+08,14.01,14.01,...,14.03,14.04,14.05,14.06,90600,137200,71418,13100,600,14.51
8551570,1584336603088341,119594968,23,600004,SH,133003000,13177856,1.870852e+08,14.02,14.01,...,14.03,14.04,14.05,14.06,90500,137200,71418,13100,600,14.51
8552838,1584336604060352,119609802,22,600004,SH,133004000,13179771,1.871121e+08,14.01,14.01,...,14.03,14.04,14.05,14.06,86900,137200,71418,13100,600,14.51
8554376,1584336606088745,119635354,23,600004,SH,133006000,13179771,1.871121e+08,14.01,14.01,...,14.03,14.04,14.05,14.06,89100,137200,71418,13100,600,14.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663174,1584337794504401,135378871,23,600004,SH,134954000,15769873,2.232852e+08,13.96,13.96,...,13.99,14.00,14.01,14.02,23500,500,18200,57000,17100,14.51
9663947,1584337795108540,135388314,22,600004,SH,134955100,15769873,2.232852e+08,13.96,13.96,...,13.99,14.00,14.01,14.02,23500,500,18200,57000,17100,14.51
9665942,1584337797494379,135412605,23,600004,SH,134957000,15785885,2.235087e+08,13.96,13.95,...,13.97,13.99,14.00,14.01,6688,23500,500,18200,57000,14.51
9666731,1584337798106065,135423264,22,600004,SH,134958090,15785985,2.235101e+08,13.96,13.95,...,13.97,13.99,14.00,14.01,7988,16700,500,18200,57000,14.51
9668273,1584337800376299,135448061,23,600004,SH,135000000,15789485,2.235590e+08,13.96,13.95,...,13.97,13.99,14.00,14.01,7488,16700,500,18200,57000,14.51

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
8560127,1584336601014116,119572647,22,600004,SH,133001000,13177356,1.870782e+08,14.01,14.01,...,14.03,14.04,14.05,14.06,90600,137200,71418,13100,600,14.51
8561642,1584336603087760,119596256,23,600004,SH,133002000,13177856,1.870852e+08,14.02,14.01,...,14.03,14.04,14.05,14.06,90500,137200,71418,13100,600,14.51
8562910,1584336604059874,119611093,22,600004,SH,133004000,13179771,1.871121e+08,14.01,14.01,...,14.03,14.04,14.05,14.06,86900,137200,71418,13100,600,14.51
8564448,1584336606076427,119636356,23,600004,SH,133005000,13179771,1.871121e+08,14.01,14.01,...,14.03,14.04,14.05,14.06,89100,137200,71418,13100,600,14.51
8565695,1584336607007709,119649436,22,600004,SH,133007000,13180371,1.871205e+08,14.01,14.01,...,14.03,14.04,14.05,14.06,89100,137200,71418,13100,600,14.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9673246,1584337794499670,135379479,23,600004,SH,134954000,15769873,2.232852e+08,13.96,13.96,...,13.99,14.00,14.01,14.02,23500,500,18200,57000,17100,14.51
9674019,1584337795107639,135388920,22,600004,SH,134955100,15769873,2.232852e+08,13.96,13.96,...,13.99,14.00,14.01,14.02,23500,500,18200,57000,17100,14.51
9676014,1584337797493684,135413178,23,600004,SH,134957000,15785885,2.235087e+08,13.96,13.95,...,13.97,13.99,14.00,14.01,6688,23500,500,18200,57000,14.51
9676803,1584337798101526,135423870,22,600004,SH,134958090,15785985,2.235101e+08,13.96,13.95,...,13.97,13.99,14.00,14.01,7988,16700,500,18200,57000,14.51
9678345,1584337800375991,135448668,23,600004,SH,135000000,15789485,2.235590e+08,13.96,13.95,...,13.97,13.99,14.00,14.01,7488,16700,500,18200,57000,14.51

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
7353803,1584336601018026,96221474,20,600004,SH,133000000,13177356,187078220.0,14.01,14.01,...,14.03,14.04,14.05,14.06,90600,137200,71418,13100,600,14.51
7355074,1584336603106110,96241010,21,600004,SH,133002000,13177856,187085226.0,14.02,14.01,...,14.03,14.04,14.05,14.06,90500,137200,71418,13100,600,14.51
7356357,1584336604076888,96252584,20,600004,SH,133003000,13179771,187112055.0,14.01,14.01,...,14.03,14.04,14.05,14.06,86900,137200,71418,13100,600,14.51
7357743,1584336606090259,96273856,21,600004,SH,133005000,13179771,187112055.0,14.01,14.01,...,14.03,14.04,14.05,14.06,89100,137200,71418,13100,600,14.51
7358899,1584336607040512,96284313,20,600004,SH,133006000,13180371,187120461.0,14.01,14.01,...,14.03,14.04,14.05,14.06,89100,137200,71418,13100,600,14.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8376683,1584337794524697,108981992,21,600004,SH,134954000,15769873,223285203.0,13.96,13.96,...,13.99,14.00,14.01,14.02,23500,500,18200,57000,17100,14.51
8377382,1584337795126417,108989702,20,600004,SH,134954000,15769873,223285203.0,13.96,13.96,...,13.99,14.00,14.01,14.02,23500,500,18200,57000,17100,14.51
8379224,1584337797513779,109009136,21,600004,SH,134957000,15785885,223508731.0,13.96,13.95,...,13.97,13.99,14.00,14.01,6688,23500,500,18200,57000,14.51
8379937,1584337798135234,109018193,20,600004,SH,134957000,15785985,223510127.0,13.96,13.95,...,13.97,13.99,14.00,14.01,7988,16700,500,18200,57000,14.51
8381234,1584337800389203,109038209,21,600004,SH,135000000,15789485,223558987.0,13.96,13.95,...,13.97,13.99,14.00,14.01,7488,16700,500,18200,57000,14.51

In [75]:
# lv1 comparison
in_dex = [16, 300, 852, 905]
data1 = post[~post["StockID"].isin(in_dex) & (post["cum_volume"] > 0) & (post["time"] <= 145700000)
              & (post["source"] == 22)]
data2 = pre[~pre["StockID"].isin(in_dex) & (pre["cum_volume"] > 0) & (pre["time"] <= 145700000)
              & (pre["source"] == 22)]
data3 = tdf[~tdf["StockID"].isin(in_dex) & (tdf["cum_volume"] > 0) & (tdf["time"] <= 145700000)
              & (tdf["source"] == 20)]
columns = ["cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
data1 = data1.groupby("StockID")[data1.columns[~data1.columns.isin(["StockID"])].values].apply(
    lambda x: x[~x.duplicated(columns, keep="first")]).reset_index()
data2 = data2.groupby("StockID")[data2.columns[~data2.columns.isin(["StockID"])].values].apply(
    lambda x: x[~x.duplicated(columns, keep="first")]).reset_index()
data3 = data3.groupby("StockID")[data3.columns[~data3.columns.isin(["StockID"])].values].apply(
    lambda x: x[~x.duplicated(columns, keep="first")]).reset_index()
data1 = data1.drop("level_1", axis=1)
data2 = data2.drop("level_1", axis=1)
data3 = data3.drop("level_1", axis=1)
n1 = len(data1["StockID"].unique())
n2 = len(data2["StockID"].unique())
n3 = len(data3["StockID"].unique())
print(n1)
print(n2)
print(n3)

1581
1581
1552

In [86]:
columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
# data1 = data1[data1["StockID"].isin(sl)]
data2 = data2[data2["StockID"].isin(sl)]
test = pd.merge(data2, data3, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
display(test[test["sequenceNo_x"].isnull()]["time_y"].unique())
display(test[test["sequenceNo_x"].isnull()])
display(test[test["sequenceNo_y"].isnull()]["time_x"].unique())
display(test[test["sequenceNo_y"].isnull()])

5432028
5432544
5432544

array([145700000, 145659000], dtype=int64)

,StockID,clockAtArrival_x,sequenceNo_x,source_x,exchange_x,time_x,cum_volume,cum_amount,close,bid1p,...,ask2q,ask3q,ask4q,ask5q,openPrice,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,time_y
5432028,600016,NaN,NaN,NaN,NaN,NaN,101796944,585070758.0,5.68,0.00,...,0,0,0,0,5.79,1584341821443887,148492789,20,SH,145700000
5432029,600018,NaN,NaN,NaN,NaN,NaN,40696366,189629064.0,4.56,4.56,...,66400,0,0,0,4.65,1584341821243877,148491541,20,SH,145659000
5432030,600020,NaN,NaN,NaN,NaN,NaN,22582701,89456848.0,3.90,0.00,...,0,0,0,0,4.02,1584341821294747,148491878,20,SH,145659000
5432031,600022,NaN,NaN,NaN,NaN,NaN,69277222,90008195.0,1.28,0.00,...,0,0,0,0,1.31,1584341821494550,148493174,20,SH,145700000
5432032,600023,NaN,NaN,NaN,NaN,NaN,20722606,70956629.0,3.40,3.40,...,637547,344200,689452,318800,3.44,1584341821494737,148493237,20,SH,145700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5432539,688321,NaN,NaN,NaN,NaN,NaN,1951924,99785808.0,49.32,49.32,...,332,1300,4500,460,52.70,1584341821495078,148493349,20,SH,145700000
5432540,688358,NaN,NaN,NaN,NaN,NaN,988548,70065906.0,68.60,0.00,...,0,0,0,0,73.50,1584341821295787,148492244,20,SH,145700000
5432541,688368,NaN,NaN,NaN,NaN,NaN,826095,68981036.0,79.99,0.00,...,0,0,0,0,84.39,1584341821295776,148492240,20,SH,145700000
5432542,688388,NaN,NaN,NaN,NaN,NaN,2933288,175209872.0,57.00,0.00,...,0,0,0,0,60.92,1584341821494890,148493286,20,SH,145700000
5432543,688389,NaN,NaN,NaN,NaN,NaN,2756537,54987443.0,19.17,0.00,...,0,0,0,0,20.00,1584341821295729,148492224,20,SH,145700000

array([], dtype=float64)

Empty DataFrame
Columns: [StockID, clockAtArrival_x, sequenceNo_x, source_x, exchange_x, time_x, cum_volume, cum_amount, close, bid1p, bid2p, bid3p, bid4p, bid5p, bid1q, bid2q, bid3q, bid4q, bid5q, ask1p, ask2p, ask3p, ask4p, ask5p, ask1q, ask2q, ask3q, ask4q, ask5q, openPrice, clockAtArrival_y, sequenceNo_y, source_y, exchange_y, time_y]
Index: []

[0 rows x 35 columns]

In [88]:
test = test[~test["sequenceNo_x"].isnull()]
test = test[~test["sequenceNo_y"].isnull()]
diff = test["clockAtArrival_y"] - test["clockAtArrival_x"]
print(np.median(diff[diff < 0]))
print(np.median(diff[diff > 0]))
print(sum(diff < 0)/len(diff))
print(sum(diff > 0)/len(diff))

C:\Users\win\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\win\Anaconda3\lib\site-packages\numpy\core\_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

nan
26603.0
0.0
1.0

In [67]:
# lv2 comparison
in_dex = [16, 300, 852, 905]
data1 = post[~post["StockID"].isin(in_dex) & (post["cum_volume"] > 0) & (post["time"] <= 145700000)
              & (post["source"] == 23)]
data2 = pre[~pre["StockID"].isin(in_dex) & (pre["cum_volume"] > 0) & (pre["time"] <= 145700000)
              & (pre["source"] == 23)]
data3 = tdf[~tdf["StockID"].isin(in_dex) & (tdf["cum_volume"] > 0) & (tdf["time"] <= 145700000)
              & (tdf["source"] == 21)]
columns = ["cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q"]
data1 = data1.groupby("StockID")[data1.columns[~data1.columns.isin(["StockID"])].values].apply(
    lambda x: x[~x.duplicated(columns, keep="first")]).reset_index()
data2 = data2.groupby("StockID")[data2.columns[~data2.columns.isin(["StockID"])].values].apply(
    lambda x: x[~x.duplicated(columns, keep="first")]).reset_index()
data3 = data3.groupby("StockID")[data3.columns[~data3.columns.isin(["StockID"])].values].apply(
    lambda x: x[~x.duplicated(columns, keep="first")]).reset_index()
data1 = data1.drop("level_1", axis=1)
data2 = data2.drop("level_1", axis=1)
data3 = data3.drop("level_1", axis=1)
n1 = len(data1["StockID"].unique())
n2 = len(data2["StockID"].unique())
n3 = len(data3["StockID"].unique())
print(n1)
print(n2)
print(n3)
sl = list(set(data1["StockID"].unique()) & set(data3["StockID"].unique()))
print(len(sl))

1581
1581
1552
1552

In [68]:
# columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
#            "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
#            "ask4q", "ask5q", "openPrice"]
columns = ["StockID", "cum_volume", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q"]
data1 = data1[data1["StockID"].isin(sl)]
# data2 = data2[data2["StockID"].isin(sl)]
test = pd.merge(data1, data3, left_on=columns, right_on=columns, how="outer", validate="one_to_one")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
display(test[test["sequenceNo_x"].isnull()]["time_y"].unique())
display(test[test["sequenceNo_x"].isnull()])
display(test[test["sequenceNo_y"].isnull()]["time_x"].unique())
display(test[test["sequenceNo_y"].isnull()])

5727112
5727285
5727285

array([145700000], dtype=int64)

,StockID,clockAtArrival_x,sequenceNo_x,source_x,exchange_x,time_x,cum_volume,cum_amount_x,close,bid1p,...,ask4q,ask5q,openPrice_x,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,time_y,cum_amount_y,openPrice_y
5727112,600012,NaN,NaN,NaN,NaN,NaN,5517989,NaN,5.35,0.0,...,0,0,NaN,1584341821016389,148489445,21,SH,145700000,30026023.0,5.45
5727113,600038,NaN,NaN,NaN,NaN,NaN,7933018,NaN,41.29,0.0,...,0,0,NaN,1584341821016403,148489447,21,SH,145700000,336003054.0,42.35
5727114,600061,NaN,NaN,NaN,NaN,NaN,36528746,NaN,12.50,0.0,...,0,0,NaN,1584341821016410,148489449,21,SH,145700000,473684633.0,13.43
5727115,600064,NaN,NaN,NaN,NaN,NaN,16649115,NaN,8.81,0.0,...,0,0,NaN,1584341821016421,148489451,21,SH,145700000,150086808.0,9.08
5727116,600106,NaN,NaN,NaN,NaN,NaN,11141647,NaN,2.78,0.0,...,0,0,NaN,1584341821016430,148489453,21,SH,145700000,31496370.0,2.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5727280,688202,NaN,NaN,NaN,NaN,NaN,625721,NaN,71.01,0.0,...,0,0,NaN,1584341821017188,148489687,21,SH,145700000,46415119.0,78.50
5727281,688268,NaN,NaN,NaN,NaN,NaN,4562867,NaN,62.00,0.0,...,0,0,NaN,1584341821017197,148489689,21,SH,145700000,285233054.0,60.60
5727282,688363,NaN,NaN,NaN,NaN,NaN,1835157,NaN,79.02,0.0,...,0,0,NaN,1584341821017204,148489691,21,SH,145700000,151519546.0,84.95
5727283,688369,NaN,NaN,NaN,NaN,NaN,2089623,NaN,68.88,0.0,...,0,0,NaN,1584341821017210,148489693,21,SH,145700000,152356210.0,72.01
5727284,688399,NaN,NaN,NaN,NaN,NaN,1714419,NaN,81.85,0.0,...,0,0,NaN,1584341821017217,148489695,21,SH,145700000,146613242.0,85.50

array([], dtype=float64)

Empty DataFrame
Columns: [StockID, clockAtArrival_x, sequenceNo_x, source_x, exchange_x, time_x, cum_volume, cum_amount_x, close, bid1p, bid2p, bid3p, bid4p, bid5p, bid1q, bid2q, bid3q, bid4q, bid5q, ask1p, ask2p, ask3p, ask4p, ask5p, ask1q, ask2q, ask3q, ask4q, ask5q, openPrice_x, clockAtArrival_y, sequenceNo_y, source_y, exchange_y, time_y, cum_amount_y, openPrice_y]
Index: []

[0 rows x 37 columns]

In [69]:
test = test[~test["sequenceNo_x"].isnull()]
test = test[~test["sequenceNo_y"].isnull()]
diff = test["clockAtArrival_y"] - test["clockAtArrival_x"]
print(np.median(diff[diff < 0]))
print(np.median(diff[diff > 0]))
print(sum(diff < 0)/len(diff))
print(sum(diff > 0)/len(diff))

-758.0
10424.0
0.0019702775150896297
0.9980250080668931

In [106]:
# index comparison
data1 = post[post["StockID"].isin(in_dex) & (post["cum_volume"] > 0) & (post["time"] <= 145700000)]
data2 = pre[pre["StockID"].isin(in_dex) & (pre["cum_volume"] > 0) & (pre["time"] <= 145700000)]
data3 = tdf[tdf["StockID"].isin(in_dex) & (tdf["cum_volume"] > 0) & (tdf["time"] <= 145700000)]
data1 = data1[data1["openPrice"] != 0]
data2 = data2[data2["openPrice"] != 0]
data3 = data3[data3["openPrice"] != 0]
columns = ["cum_volume", "cum_amount", "close", "openPrice"]
data1 = data1.groupby("StockID")[data1.columns[~data1.columns.isin(["StockID"])].values].apply(
    lambda x: x[~x.duplicated(columns, keep="first")]).reset_index()
data2 = data2.groupby("StockID")[data2.columns[~data2.columns.isin(["StockID"])].values].apply(
    lambda x: x[~x.duplicated(columns, keep="first")]).reset_index()
data3 = data3.groupby("StockID")[data3.columns[~data3.columns.isin(["StockID"])].values].apply(
    lambda x: x[~x.duplicated(columns, keep="first")]).reset_index()
data1 = data1.drop("level_1", axis=1)
data2 = data2.drop("level_1", axis=1)
data3 = data3.drop("level_1", axis=1)

In [112]:
columns = ["StockID", "cum_volume", "close", "openPrice"]
test = pd.merge(data2, data3, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
display(test[test["sequenceNo_x"].isnull()]["time_y"].unique())
display(test[test["sequenceNo_x"].isnull()])
display(test[test["sequenceNo_y"].isnull()]["time_x"].unique())
display(test[test["sequenceNo_y"].isnull()])

17104
17111
17111

array([145659000, 145700000], dtype=int64)

,StockID,clockAtArrival_x,sequenceNo_x,source_x,exchange_x,time_x,cum_volume,cum_amount_x,close,bid1p_x,...,ask1p_y,ask2p_y,ask3p_y,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y
17104,16,NaN,NaN,NaN,NaN,NaN,46478096,NaN,2695.1926,NaN,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
17105,300,NaN,NaN,NaN,NaN,NaN,183983637,NaN,3730.0003,NaN,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
17106,300,NaN,NaN,NaN,NaN,NaN,183983637,NaN,3730.0003,NaN,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
17107,852,NaN,NaN,NaN,NaN,NaN,244224833,NaN,5660.0453,NaN,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
17108,852,NaN,NaN,NaN,NaN,NaN,244224833,NaN,5660.0453,NaN,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
17109,905,NaN,NaN,NaN,NaN,NaN,184996989,NaN,5202.9375,NaN,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
17110,905,NaN,NaN,NaN,NaN,NaN,184996989,NaN,5202.9375,NaN,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0

array([], dtype=float64)

Empty DataFrame
Columns: [StockID, clockAtArrival_x, sequenceNo_x, source_x, exchange_x, time_x, cum_volume, cum_amount_x, close, bid1p_x, bid2p_x, bid3p_x, bid4p_x, bid5p_x, bid1q_x, bid2q_x, bid3q_x, bid4q_x, bid5q_x, ask1p_x, ask2p_x, ask3p_x, ask4p_x, ask5p_x, ask1q_x, ask2q_x, ask3q_x, ask4q_x, ask5q_x, openPrice, clockAtArrival_y, sequenceNo_y, source_y, exchange_y, time_y, cum_amount_y, bid1p_y, bid2p_y, bid3p_y, bid4p_y, bid5p_y, bid1q_y, bid2q_y, bid3q_y, bid4q_y, bid5q_y, ask1p_y, ask2p_y, ask3p_y, ask4p_y, ask5p_y, ask1q_y, ask2q_y, ask3q_y, ask4q_y, ask5q_y]
Index: []

[0 rows x 56 columns]

In [98]:
display(data1[(data1["StockID"] == 16) & (data1["cum_volume"] == 601421)])
display(data3[(data3["StockID"] == 16) & (data3["cum_volume"] == 601421)])
display(data1[(data1["StockID"] == 16) & (data1["cum_volume"] == 601421)]["cum_amount"].iloc[0])
display(data3[(data3["StockID"] == 16) & (data3["cum_volume"] == 601421)]["cum_amount"].iloc[0])

,StockID,clockAtArrival,sequenceNo,source,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,16,1584321916767497,2798334,22,SH,92515140,601421,1.089761e+09,2799.9951,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0000
1,16,1584321920115458,2842622,22,SH,92520110,601421,1.089761e+09,2799.9951,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,2799.9951

,StockID,clockAtArrival,sequenceNo,source,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
0,16,1584321915182092,2366582,20,SH,92515000,601421,1.089760e+09,2799.9951,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0.0000
1,16,1584321920133945,2394717,20,SH,92512000,601421,1.089760e+09,2799.9951,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,2799.9951

1089760539.0

1089760500.0

In [113]:
test = test[~test["sequenceNo_x"].isnull()]
test = test[~test["sequenceNo_y"].isnull()]
diff = test["clockAtArrival_y"] - test["clockAtArrival_x"]
print(np.median(diff[diff < 0]))
print(np.median(diff[diff > 0]))
print(sum(diff < 0)/len(diff))
print(sum(diff > 0)/len(diff))

-46290.0
19866.0
0.12681244153414406
0.8731875584658559

In [114]:
test[test["clockAtArrival_y"] - test["clockAtArrival_x"] < 0].loc[:, ["StockID", "cum_volume", "time_x", "time_y", "openPrice"]]

       StockID  cum_volume       time_x     time_y  openPrice
46          16     2562543   93230070.0   93230000  2799.9951
67          16     3201211   93345080.0   93345000  2799.9951
71          16     3285962   93400080.0   93400000  2799.9951
84          16     3570010   93445050.0   93445000  2799.9951
92          16     3767884   93515070.0   93515000  2799.9951
...        ...         ...          ...        ...        ...
16999      905   179438006  145055210.0  145055000  5496.8890
17005      905   179626408  145110210.0  145110000  5496.8890
17025      905   180481866  145220190.0  145220000  5496.8890
17031      905   180807345  145245220.0  145245000  5496.8890
17043      905   181357619  145325220.0  145325000  5496.8890

[2169 rows x 5 columns]

In [2]:
logSH["time"] = logSH["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
logSH1["time"] = logSH1["time"].apply(lambda x: int((x.replace(':', "")).replace(".", "")))
# logSH1["time"] = logSH1["time"].apply(lambda x: int((x.replace(':', "")).ljust(9, "0")))

In [3]:
logSH[(logSH["StockID"] == 600004) & (logSH["time"] >= 133000000) & (logSH["time"] <= 135000000)]

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
8206827,1585027804556739,84107068,3,600004,SH,133000690,6087345,79392713.00,13.01,12.99,...,13.02,13.03,13.04,13.05,57800,900,1500,500,11500,12.93
8209149,1585027807505029,84138735,4,600004,SH,133002000,6087345,79392712.86,13.01,12.99,...,13.02,13.03,13.04,13.05,57800,900,1500,500,11500,12.93
8209170,1585027807576009,84139660,3,600004,SH,133003700,6087345,79392713.00,13.01,12.99,...,13.02,13.03,13.04,13.05,57800,900,1500,500,15500,12.93
8211138,1585027809804922,84165580,4,600004,SH,133005000,6088645,79409625.86,13.01,12.99,...,13.02,13.03,13.04,13.05,56500,900,1500,500,15500,12.93
8212122,1585027810560968,84173962,3,600004,SH,133006700,6088645,79409626.00,13.01,12.99,...,13.02,13.03,13.04,13.05,56700,900,1500,500,15500,12.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9249113,1585028998460923,95087345,4,600004,SH,134954000,6694022,87258100.42,13.00,12.99,...,13.01,13.02,13.03,13.04,30110,39600,8300,2500,3900,12.93
9249301,1585028998648060,95089479,3,600004,SH,134954780,6694022,87258100.00,13.00,12.99,...,13.01,13.02,13.03,13.04,30110,39600,8300,2500,3900,12.93
9251553,1585029001440671,95109356,4,600004,SH,134957000,6695122,87272400.42,13.00,12.99,...,13.01,13.02,13.03,13.04,29010,39600,8300,2500,3900,12.93
9251907,1585029001668287,95112733,3,600004,SH,134957780,6695122,87272400.00,13.00,12.99,...,13.01,13.02,13.03,13.04,29010,39600,8300,2500,3900,12.93
9254545,1585029004721174,95141692,4,600004,SH,135000000,6695122,87272400.42,13.00,12.99,...,13.01,13.02,13.03,13.04,29110,39600,8300,2500,3900,12.93

In [4]:
logSH1[(logSH1["StockID"] == 600004) & (logSH1["time"] >= 133000000) & (logSH1["time"] <= 135000000)]

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
8226695,1585027761679641,127665390,22,600004,SH,133000690,6087345,79392713.00,13.01,12.99,...,13.02,13.03,13.04,13.05,57800,900,1500,500,11500,12.93
8228611,1585027764044711,127701735,23,600004,SH,133002000,6087345,79392712.86,13.01,12.99,...,13.02,13.03,13.04,13.05,57800,900,1500,500,11500,12.93
8229358,1585027764683178,127721221,22,600004,SH,133003700,6087345,79392713.00,13.01,12.99,...,13.02,13.03,13.04,13.05,57800,900,1500,500,15500,12.93
8230967,1585027766706752,127752859,23,600004,SH,133005000,6088645,79409625.86,13.01,12.99,...,13.02,13.03,13.04,13.05,56500,900,1500,500,15500,12.93
8232007,1585027767683956,127766813,22,600004,SH,133006700,6088645,79409626.00,13.01,12.99,...,13.02,13.03,13.04,13.05,56700,900,1500,500,15500,12.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9272538,1585028955541883,143723403,23,600004,SH,134954000,6694022,87258100.42,13.00,12.99,...,13.01,13.02,13.03,13.04,30110,39600,8300,2500,3900,12.93
9272865,1585028955773466,143726787,22,600004,SH,134954780,6694022,87258100.00,13.00,12.99,...,13.01,13.02,13.03,13.04,30110,39600,8300,2500,3900,12.93
9275065,1585028958540041,143756198,23,600004,SH,134957000,6695122,87272400.42,13.00,12.99,...,13.01,13.02,13.03,13.04,29010,39600,8300,2500,3900,12.93
9275466,1585028958783146,143760609,22,600004,SH,134957780,6695122,87272400.00,13.00,12.99,...,13.01,13.02,13.03,13.04,29010,39600,8300,2500,3900,12.93
9277873,1585028961672258,143798777,23,600004,SH,135000000,6695122,87272400.42,13.00,12.99,...,13.01,13.02,13.03,13.04,29110,39600,8300,2500,3900,12.93

In [6]:
# 2. lv1 data compare
# 2.1 drop duplicates
in_dex = logSH[logSH["source"] == 5]["StockID"].unique()
# in_dex = [16, 300, 852, 905]
data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH["cum_volume"] > 0) & (logSH["time"] <= 145700000)
              & (logSH["source"] == 3)]
data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0) & (logSH1["time"] <= 145700000)
              & (logSH1["source"] == 22)]
# data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH["time"] >= 103000000) & (logSH["time"] <= 145700000)
#               & (logSH["source"] == 3)]
# data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1["time"] >= 103000000) & (logSH1["time"] <= 145700000)
#               & (logSH1["source"] == 22)]
columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)

1585
1585

In [7]:
# 2.2 merge and compare
columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
data1_1 = data1_1[data1_1["StockID"].isin(data2_1["StockID"].unique())]
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
if len1 == n2:
    print((n2-n1)/n1)

5110907
5110991
5110991
1.6435438954377374e-05

In [8]:
# data difference
test[np.isnan(test["sequenceNo_x"])]

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,exchange_x,time_x,cum_volume,cum_amount,close,...,ask3q,ask4q,ask5q,openPrice,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,time_y
5110907,NaN,NaN,NaN,NaN,600207,NaN,NaN,273677,1177658.0,4.31,...,9000,500,17600,4.26,566875,1585013498596067,11530036,22,SH,93217570
5110908,NaN,NaN,NaN,NaN,600099,NaN,NaN,102800,612201.0,5.96,...,22500,24500,4000,5.95,566878,1585013498596084,11530039,22,SH,93217570
5110909,NaN,NaN,NaN,NaN,600636,NaN,NaN,133300,1593934.0,11.98,...,14500,1000,300,11.89,566892,1585013498598569,11530138,22,SH,93217570
5110910,NaN,NaN,NaN,NaN,600990,NaN,NaN,94900,3502740.0,36.90,...,4200,500,2000,36.92,566913,1585013498600882,11530216,22,SH,93217570
5110911,NaN,NaN,NaN,NaN,603458,NaN,NaN,92800,1583139.0,17.01,...,2900,1600,2300,17.10,592274,1585013522620008,12300782,22,SH,93241570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5110986,NaN,NaN,NaN,NaN,688020,NaN,NaN,731381,63472955.0,86.11,...,200,260,600,88.72,10690298,1585030680703726,162526064,22,SH,141839710
5110987,NaN,NaN,NaN,NaN,601368,NaN,NaN,1003600,5358690.0,5.36,...,36700,78200,41600,5.32,10759409,1585030764714816,163538708,22,SH,142003720
5110988,NaN,NaN,NaN,NaN,603538,NaN,NaN,6818754,190079046.0,27.61,...,10300,200,1500,28.64,11701065,1585031887009371,176593998,22,SH,143846020
5110989,NaN,NaN,NaN,NaN,603896,NaN,NaN,653700,17046818.0,25.94,...,100,300,2800,25.95,11701068,1585031887009391,176594001,22,SH,143846020
5110990,NaN,NaN,NaN,NaN,688089,NaN,NaN,1287397,42545171.0,33.41,...,8200,800,800,33.02,11813249,1585032019027575,178235755,22,SH,144058040

In [61]:
test1[test1["time_y"] == 145559520]

,StockID,clockAtArrival_x,sequenceNo_x,source_x,exchange_x,time_x,cum_volume,cum_amount,close,bid1p,...,ask2q,ask3q,ask4q,ask5q,openPrice,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,time_y
5255184,603991,NaN,NaN,NaN,NaN,NaN,419900,6572925.0,15.53,0.00,...,0,0,0,0,15.91,1581577027689495,129216138,9,SH,145559520
5255185,603991,NaN,NaN,NaN,NaN,NaN,419900,6572925.0,15.53,15.53,...,1400,0,0,0,15.91,1581577086708725,129436004,9,SH,145559520
5255186,603991,NaN,NaN,NaN,NaN,NaN,419900,6572925.0,15.53,15.53,...,1300,0,0,0,15.91,1581577089696207,129446505,9,SH,145559520
5255187,603991,NaN,NaN,NaN,NaN,NaN,419900,6572925.0,15.53,15.53,...,300,0,0,0,15.91,1581577104688673,129489766,9,SH,145559520
5255188,603991,NaN,NaN,NaN,NaN,NaN,419900,6572925.0,15.53,15.53,...,0,0,0,0,15.91,1581577110728471,129508649,9,SH,145559520
5255189,603991,NaN,NaN,NaN,NaN,NaN,419900,6572925.0,15.53,15.53,...,0,0,0,0,15.91,1581577125758214,129550369,9,SH,145559520
5255190,603991,NaN,NaN,NaN,NaN,NaN,419900,6572925.0,15.53,15.53,...,4900,0,0,0,15.91,1581577149699463,129612871,9,SH,145559520
5255191,603991,NaN,NaN,NaN,NaN,NaN,419900,6572925.0,15.53,15.53,...,8000,0,0,0,15.91,1581577152717050,129622288,9,SH,145559520
5255192,603991,NaN,NaN,NaN,NaN,NaN,419900,6572925.0,15.53,15.53,...,7000,0,0,0,15.91,1581577174692380,129681649,9,SH,145559520

In [72]:
data2_1[(data2_1["StockID"] == 600037) & (data2_1["cum_volume"] == 9497916)]

Empty DataFrame
Columns: [StockID, clockAtArrival, sequenceNo, source, exchange, time, cum_volume, cum_amount, close, bid1p, bid2p, bid3p, bid4p, bid5p, bid1q, bid2q, bid3q, bid4q, bid5q, ask1p, ask2p, ask3p, ask4p, ask5p, ask1q, ask2q, ask3q, ask4q, ask5q, openPrice]
Index: []

[0 rows x 30 columns]

In [62]:
logSH[(logSH["StockID"] == 603991) & (logSH["cum_volume"] == 419900)]

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
12601788,1581576959658723,157294093,23,603991,SH,145559000,419900,6572925.0,15.53,15.53,...,15.62,15.65,15.67,15.68,1800,9800,100,6500,3000,15.91
12604248,1581576962149907,157336734,22,603991,SH,145602040,419900,6572925.0,15.53,15.53,...,15.62,15.65,15.67,15.68,1800,9800,100,6500,3000,15.91
12616587,1581576974896738,157550803,23,603991,SH,145614000,419900,6572925.0,15.53,15.53,...,15.62,15.65,15.67,15.68,1800,9800,100,6500,3000,15.91
12618729,1581576976853144,157586780,22,603991,SH,145616430,419900,6572925.0,15.53,15.53,...,15.62,15.65,15.67,15.68,1800,9800,100,6500,3000,15.91
12618974,1581576977063172,157589887,22,603991,SH,145617040,419900,6572925.0,15.53,15.53,...,15.62,15.65,15.67,15.68,1800,9800,100,6500,3000,15.91
12625246,1581576983684409,157696887,23,603991,SH,145623000,419900,6572925.0,15.53,15.53,...,15.62,15.65,15.67,15.68,1800,9800,100,6500,3000,15.91
12627711,1581576986061128,157736633,22,603991,SH,145626040,419900,6572925.0,15.53,15.53,...,15.62,15.65,15.67,15.68,1800,9800,100,6500,3000,15.91
12640543,1581576999777382,157955990,23,603991,SH,145639000,419900,6572925.0,15.53,15.53,...,15.62,15.65,15.67,15.68,1800,9800,100,6500,3000,15.91
12643171,1581577002442461,157997699,23,603991,SH,145642000,419900,6572925.0,15.53,15.53,...,15.62,15.65,15.67,15.68,6800,9800,100,6500,3000,15.91
12644963,1581577004063553,158026490,22,603991,SH,145644040,419900,6572925.0,15.53,15.53,...,15.62,15.65,15.67,15.68,6800,9800,100,6500,3000,15.91
12647616,1581577006853994,158069714,22,603991,SH,145646440,419900,6572925.0,15.53,15.53,...,15.62,15.65,15.67,15.68,6800,9800,100,6500,3000,15.91
12650506,1581577009892180,158116389,23,603991,SH,145649000,419900,6572925.0,15.53,15.53,...,15.62,15.65,15.67,15.68,6800,9800,100,6500,3000,15.91
12650693,1581577010072705,158119223,22,603991,SH,145650040,419900,6572925.0,15.53,15.53,...,15.62,15.65,15.67,15.68,6800,9800,100,6500,3000,15.91
12661803,1581577020738566,158273241,23,603991,SH,145700000,419900,6572925.0,15.53,0.00,...,0.00,0.00,0.00,0.00,0,0,0,0,0,15.91
12662845,1581577022692970,158287028,22,603991,SH,145702670,419900,6572925.0,15.53,0.00,...,0.00,0.00,0.00,0.00,0,0,0,0,0,15.91
12673778,1581577036856422,158366969,22,603991,SH,145716420,419900,6572925.0,15.53,0.00,...,0.00,0.00,0.00,0.00,0,0,0,0,0,15.91
12695354,1581577066861644,158499896,22,603991,SH,145746410,419900,6572925.0,15.53,0.00,...,0.00,0.00,0.00,0.00,0,0,0,0,0,15.91
12700193,1581577074056967,158525846,23,603991,SH,145754000,419900,6572925.0,15.53,0.00,...,0.00,0.00,0.00,0.00,0,0,0,0,0,15.91
12705997,1581577082047309,158557043,22,603991,SH,145802030,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,1800,1400,0,0,0,15.91
12706200,1581577082064911,158557424,23,603991,SH,145802000,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,1800,1400,0,0,0,15.91
12708101,1581577085042871,158569847,22,603991,SH,145805030,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,1900,1300,0,0,0,15.91
12708340,1581577085063067,158570143,23,603991,SH,145805000,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,1900,1300,0,0,0,15.91
12716319,1581577096868444,158613257,22,603991,SH,145816420,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,1900,1300,0,0,0,15.91
12718462,1581577100040641,158623099,22,603991,SH,145820030,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,2900,300,0,0,0,15.91
12718690,1581577100064380,158623385,23,603991,SH,145820000,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,2900,300,0,0,0,15.91
12722664,1581577106067533,158646200,22,603991,SH,145826040,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,3200,0,0,0,0,15.91
12722832,1581577106080925,158646566,23,603991,SH,145826000,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,3200,0,0,0,0,15.91
12732795,1581577121050076,158697791,22,603991,SH,145841030,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,3700,0,0,0,0,15.91
12732999,1581577121065733,158698059,23,603991,SH,145841000,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,3700,0,0,0,0,15.91
12736576,1581577126873498,158715985,22,603991,SH,145846420,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,3700,0,0,0,0,15.91
12741246,1581577134055862,158740010,23,603991,SH,145854000,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,3700,0,0,0,0,15.91
12748728,1581577145049346,158775420,22,603991,SH,145905040,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,4100,4900,0,0,0,15.91
12748910,1581577145065311,158775759,23,603991,SH,145905000,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,4100,4900,0,0,0,15.91
12750843,1581577148050388,158786901,22,603991,SH,145908040,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,4100,8000,0,0,0,15.91
12751037,1581577148068871,158787146,23,603991,SH,145908000,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,4100,8000,0,0,0,15.91
12756914,1581577156873454,158817100,22,603991,SH,145916430,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,4100,8000,0,0,0,15.91
12765188,1581577169048543,158857974,22,603991,SH,145929030,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,5100,7000,0,0,0,15.91
12765425,1581577169070243,158858299,23,603991,SH,145929000,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,5100,7000,0,0,0,15.91
12776635,1581577186879443,158914413,22,603991,SH,145946430,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,5100,7000,0,0,0,15.91
12781142,1581577194054718,158935394,23,603991,SH,145954000,419900,6572925.0,15.53,15.53,...,0.00,0.00,0.00,0.00,5100,7000,0,0,0,15.91

In [9]:
# speed check
# test1 = test[~np.isnan(test["sequenceNo_x"])]
diff = test["clockAtArrival_y"] - test["clockAtArrival_x"]
print(np.median(diff[diff < 0]))
print(np.median(diff[diff > 0]))
print(sum(diff > 0)/len(diff))

nan
478.0
1.0

In [6]:
test1

,StockID,clockAtArrival_x,sequenceNo_x,source_x,exchange_x,time_x,cum_volume,cum_amount,close,bid1p,...,ask2q,ask3q,ask4q,ask5q,openPrice,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,time_y
0,600000,1.581557e+15,2076457.0,3.0,SH,92501570.0,83100,899142.0,10.82,10.82,...,10400,28500,134274,5200,10.82,1581557133340891,2695633,22,SH,92501570
1,600000,1.581557e+15,2344135.0,3.0,SH,93000830.0,96200,1040884.0,10.82,10.81,...,9100,10400,31800,132774,10.82,1581557432597510,3260343,22,SH,93000830
2,600000,1.581557e+15,2777388.0,3.0,SH,93003900.0,121300,1312504.0,10.82,10.81,...,22600,11400,132100,132774,10.82,1581557435666072,3580018,22,SH,93003900
3,600000,1.581557e+15,3205278.0,3.0,SH,93006890.0,176700,1912594.0,10.84,10.84,...,141108,58000,116200,41800,10.82,1581557438660852,3810103,22,SH,93006890
4,600000,1.581557e+15,3540091.0,3.0,SH,93009860.0,217500,2354806.0,10.82,10.82,...,132100,141108,58000,116200,10.82,1581557441619374,4065103,22,SH,93009860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5201904,688399,1.581577e+15,130482707.0,3.0,SH,145647050.0,3637498,354477985.0,99.36,99.36,...,1500,1824,4598,400,96.06,1581577039079299,178163215,22,SH,145647050
5201905,688399,1.581577e+15,130520604.0,3.0,SH,145650040.0,3638673,354594733.0,99.36,99.36,...,1500,1824,4598,400,96.06,1581577042084839,178214538,22,SH,145650040
5201906,688399,1.581577e+15,130556624.0,3.0,SH,145653060.0,3639868,354713468.0,99.36,99.34,...,2516,1500,1824,4598,96.06,1581577045087098,178263033,22,SH,145653060
5201907,688399,1.581577e+15,130590731.0,3.0,SH,145656050.0,3642268,354951924.0,99.34,99.34,...,2516,1500,1824,4598,96.06,1581577048098833,178311460,22,SH,145656050
5201908,688399,1.581577e+15,130626641.0,3.0,SH,145659050.0,3642839,355008659.0,99.36,99.36,...,1500,1824,4598,400,96.06,1581577051099080,178358321,22,SH,145659050

In [10]:
# 3. lv2 data compare
# 3.1 drop duplicates
# in_dex = [16, 300, 852, 905]
data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH["cum_volume"] > 0) & (logSH["time"] <= 145700000)
              & (logSH["source"] == 4)]
data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0) & (logSH1["time"] <= 145700000)
              & (logSH1["source"] == 23)]
# data1 = logSH[~logSH["StockID"].isin(in_dex) & (logSH["time"] >= 103000000) & (logSH["time"] <= 145700000)
#               & (logSH["source"] == 4)]
# data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1["time"] >= 103000000) & (logSH1["time"] <= 145700000)
#               & (logSH1["source"] == 23)]
columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
n1 = len(data1_1["StockID"].unique())
n2 = len(data2_1["StockID"].unique())
print(n1)
print(n2)

1585
1585

In [11]:
# 3.2 merge and compare
columns = ["StockID", "cum_volume", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
#columns = ["StockID", "cum_volume", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
#           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
#           "ask4q", "ask5q"]
data1_1 = data1_1[data1_1["StockID"].isin(data2_1["StockID"].unique())]
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)
if len1 == n2:
    print((n2-n1)/n1)

5416505
5432495
5469734

In [12]:
# 3.3 find difference
test[np.isnan(test["sequenceNo_y"])]

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,exchange_x,time_x,cum_volume,cum_amount_x,close,...,ask4q,ask5q,openPrice,index_y,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,time_y,cum_amount_y
3995,426686.0,1.585013e+15,2357683.0,4.0,600241,SH,93001000.0,10500,4.021500e+04,3.83,...,50000,15000,3.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,426687.0,1.585013e+15,2357684.0,4.0,600193,SH,93001000.0,19000,6.556000e+04,3.46,...,11000,110000,3.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3997,426688.0,1.585013e+15,2357688.0,4.0,600785,SH,93001000.0,500,6.951000e+03,13.98,...,1400,3001,13.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,426689.0,1.585013e+15,2363451.0,4.0,600791,SH,93001000.0,4300,1.431900e+04,3.33,...,1800,14800,3.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,426691.0,1.585013e+15,2377463.0,4.0,603937,SH,93001000.0,5000,4.927400e+04,9.87,...,1200,300,9.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5413952,12659380.0,1.585033e+15,127162390.0,4.0,600389,SH,145657000.0,1323922,2.400576e+07,18.21,...,2000,800,18.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5414058,12659619.0,1.585033e+15,127164834.0,4.0,603599,SH,145657000.0,2664295,3.884356e+07,14.74,...,17100,20000,14.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5414146,12660238.0,1.585033e+15,127171535.0,4.0,601298,SH,145658000.0,6039512,3.405361e+07,5.66,...,118900,205300,5.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5414740,12661170.0,1.585033e+15,127183158.0,4.0,601200,SH,145659000.0,10075845,1.191740e+08,11.93,...,22500,17800,11.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5414924,12661649.0,1.585033e+15,127188578.0,4.0,600299,SH,145659000.0,26559500,3.004727e+08,11.29,...,11300,4900,11.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
print(len(test[np.isnan(test["sequenceNo_y"])])/n1)

0.006875097502910087

In [29]:
data2_1[(data2_1["StockID"] == 600000) & (data2_1["cum_volume"] == 3111897)].loc[:, ["StockID", "cum_volume", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]]

,StockID,cum_volume,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
630607,600000,3111897,10.83,10.82,10.81,10.8,10.79,10.78,48867,283300,...,10.84,10.85,10.86,10.87,87600,105343,157600,312400,85200,10.76
630608,600000,3111897,10.83,10.82,10.81,10.8,10.79,10.78,48867,283300,...,10.84,10.85,10.86,10.87,80700,105343,157600,312400,85200,10.76
630609,600000,3111897,10.83,10.82,10.81,10.8,10.79,10.78,68267,272300,...,10.84,10.85,10.86,10.87,80700,105343,157600,312400,85200,10.76

In [30]:
data1_1[(data1_1["StockID"] == 600000) & (data1_1["cum_volume"] == 3111897)].loc[:, ["StockID", "cum_volume", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]]

,StockID,cum_volume,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
334,600000,3111897,10.83,10.82,10.81,10.8,10.79,10.78,48867,283300,...,10.84,10.85,10.86,10.87,87600,105343,157600,312400,85200,10.76
335,600000,3111897,10.83,10.82,10.81,10.8,10.79,10.78,48867,283300,...,10.84,10.85,10.86,10.87,80700,105343,157600,312400,85200,10.76
336,600000,3111897,10.83,10.82,10.81,10.8,10.79,10.78,68267,272300,...,10.84,10.85,10.86,10.87,80700,105343,157600,312400,85200,10.76
337,600000,3111897,10.83,10.82,10.81,10.8,10.79,10.78,68267,272300,...,10.84,10.85,10.86,10.87,80700,105343,152600,312400,85200,10.76

In [41]:
tt = pd.merge(data1_1, data2_1, left_on=["StockID", "cum_volume"], right_on=["StockID", "cum_volume"], how="outer")

In [61]:
tt1 = tt[np.isnan(tt["sequenceNo_x"])].groupby("StockID")["cum_volume"].unique().reset_index()
ll = 0
for i in range(len(tt1)):
    ll = ll + len(tt1["cum_volume"][i])
ll

16334

In [13]:
# speed check
#test1 = test[~np.isnan(test["sequenceNo_x"])]
#test1 = test1[~np.isnan(test1["sequenceNo_y"])]
diff = test["clockAtArrival_y"] - test["clockAtArrival_x"]
print(np.median(diff[diff < 0]))
print(np.median(diff[diff > 0]))
print(sum(diff > 0)/len(diff))

nan
500.0
1.0

In [10]:
test1[test1["clockAtArrival_y"] - test1["clockAtArrival_x"] > 0]

,StockID,clockAtArrival_x,sequenceNo_x,source_x,exchange_x,time_x,cum_volume,cum_amount_x,close,bid1p,...,ask3q,ask4q,ask5q,openPrice,clockAtArrival_y,sequenceNo_y,source_y,exchange_y,time_y,cum_amount_y
2168121,688002,1.581312e+15,103602046.0,23.0,SH,131600000.0,7218547,3.967682e+08,55.7,55.7,...,600,7600,200,53.4,1.581312e+15,871578.0,23.0,SH,131602000.0,3.967682e+08

In [22]:
logSH1[(logSH1["StockID"] == 688002) & (logSH1["time"] >= 131556000) & (logSH1["source"] == 23)].head()

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
419386,1581311756990071,863887,23,688002,SH,131556000,7218347,3.967571e+08,55.7,55.70,...,55.73,55.75,55.79,55.80,200,400,3690,600,7400,53.4
421580,1581311760011804,867725,23,688002,SH,131559000,7218547,3.967682e+08,55.7,55.70,...,55.73,55.79,55.80,55.81,200,400,600,7600,200,53.4
423561,1581311762668401,871578,23,688002,SH,131602000,7218547,3.967682e+08,55.7,55.70,...,55.73,55.79,55.80,55.81,200,400,600,7600,200,53.4
425882,1581311765665046,876030,23,688002,SH,131605000,7220847,3.968964e+08,55.7,55.66,...,55.72,55.73,55.79,55.80,5959,200,400,600,1700,53.4
427855,1581311768407036,879875,23,688002,SH,131608000,7220847,3.968964e+08,55.7,55.66,...,55.72,55.73,55.79,55.80,13228,200,400,400,1200,53.4

In [23]:
logSH[(logSH["StockID"] == 688002) & (logSH["time"] >= 131556000) & (logSH["source"] == 23)].head()

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
4042365,1581311756990520,103582791,23,688002,SH,131556000,7218347,3.967571e+08,55.7,55.70,...,55.73,55.75,55.79,55.80,200,400,3690,600,7400,53.4
4044582,1581311760012237,103602046,23,688002,SH,131600000,7218547,3.967682e+08,55.7,55.70,...,55.73,55.79,55.80,55.81,200,400,600,7600,200,53.4
4046590,1581311762668923,103622155,23,688002,SH,131602000,7218547,3.967682e+08,55.7,55.70,...,55.73,55.79,55.80,55.81,200,400,600,7600,200,53.4
4048934,1581311765665602,103643770,23,688002,SH,131605000,7220847,3.968964e+08,55.7,55.66,...,55.72,55.73,55.79,55.80,5959,200,400,600,1700,53.4
4050927,1581311768407722,103663321,23,688002,SH,131608000,7220847,3.968964e+08,55.7,55.66,...,55.72,55.73,55.79,55.80,13228,200,400,400,1200,53.4

In [24]:
# 4. index data compare
# 4.1 drop duplicates and merge
data1 = logSH[logSH["StockID"].isin(in_dex) & (logSH["cum_volume"] > 0) & (logSH["time"] <= 145700000)]
data2 = logSH1[logSH1["StockID"].isin(in_dex) & (logSH1["cum_volume"] > 0) & (logSH1["time"] <= 145700000)]
# data1 = logSH[logSH["StockID"].isin(in_dex) & (logSH["time"] >= 103000000) & (logSH["time"] <= 145700000)]
# data2 = logSH1[logSH1["StockID"].isin(in_dex) & (logSH1["time"] >= 103000000) & (logSH1["time"] <= 145700000)]
# data2 = data2[data2["openPrice"] != 0]
columns = ["StockID", "cum_volume", "cum_amount", "close", "openPrice"]
data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()
columns = ["StockID", "cum_volume", "close", "openPrice"]
test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
n1 = test["sequenceNo_x"].count()
n2 = test["sequenceNo_y"].count()
len1 = len(test)
print(n1)
print(n2)
print(len1)

11387
11387
11387

In [15]:
# 4.2 find difference
test[np.isnan(test["sequenceNo_y"])]

,index_x,clockAtArrival_x,sequenceNo_x,source_x,StockID,exchange_x,time_x,cum_volume,cum_amount,close,...,ask1p_y,ask2p_y,ask3p_y,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y
21,449120.0,1.585013e+15,3961108.0,5.0,300,SH,93024000.0,4387744,5.886893e+09,3603.5982,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,460356.0,1.585013e+15,4267516.0,5.0,852,SH,93034000.0,5551180,5.230348e+09,5530.1648,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,460359.0,1.585013e+15,4267887.0,5.0,905,SH,93034000.0,4685868,4.310314e+09,5096.6793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,471197.0,1.585013e+15,4579097.0,5.0,852,SH,93044000.0,6144194,5.824704e+09,5524.5968,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,476436.0,1.585013e+15,4724993.0,5.0,852,SH,93049000.0,6399527,6.097333e+09,5521.9223,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11266,12515268.0,1.585033e+15,125450792.0,5.0,905,SH,145429000.0,136511500,1.334395e+11,5092.7941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11270,12520546.0,1.585033e+15,125504362.0,5.0,905,SH,145434000.0,136577258,1.334987e+11,5092.7668,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11354,12622221.0,1.585033e+15,126722878.0,5.0,905,SH,145619000.0,138147259,1.349296e+11,5094.8469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11366,12636858.0,1.585033e+15,126901270.0,5.0,905,SH,145634000.0,138410780,1.351659e+11,5095.8334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11378,12651404.0,1.585033e+15,127071731.0,5.0,905,SH,145649000.0,138649756,1.353844e+11,5096.1703,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
logSH1[(logSH1["StockID"] == 300) & (logSH1["cum_volume"] == 4387744)]["cum_amount"].values[0]

5886892733.4

In [23]:
logSH[(logSH["StockID"] == 300) & (logSH["cum_volume"] == 4387744)]["cum_amount"].values[0]

5886892733.400001

In [76]:
logSH1[(logSH1["StockID"] == 905) & (logSH1["cum_volume"] == 63068321)]

,clockAtArrival,sequenceNo,source,StockID,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
2826917,1581560209165532,45552038,13,905,SH,101645000,63068321,6.832321e+10,5432.5428,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,5456.6591
2827395,1581560209828432,45558408,9,905,SH,101644360,63068321,6.832321e+10,5432.5428,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,5456.6591
2831057,1581560214827799,45603231,9,905,SH,101649840,63068321,6.832321e+10,5433.3937,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,5456.6591

In [19]:
# speed check
# test1 = test[~np.isnan(test["sequenceNo_y"])]
diff = test["clockAtArrival_y"] - test["clockAtArrival_x"]
print(np.median(diff[diff < 0]))
print(np.median(diff[diff > 0]))
print(sum(diff > 0)/len(diff))

nan
440.0
1.0

In [105]:
test[(test["StockID"] == 16) & (test["cum_volume"] == 22895563)]

,StockID,clockAtArrival_x,sequenceNo_x,source_x,exchange_x,time_x,cum_volume,cum_amount_x,close,bid1p_x,...,ask1p_y,ask2p_y,ask3p_y,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y
0,16,1581311763077450,103624549,22,SH,131603050,22895563,3.821795e+10,2839.055,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0

In [27]:
test[test["clockAtArrival_y"] - test["clockAtArrival_x"] > 0]

,StockID,clockAtArrival_x,sequenceNo_x,source_x,exchange_x,time_x,cum_volume,cum_amount_x,close,bid1p_x,...,ask1p_y,ask2p_y,ask3p_y,ask4p_y,ask5p_y,ask1q_y,ask2q_y,ask3q_y,ask4q_y,ask5q_y
1383,300,1581312613248983,109848080,22,SH,133013220,109698458,1.706779e+11,3897.1800,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1420,300,1581312793197252,111178929,22,SH,133313170,110707328,1.722395e+11,3895.5931,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1529,300,1581313333160355,115197334,22,SH,134213130,113453870,1.767037e+11,3903.9740,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1602,300,1581313693302648,117792339,22,SH,134813230,115245351,1.796166e+11,3899.4318,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
2478,852,1581312008266770,105404153,22,SH,132008240,158395834,1.650149e+11,5600.0287,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
2527,852,1581312248175496,107205435,22,SH,132408150,160251987,1.669555e+11,5607.4991,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
2564,852,1581312428212343,108561575,22,SH,132708180,161502537,1.682495e+11,5606.3635,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
2625,852,1581312728273178,110718257,22,SH,133208250,163451173,1.702873e+11,5597.6985,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
2662,852,1581312908199878,112096039,22,SH,133508170,164803569,1.717067e+11,5605.3474,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
2735,852,1581313268213092,114719555,22,SH,134108180,167289163,1.744199e+11,5615.5503,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
2868,852,1581313928235491,119433490,22,SH,135208210,171712158,1.789877e+11,5617.9665,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
2893,852,1581314048214310,120261221,22,SH,135408180,172629195,1.798639e+11,5620.4162,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
3711,905,1581312073208505,105932730,22,SH,132113180,126302296,1.356222e+11,5335.0145,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
3724,905,1581312133181454,106399795,22,SH,132213150,126673352,1.360305e+11,5335.9449,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
3749,905,1581312253265926,107242239,22,SH,132413240,127326717,1.367502e+11,5340.6311,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
4554,905,1581316273193112,138444616,22,SH,143113150,156827662,1.663305e+11,5358.8492,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
4567,905,1581316333292154,138994609,22,SH,143213250,157268589,1.667739e+11,5357.0994,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
4640,905,1581316693317329,142228689,22,SH,143813240,160257089,1.698324e+11,5370.3463,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
4677,905,1581316873204376,144036603,22,SH,144113190,162020362,1.716950e+11,5379.2544,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
4690,905,1581316933196692,144689701,22,SH,144213180,162717401,1.723923e+11,5380.9760,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
4703,905,1581316993229270,145329808,22,SH,144313210,163339836,1.730535e+11,5379.0814,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0

In [28]:
data1_1[(data1_1["StockID"] == 300) & (data1_1["cum_volume"] == 109698458)]

,StockID,clockAtArrival,sequenceNo,source,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
1382,300,1581312613248983,109848080,22,SH,133013220,109698458,1.706779e+11,3897.18,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,3872.3738

In [29]:
data2_1[(data2_1["StockID"] == 300) & (data2_1["cum_volume"] == 109698458)]

,StockID,clockAtArrival,sequenceNo,source,exchange,time,cum_volume,cum_amount,close,bid1p,...,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice
1382,300,1581312613248561,2127383,22,SH,133013220,109698458,1.706779e+11,3897.18,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,3872.3738
1383,300,1581312615063285,2130006,23,SH,133014000,109698458,1.706779e+11,3897.18,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,3872.3738

In [31]:
test[(test["StockID"] == 300) & (test["cum_volume"] == 109698458)].loc[:, ["time_x", "time_y"]]

         time_x     time_y
1382  133013220  133013220
1383  133013220  133014000