In [9]:
import pandas as pd
import random
import numpy as np

# Trade = pd.read_csv('E:\\compare\\zs_88_01_20200214_premdgw_and_sipui\\Logs\\mdTradeLog_20200214_0904.csv',
#                        encoding="utf-8")
# Order = pd.read_csv('E:\\compare\\zs_88_01_20200214_premdgw_and_sipui\\Logs\\mdOrderLog_20200214_0904.csv',
#                        encoding="utf-8")
TradeLog1 = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\check\20200324\5242\mdTradeLog_20200324_0909.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
OrderLog1 = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\check\20200324\5242\mdOrderLog_20200324_0909.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]
TradeLog = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20200324_zs_92_01_day_data\mdTradeLog_20200324_0836.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
OrderLog = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\rawData\logs_20200324_zs_92_01_day_data\mdOrderLog_20200324_0836.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]
# TradeLog1 = TradeLog1[TradeLog1["mdSource"] == 21].loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
#                                                  "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
#                                                  "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
#                                                  "OfferApplSeqNum"]]
# OrderLog1 = OrderLog1[OrderLog1["mdSource"] == 21].loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
#                                                  "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
#                                                  "OrderQty"]]

# TradeLog = TradeLog1[TradeLog1["mdSource"] == 21].loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
#                                                  "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
#                                                  "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
#                                                  "OfferApplSeqNum"]]
# OrderLog = OrderLog1[OrderLog1["mdSource"] == 21].loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
#                                                  "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
#                                                  "OrderQty"]]
# TradeLog1 = TradeLog1[TradeLog1["mdSource"] == 24].loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
#                                                  "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
#                                                  "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
#                                                  "OfferApplSeqNum"]]
# OrderLog1 = OrderLog1[OrderLog1["mdSource"] == 24].loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
#                                                  "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
#                                                  "OrderQty"]]

In [10]:
import pandas as pd
import random
import numpy as np

Trade = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\check\20200317\full_20200317_zs_52_02_day_tdf_and_premdgw\mdlog\mdTradeLog_20200317_1216.csv',
                    encoding="utf-8")
TradeLog1 = Trade[Trade["mdSource"] == 21].loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
TradeLog = Trade[Trade["mdSource"] == 24].loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum"]]
del Trade
Order = pd.read_csv(r'\\192.168.10.30\Kevin_zhenyu\check\20200317\full_20200317_zs_52_02_day_tdf_and_premdgw\mdlog\mdOrderLog_20200317_1216.csv',
                    encoding="utf-8")
OrderLog1 = Order[Order["mdSource"] == 21].loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]
OrderLog = Order[Order["mdSource"] == 24].loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty"]]
del Order

In [10]:
stocks = OrderLog1["SecurityID"].unique()
l1 = stocks[:1000]
l2 = stocks[1000:]
OrderLogSZ = OrderLog[OrderLog["SecurityID"].isin(l1)]
OrderLogSZ1 = OrderLog1[OrderLog1["SecurityID"].isin(l1)]
del OrderLog
del OrderLog1
TradeLogSZ = TradeLog[TradeLog["SecurityID"].isin(l1)]
TradeLogSZ1 = TradeLog1[TradeLog1["SecurityID"].isin(l1)]
del TradeLog
del TradeLog1
OrderLogSZ["OrderType"] = OrderLogSZ["OrderType"].apply(lambda x: str(x))
OrderLogSZ1["OrderType"] = OrderLogSZ1["OrderType"].apply(lambda x: str(x))

In [3]:
# OrderLogSZ = OrderLogSZ[OrderLogSZ["TransactTime"] >= 103000000]
# OrderLogSZ1 = OrderLogSZ1[OrderLogSZ1["TransactTime"] >= 103000000]
# TradeLogSZ = TradeLogSZ[TradeLogSZ["TransactTime"] >= 103000000]
# TradeLogSZ1 = TradeLogSZ1[TradeLogSZ1["TransactTime"] >= 103000000]

In [152]:
# columns = ["TransactTime", "ApplSeqNum", "ExecType", "TradeBSFlag", "TradePrice", "TradeQty",
#            "TradeMoney", "BidApplSeqNum", "OfferApplSeqNum"]
# TradeLogSZ1 = TradeLogSZ1.groupby("SecurityID")[TradeLogSZ1.columns[~TradeLogSZ1.columns.isin(["SecurityID"])].values].apply(
#     lambda x: x[~x.duplicated(columns, keep="first")]).reset_index()
# TradeLogSZ1 = TradeLogSZ1.drop("level_1", axis=1)
# columns = ["TransactTime", "ApplSeqNum","Side",'OrderType', 'Price', 'OrderQty']
# OrderLogSZ1 = OrderLogSZ1.groupby("SecurityID")[OrderLogSZ1.columns[~OrderLogSZ1.columns.isin(["SecurityID"])].values].apply(
#     lambda x: x[~x.duplicated(columns, keep="first")]).reset_index()
# OrderLogSZ1 = OrderLogSZ1.drop("level_1", axis=1)

In [1]:
import pandas as pd
import random
import numpy as np
import pickle

F1 = open("F:\\data\\20200324\\baseline\\order2.pkl", 'rb')
OrderLogSZ = pickle.load(F1)
F2 = open("F:\\data\\20200324\\zt_88_02\\order2.pkl", 'rb')
OrderLogSZ1 = pickle.load(F2)
F3 = open("F:\\data\\20200324\\baseline\\trade2.pkl", 'rb')
TradeLogSZ = pickle.load(F3)
F4 = open("F:\\data\\20200324\\zt_88_02\\trade2.pkl", 'rb')
TradeLogSZ1 = pickle.load(F4)
OrderLogSZ["OrderType"] = OrderLogSZ["OrderType"].apply(lambda x: str(x))
OrderLogSZ1["OrderType"] = OrderLogSZ1["OrderType"].apply(lambda x: str(x))
sl = list(set(OrderLogSZ["SecurityID"].unique()) & set(OrderLogSZ1['SecurityID'].unique()))
OrderLogSZ = OrderLogSZ[OrderLogSZ["SecurityID"].isin(sl)]
OrderLogSZ1 = OrderLogSZ1[OrderLogSZ1["SecurityID"].isin(sl)]
sl = list(set(TradeLogSZ["SecurityID"].unique()) & set(TradeLogSZ1['SecurityID'].unique()))
TradeLogSZ = TradeLogSZ[TradeLogSZ["SecurityID"].isin(sl)]
TradeLogSZ1 = TradeLogSZ1[TradeLogSZ1["SecurityID"].isin(sl)]
print(len(OrderLogSZ["SecurityID"].unique()))
print(len(OrderLogSZ1["SecurityID"].unique()))
print(len(TradeLogSZ["SecurityID"].unique()))
print(len(TradeLogSZ1["SecurityID"].unique()))

1319
1319
1319
1319

### Completeness check - tradelog

In [2]:
# columns = ["TransactTime", "ApplSeqNum","Side",'OrderType', 'Price', 'OrderQty', "SecurityID"]
TradeLogSZ["ExecType"] = TradeLogSZ["ExecType"].apply(lambda x: str(x))
TradeLogSZ1["ExecType"] = TradeLogSZ1["ExecType"].apply(lambda x: str(x))

columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag","TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum","OfferApplSeqNum"]
# columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradePrice", "TradeQty", "BidApplSeqNum","OfferApplSeqNum"]
# TradeLogSZ = TradeLogSZ[TradeLogSZ["TransactTime"] >= 130000000]
# TradeLogSZ1 = TradeLogSZ1[TradeLogSZ1["TransactTime"] >= 130000000]
re = pd.merge(TradeLogSZ, TradeLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo_x"].count()
n2 = re["sequenceNo_y"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
if len1 == n2:
    print((n2-n1)/n1)
print((n1-n2)/n1)

15913059
15913059
15913059
0.0
0.0

In [4]:
re = re[~re["sequenceNo_x"].isnull()]
diff = re["clockAtArrival_y"] - re["clockAtArrival_x"]
print(np.median(diff[diff < 0]))
print(np.median(diff[diff > 0]))
print(sum(diff > 0)/len(diff))

-19275.0
nan

C:\Users\win\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\win\Anaconda3\lib\site-packages\numpy\core\_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

0.0

In [3]:
re[re["sequenceNo_y"].isnull()]

,clockAtArrival_x,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,clockAtArrival_y,sequenceNo_y,exchId_y
525,1585012505828942,638809,2,91502020,71512,300323,4,N,0,20800,0,70726,0,NaN,NaN,NaN
102462,1585013407268394,2564249,2,93001810,403734,2286,F,N,79000,1300,102700000,403733,396267,NaN,NaN,NaN
102463,1585013407268439,2564256,2,93001810,403741,300063,F,N,41200,11000,453200000,403740,159375,NaN,NaN,NaN

In [28]:
re[re["clockAtArrival_y"] - re["clockAtArrival_x"] < 0]

,clockAtArrival_x,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag_x,TradePrice,TradeQty,TradeMoney_x,BidApplSeqNum,OfferApplSeqNum,clockAtArrival_y,sequenceNo_y,exchId_y,TradeBSFlag_y,TradeMoney_y
14613067,1.584428e+15,82170588.0,2.0,145625290,22768107,1,4,N,0,2000,0.0,21212092,0,1584428185305523,82170399,2,N,0
14613068,1.584428e+15,82170591.0,2.0,145625290,22768109,2396,F,N,437700,200,87540000.0,22761098,22768108,1584428185305551,82170408,2,S,87540000
14613069,1.584428e+15,82170594.0,2.0,145625290,23342297,2151,4,N,0,1200,0.0,0,23259783,1584428185305559,82170411,2,N,0
14613070,1.584428e+15,82170596.0,2.0,145625290,23342299,895,4,N,0,1100,0.0,0,23328179,1584428185305565,82170413,2,N,0
14613071,1.584428e+15,82170601.0,2.0,145625300,23342301,300496,F,N,573900,100,57390000.0,23342300,23338594,1584428185305588,82170421,2,B,57390000
14613072,1.584428e+15,82170602.0,2.0,145625300,23342302,300496,F,N,574000,100,57400000.0,23342300,23336512,1584428185305588,82170422,2,B,57400000
14613073,1.584428e+15,82170603.0,2.0,145625300,23342303,300496,F,N,574000,1000,574000000.0,23342300,23340604,1584428185305588,82170423,2,B,574000000
14613074,1.584428e+15,82170604.0,2.0,145625300,23342304,955,4,N,0,600,0.0,22991768,0,1584428185305761,82170455,2,N,0
14613075,1.584428e+15,82170606.0,2.0,145625300,23342307,957,F,N,71300,300,21390000.0,23342306,23322765,1584428185305810,82170469,2,B,21390000
14613076,1.584428e+15,82170607.0,2.0,145625300,23342308,957,F,N,71300,700,49910000.0,23342306,23323407,1584428185305810,82170470,2,B,49910000

In [9]:
TradeLogSZ1["Flag"] = np.where(TradeLogSZ1["ExecType"] == "4", np.nan, np.where(
    TradeLogSZ1["BidApplSeqNum"] > TradeLogSZ1["OfferApplSeqNum"], "B", "S"))
TradeLogSZ1[TradeLogSZ1["ExecType"] == "F"][TradeLogSZ1[TradeLogSZ1["ExecType"] == "F"]["TradeBSFlag"] != TradeLogSZ1[TradeLogSZ1["ExecType"] == "F"]["Flag"]]

Empty DataFrame
Columns: [clockAtArrival, sequenceNo, exchId, TransactTime, ApplSeqNum, SecurityID, ExecType, TradeBSFlag, TradePrice, TradeQty, TradeMoney, BidApplSeqNum, OfferApplSeqNum, Flag]
Index: []

In [4]:
display(TradeLogSZ[(TradeLogSZ["SecurityID"] == 300323) & (TradeLogSZ["ApplSeqNum"]== 71512)])
display(TradeLogSZ1[(TradeLogSZ1["SecurityID"] == 300323) & (TradeLogSZ1["ApplSeqNum"] == 71512)])

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
1945,1585012505828942,638809,2,91502020,71512,300323,4,N,0,20800,0,70726,0

Empty DataFrame
Columns: [clockAtArrival, sequenceNo, exchId, TransactTime, ApplSeqNum, SecurityID, ExecType, TradeBSFlag, TradePrice, TradeQty, TradeMoney, BidApplSeqNum, OfferApplSeqNum]
Index: []

In [16]:
TradeLogSZ1["TradeBSFlag"].unique()

array(['N', 'S', 'B'], dtype=object)

### Completeness check - orderlog

In [3]:
columns = ["TransactTime", "ApplSeqNum","Side",'OrderType', 'Price', 'OrderQty', "SecurityID"]
# OrderLogSZ = OrderLogSZ[OrderLogSZ["TransactTime"] >= 130000000]
# OrderLogSZ1 = OrderLogSZ1[OrderLogSZ1["TransactTime"] >= 130000000]
ree = pd.merge(OrderLogSZ, OrderLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = ree["sequenceNo_x"].count()
n2 = ree["sequenceNo_y"].count()
len1 = len(ree)
print(n1)
print(n2)
print(len1)
if len1 == n2:
    print((n2-n1)/n1)
print((n1-n2)/n1)

17544728
17544753
17544753
1.4249294716908693e-06
-1.4249294716908693e-06

In [4]:
display(len(ree[ree["sequenceNo_x"].isnull()]))
ree[ree["sequenceNo_x"].isnull()]

25

,clockAtArrival_x,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty,clockAtArrival_y,sequenceNo_y,exchId_y
17544728,NaN,NaN,NaN,145959930,19612903,2307,1,2,58000,1000,1585033160918676,192865436,2
17544729,NaN,NaN,NaN,145959930,19612904,300410,2,2,66000,2600,1585033160921339,192865443,2
17544730,NaN,NaN,NaN,145959940,20437161,70,2,2,101000,1400,1585033160925131,192865490,2
17544731,NaN,NaN,NaN,145959940,20437162,2466,1,2,211000,1300,1585033160930982,192865496,2
17544732,NaN,NaN,NaN,145959940,19612906,300235,1,2,171800,200,1585033160933033,192865501,2
17544733,NaN,NaN,NaN,145959950,20437165,2850,1,2,442000,500,1585033160937859,192865514,2
17544734,NaN,NaN,NaN,145959950,21293795,300674,1,2,351500,200,1585033160939642,192865517,2
17544735,NaN,NaN,NaN,145959950,19612907,2676,1,2,38300,47900,1585033160940100,192865518,2
17544736,NaN,NaN,NaN,145959960,19612909,300098,1,2,69400,50400,1585033160944868,192865527,2
17544737,NaN,NaN,NaN,145959960,19612911,300012,1,2,142700,1300,1585033160946760,192865530,2
17544738,NaN,NaN,NaN,145959960,21293799,300324,1,2,76000,8000,1585033160946934,192865531,2
17544739,NaN,NaN,NaN,145959960,21293800,300409,2,2,108800,800,1585033160950403,192865534,2
17544740,NaN,NaN,NaN,145959960,21293801,960,2,2,81900,2400,1585033160951689,192865535,2
17544741,NaN,NaN,NaN,145959960,20437169,2434,1,2,79000,200,1585033160953235,192865537,2
17544742,NaN,NaN,NaN,145959970,21293802,726,1,2,85000,5000,1585033160954613,192865540,2
17544743,NaN,NaN,NaN,145959970,21293803,2199,1,2,90000,700,1585033160957958,192865546,2
17544744,NaN,NaN,NaN,145959970,20542951,300223,2,2,868800,100,1585033160963696,192865556,2
17544745,NaN,NaN,NaN,145959970,20437172,970,1,2,90400,500,1585033160963860,192865558,2
17544746,NaN,NaN,NaN,145959970,19612913,300169,2,2,59600,5000,1585033160964615,192865560,2
17544747,NaN,NaN,NaN,145959980,20542953,2197,2,2,94200,6200,1585033160966943,192865566,2
17544748,NaN,NaN,NaN,145959980,19612914,300054,1,2,141000,2000,1585033160971099,192865575,2
17544749,NaN,NaN,NaN,145959990,20437175,151,2,2,80000,4000,1585033160976098,192865583,2
17544750,NaN,NaN,NaN,145959990,19612916,2130,1,2,46500,8400,1585033160980706,192865591,2
17544751,NaN,NaN,NaN,145959990,20437177,2823,1,2,104500,200,1585033160983915,192865592,2
17544752,NaN,NaN,NaN,145959990,19612917,300738,1,2,689700,1000,1585033160983917,192865593,2

In [6]:
ree = ree[~ree["sequenceNo_x"].isnull()]
diff = ree["clockAtArrival_y"] - ree["clockAtArrival_x"]
print(np.median(diff[diff < 0]))
print(np.median(diff[diff > 0]))
print(sum(diff > 0)/len(diff))

-18952.0
nan
0.0

In [32]:
ree[ree["clockAtArrival_y"] - ree["clockAtArrival_x"] < 0]

,clockAtArrival_x,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty,clockAtArrival_y,sequenceNo_y,exchId_y
15332922,1.584428e+15,82170587.0,2.0,145625290,22768106,2023,2,2,187500,2000,1584428185305519,82170397,2
15332923,1.584428e+15,82170589.0,2.0,145625290,23342294,300429,2,2,194600,1500,1584428185305544,82170405,2
15332924,1.584428e+15,82170590.0,2.0,145625290,22768108,2396,2,2,437700,200,1584428185305549,82170407,2
15332925,1.584428e+15,82170592.0,2.0,145625290,23342295,615,2,2,38700,4500,1584428185305554,82170409,2
15332926,1.584428e+15,82170593.0,2.0,145625290,23342296,300053,2,2,112500,1300,1584428185305557,82170410,2
15332927,1.584428e+15,82170595.0,2.0,145625290,23342298,2760,1,2,183900,100,1584428185305563,82170412,2
15332928,1.584428e+15,82170597.0,2.0,145625300,22768110,2825,2,2,139000,500,1584428185305573,82170416,2
15332929,1.584428e+15,82170598.0,2.0,145625300,22768111,2218,1,2,32000,37500,1584428185305575,82170417,2
15332930,1.584428e+15,82170599.0,2.0,145625300,22768112,300003,1,2,357000,800,1584428185305577,82170418,2
15332931,1.584428e+15,82170600.0,2.0,145625300,23342300,300496,1,2,574300,1200,1584428185305579,82170419,2
15332932,1.584428e+15,82170605.0,2.0,145625300,23342306,957,1,2,71300,1000,1584428185305807,82170468,2
15332933,1.584428e+15,82170608.0,2.0,145625300,23342309,300239,1,2,52400,1000,1584428185305826,82170475,2
15332934,1.584428e+15,82170609.0,2.0,145625300,23342310,2223,2,2,289700,200,1584428185305828,82170476,2
15332935,1.584428e+15,82170610.0,2.0,145625300,22768113,2045,2,2,95500,1000,1584428185305773,82170458,2

In [9]:
display(OrderLogSZ1[(OrderLogSZ1["SecurityID"] == 300272) & (OrderLogSZ1["ApplSeqNum"] == 69408)])
display(OrderLogSZ[(OrderLogSZ["SecurityID"] == 300272) & (OrderLogSZ["ApplSeqNum"] == 69408)])

Empty DataFrame
Columns: [clockAtArrival, sequenceNo, exchId, TransactTime, ApplSeqNum, SecurityID, Side, OrderType, Price, OrderQty]
Index: []

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty
286176,1585012505828963,638823,2,91502020,69408,300272,1,2,40000,200

In [17]:
OrderLogSZ1[(OrderLogSZ1["SecurityID"] == 2069)].head()

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty
863,1583889302270136,555237,2,91501900,76159,2069,NaN,nan,NaN,NaN
1116,1583889302472293,583931,2,91502090,83159,2069,NaN,nan,NaN,NaN
1274,1583889302643791,610828,2,91502330,89848,2069,NaN,nan,NaN,NaN
1370,1583889302769057,628281,2,91502500,93901,2069,NaN,nan,NaN,NaN
1854,1583889303176095,686332,2,91503060,107596,2069,NaN,nan,NaN,NaN

In [5]:
TradeLogSZ1["tradeseq"] = TradeLogSZ1.index.values
OrderLogSZ1["orderseq"] = OrderLogSZ1.index.values
SZ = pd.concat([TradeLogSZ, OrderLogSZ]).sort_values(by=["sequenceNo", "clockAtArrival"])
SZ1 = pd.concat([TradeLogSZ1, OrderLogSZ1]).sort_values(by=["sequenceNo", "clockAtArrival"])
del TradeLogSZ
# del TradeLogSZ1
del OrderLogSZ
# del OrderLogSZ1

print(len(SZ["SecurityID"].unique()))
print(len(SZ1["SecurityID"].unique()))

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

1319
1319

In [7]:
ree = ree[~np.isnan(ree["sequenceNo_x"])]
ree = ree[~np.isnan(ree["sequenceNo_y"])]
re = pd.concat([re, ree]).sort_values(by=["sequenceNo_x"])
del ree
# re["innerSeq"] = re.sort_values(by=["sequenceNo_y", "clockAtArrival_y"]).reset_index(drop=True).index.values
# display(re.head())

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
SZ1[SZ1["sequenceNo"].duplicated(keep=False)]

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,TradeMoney,TradePrice,TradeQty,TransactTime,clockAtArrival,exchId,sequenceNo
2288444,772177,NaN,NaN,NaN,500.0,2,92000.0,961,2.0,NaN,NaN,NaN,NaN,93006420,1583692776359064,2,4620582
2288446,772180,NaN,NaN,NaN,1000.0,2,49000.0,300278,1.0,NaN,NaN,NaN,NaN,93006420,1583692776359071,2,4620582
13636316,5012068,4999929.0,F,5012066.0,NaN,NaN,NaN,2614,NaN,S,27320000.0,136600.0,200.0,94446050,1583693652713825,2,33654979
13636318,5012070,5002859.0,F,5012066.0,NaN,NaN,NaN,2614,NaN,S,136600000.0,136600.0,1000.0,94446050,1583693652713825,2,33654979
13636317,5012069,5000155.0,F,5012066.0,NaN,NaN,NaN,2614,NaN,S,546400000.0,136600.0,4000.0,94446050,1583693652713825,2,33654980
11752955,4994567,NaN,NaN,NaN,200.0,2,93800.0,713,1.0,NaN,NaN,NaN,NaN,94446050,1583693652713829,2,33654980
25265878,12509539,NaN,NaN,NaN,5000.0,2,177300.0,300059,1.0,NaN,NaN,NaN,NaN,103618940,1583696745617991,2,80034780
25265879,11307012,NaN,NaN,NaN,200.0,2,215500.0,2595,2.0,NaN,NaN,NaN,NaN,103618940,1583696745617995,2,80034780
47087777,22487490,NaN,NaN,NaN,4200.0,2,65700.0,2062,2.0,NaN,NaN,NaN,NaN,141856320,1583710103018828,2,165160675
47087778,23372810,NaN,NaN,NaN,400.0,2,65900.0,300336,1.0,NaN,NaN,NaN,NaN,141856320,1583710103018830,2,165160675

### Completeness check - trade + order

In [52]:
SZ1["ExecType"] = SZ1["ExecType"].apply(lambda x: str(x))
SZ["ExecType"] = SZ["ExecType"].apply(lambda x: str(x))
# columns = ["TransactTime", "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag", "TradePrice", "TradeQty",
#            "TradeMoney", "BidApplSeqNum", "OfferApplSeqNum", "Side", "OrderType", "Price", "OrderQty"]
columns = ["TransactTime", "ApplSeqNum", "SecurityID", "ExecType", "TradePrice", "TradeQty", 
          "BidApplSeqNum", "OfferApplSeqNum", "Side", "OrderType", "Price", "OrderQty"]
re = pd.merge(SZ, SZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo_x"].count()
n2 = re["sequenceNo_y"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
if len1 == n2:
    print((n2-n1)/n1)
print((n1-n2)/n1)

39222250
39222250
39222250
0.0
0.0

In [39]:
# 1.1 find difference
re[np.isnan(re["sequenceNo_y"])]

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,TradeMoney,TradePrice,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,sequenceNo_y
74701,95190,NaN,nan,NaN,200.0,2,32300.0,2400,2.0,NaN,NaN,NaN,NaN,91503150,1.583198e+15,2.0,686711.0,NaN,NaN,NaN
74759,102068,NaN,nan,NaN,100.0,2,69300.0,2037,2.0,NaN,NaN,NaN,NaN,91503150,1.583198e+15,2.0,687005.0,NaN,NaN,NaN
74760,102069,NaN,nan,NaN,500.0,2,700000.0,300014,1.0,NaN,NaN,NaN,NaN,91503150,1.583198e+15,2.0,687006.0,NaN,NaN,NaN
80849,110641,NaN,nan,NaN,7800.0,2,38800.0,2517,2.0,NaN,NaN,NaN,NaN,91503570,1.583198e+15,2.0,719078.0,NaN,NaN,NaN
80850,110642,NaN,nan,NaN,8400.0,2,32500.0,2517,1.0,NaN,NaN,NaN,NaN,91503570,1.583198e+15,2.0,719079.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19329538,23952125,NaN,nan,NaN,1000.0,2,120000.0,300411,1.0,NaN,NaN,NaN,NaN,142704500,1.583217e+15,2.0,143503386.0,NaN,NaN,NaN
19329539,23952126,23952125.0,F,23943069.0,NaN,NaN,NaN,300411,NaN,N,120000000.0,120000.0,1000.0,142704500,1.583217e+15,2.0,143503387.0,NaN,NaN,NaN
21547835,27768266,NaN,nan,NaN,1000.0,2,102700.0,300147,2.0,NaN,NaN,NaN,NaN,145924600,1.583219e+15,2.0,160593450.0,NaN,NaN,NaN
21547836,27768267,NaN,nan,NaN,400.0,2,80100.0,2797,2.0,NaN,NaN,NaN,NaN,145924600,1.583219e+15,2.0,160593451.0,NaN,NaN,NaN
21548941,27769743,NaN,nan,NaN,5000.0,2,90000.0,2467,1.0,NaN,NaN,NaN,NaN,145927600,1.583219e+15,2.0,160602999.0,NaN,NaN,NaN

In [10]:
SZ1[(SZ1["SecurityID"] == 300059) & (SZ1["TransactTime"] == 91503150)]

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,TradeMoney,TradePrice,TradeQty,TransactTime,clockAtArrival,exchId,sequenceNo
376503,95631,NaN,nan,NaN,300.0,2,172000.0,300059,1.0,NaN,NaN,NaN,NaN,91503150,1583198089302088,2,420661
376504,95632,NaN,nan,NaN,100.0,2,175000.0,300059,1.0,NaN,NaN,NaN,NaN,91503150,1583198089302090,2,420662
376518,95633,NaN,nan,NaN,200.0,2,187000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198089302255,2,420676
376568,95646,NaN,nan,NaN,200.0,2,191000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198089303158,2,420726
376581,95648,NaN,nan,NaN,200.0,2,193000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198089303390,2,420739
376628,95659,NaN,nan,NaN,200.0,2,195000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198089303597,2,420786
376771,95664,NaN,nan,NaN,200.0,2,197000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198089312613,2,420931
376776,95669,NaN,nan,NaN,200.0,2,199000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198089312614,2,420936
376783,95676,NaN,nan,NaN,200.0,2,200000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198089312618,2,420943
376838,95731,NaN,nan,NaN,100.0,2,181900.0,300059,1.0,NaN,NaN,NaN,NaN,91503150,1583198089312638,2,420998
376840,95733,NaN,nan,NaN,100.0,2,182100.0,300059,1.0,NaN,NaN,NaN,NaN,91503150,1583198089312639,2,421000
376841,95734,NaN,nan,NaN,100.0,2,181800.0,300059,1.0,NaN,NaN,NaN,NaN,91503150,1583198089312639,2,421001

In [11]:
SZ[(SZ["SecurityID"] == 300059) & (SZ["TransactTime"] == 91503150)]

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,TradeMoney,TradePrice,TradeQty,TransactTime,clockAtArrival,exchId,sequenceNo
381796,95631,NaN,nan,NaN,300.0,2,172000.0,300059,1.0,NaN,NaN,NaN,NaN,91503150,1583198105694796,2,686689
381797,95632,NaN,nan,NaN,100.0,2,175000.0,300059,1.0,NaN,NaN,NaN,NaN,91503150,1583198105694799,2,686690
381804,95633,NaN,nan,NaN,200.0,2,187000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198105695395,2,686697
381821,95637,NaN,nan,NaN,200.0,2,189000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198105696358,2,686714
381961,95646,NaN,nan,NaN,200.0,2,191000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198105697625,2,686854
382010,95648,NaN,nan,NaN,200.0,2,193000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198105697851,2,686903
382060,95659,NaN,nan,NaN,200.0,2,195000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198105698731,2,686957
382314,95664,NaN,nan,NaN,200.0,2,197000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198105705055,2,687213
382323,95669,NaN,nan,NaN,200.0,2,199000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198105706175,2,687222
382332,95676,NaN,nan,NaN,200.0,2,200000.0,300059,2.0,NaN,NaN,NaN,NaN,91503150,1583198105706703,2,687231
382627,95731,NaN,nan,NaN,100.0,2,181900.0,300059,1.0,NaN,NaN,NaN,NaN,91503150,1583198105710646,2,687526
382629,95733,NaN,nan,NaN,100.0,2,182100.0,300059,1.0,NaN,NaN,NaN,NaN,91503150,1583198105710657,2,687528
382630,95734,NaN,nan,NaN,100.0,2,181800.0,300059,1.0,NaN,NaN,NaN,NaN,91503150,1583198105710659,2,687529

In [42]:
OrderLog1[(OrderLog1["SecurityID"] == 78) & (OrderLog1["TransactTime"] <= 91500730)]

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty
5422,1579482960375162,26937,2,91500000,633,78,1,2,40300,796900
5487,1579482960375236,27002,2,91500010,700,78,1,2,35800,3000
5573,1579482960375278,27089,2,91500020,799,78,2,2,40300,3200
6692,1579482960385932,28208,2,91500020,1097,78,2,2,35000,100
6698,1579482960385934,28214,2,91500020,1103,78,2,2,38000,200
...,...,...,...,...,...,...,...,...,...,...
126401,1579482961214305,149494,2,91500700,34943,78,1,2,36100,3800
127636,1579482961225292,150729,2,91500700,35206,78,1,2,35100,600
127902,1579482961225514,150997,2,91500700,35343,78,1,2,36600,10000
127945,1579482961225537,151040,2,91500700,35388,78,1,2,36100,25200
129641,1579482961236419,152737,2,91500710,35742,78,1,2,40300,3000

In [43]:
OrderLog[(OrderLog["SecurityID"] == 78) & (OrderLog["TransactTime"] <= 91500730)]

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty
5487,1579482911202417,290628,2,91500000,633,78,1,2,40300,796900
5553,1579482911202740,290694,2,91500010,700,78,1,2,35800,3000
5641,1579482911203166,290783,2,91500020,799,78,2,2,40300,3200
6762,1579482911212002,291904,2,91500020,1097,78,2,2,35000,100
6768,1579482911212009,291910,2,91500020,1103,78,2,2,38000,200
...,...,...,...,...,...,...,...,...,...,...
136128,1579482912063425,424360,2,91500710,35742,78,1,2,40300,3000
136461,1579482912065292,424699,2,91500710,35944,78,1,2,40300,4000
138249,1579482912076728,426494,2,91500720,36262,78,2,2,37800,1000
138258,1579482912076782,426503,2,91500720,36271,78,2,2,37500,500
138262,1579482912076796,426507,2,91500720,36275,78,2,2,37500,600

In [34]:
TradeLog[TradeLog["SecurityID"] == 78].head(10)

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
226,1579482912065310,424705,2,91500710,35950,78,4,N,0,4000,0,35944,0
240,1579482912084739,427859,2,91500720,36521,78,4,N,0,200,0,9013,0
292,1579482912234192,450817,2,91500850,42526,78,4,N,0,100,0,42523,0
2027,1579482915086947,706103,2,91503950,106070,78,4,N,0,12800,0,0,20379
2337,1579482916306796,738626,2,91505170,114238,78,4,N,0,8800,0,107966,0
3051,1579482928250477,776630,2,91517110,121494,78,4,N,0,2500,0,0,83793
3417,1579482939509548,782421,2,91528370,122380,78,4,N,0,145100,0,56827,0
3892,1579482954302080,790040,2,91543160,123584,78,4,N,0,3000,0,14704,0
3995,1579482957155520,791909,2,91546010,123814,78,4,N,0,1200,0,119703,0
4056,1579482958849996,792577,2,91547710,123929,78,4,N,0,400,0,123288,0

In [15]:
OrderLog1[OrderLog1["SecurityID"] == 300752].head(20)

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty
16687,1579482960456392,38220,2,91500100,5115,300752,2,2,315000,1500
19293,1579482960476507,40828,2,91500110,5623,300752,2,2,318000,300
26066,1579482960521407,47615,2,91500160,7457,300752,2,2,321400,20000
33688,1579482960579002,55245,2,91500190,9524,300752,1,2,321400,200
33692,1579482960579005,55249,2,91500190,9528,300752,1,2,321400,200
40086,1579482960623623,61656,2,91500210,11216,300752,2,2,302500,500
40087,1579482960623625,61657,2,91500210,11217,300752,2,2,306800,300
48653,1579482960679980,70230,2,91500270,13808,300752,2,2,298000,100
48661,1579482960679984,70238,2,91500270,13816,300752,1,2,288100,100
48662,1579482960679985,70239,2,91500270,13817,300752,2,2,312200,220
58657,1579482960752235,80265,2,91500320,16521,300752,2,2,308800,100
69733,1579482960829397,91819,2,91500410,19822,300752,2,2,321400,1500
71235,1579482960840151,93322,2,91500410,19991,300752,2,2,299200,100
72276,1579482960850937,94364,2,91500420,20192,300752,2,2,320000,100
137856,1579482961294327,160987,2,91500750,38198,300752,2,2,303000,1000
146063,1579482961351241,169209,2,91500800,40453,300752,2,2,308500,1900
184166,1579482961611250,207413,2,91501120,50636,300752,2,2,302800,2000
221082,1579482961859645,244450,2,91501440,60679,300752,2,2,319800,1700
240686,1579482961997020,264142,2,91501630,66114,300752,2,2,315000,1500
240689,1579482961997022,264145,2,91501630,66117,300752,2,2,315000,2000

In [16]:
OrderLog[OrderLog["SecurityID"] == 300752].head(20)

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty
18247,1579482911292037,303408,2,91500100,5115,300752,2,2,315000,1500
19910,1579482911303172,305072,2,91500110,5623,300752,2,2,318000,300
26516,1579482911349560,311689,2,91500160,7457,300752,2,2,321400,20000
27314,1579482911357545,312490,2,91500160,7552,300752,2,2,321400,10000
27333,1579482911357791,312509,2,91500160,7554,300752,2,2,321400,10000
34889,1579482911405493,320075,2,91500190,9524,300752,1,2,321400,200
34893,1579482911405496,320079,2,91500190,9528,300752,1,2,321400,200
41610,1579482911449680,326809,2,91500210,11216,300752,2,2,302500,500
41611,1579482911449682,326810,2,91500210,11217,300752,2,2,306800,300
50936,1579482911509254,336147,2,91500270,13808,300752,2,2,298000,100
50944,1579482911509277,336155,2,91500270,13816,300752,1,2,288100,100
50945,1579482911509277,336156,2,91500270,13817,300752,2,2,312200,220
61782,1579482911584674,347071,2,91500320,16521,300752,2,2,308800,100
73236,1579482911657494,359489,2,91500410,19822,300752,2,2,321400,1500
74761,1579482911667080,361015,2,91500410,19991,300752,2,2,299200,100
75786,1579482911676221,362041,2,91500420,20192,300752,2,2,320000,100
145374,1579482912122351,433652,2,91500750,38198,300752,2,2,303000,1000
153966,1579482912178595,442259,2,91500800,40453,300752,2,2,308500,1900
194434,1579482912437812,482839,2,91501120,50636,300752,2,2,302800,2000
232931,1579482912686732,521523,2,91501440,60679,300752,2,2,319800,1700

In [6]:
# 2. ordering within stocks 
columns = ["TransactTime", "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag", "TradePrice", "TradeQty",
           "TradeMoney", "BidApplSeqNum", "OfferApplSeqNum", "Side", "OrderType", "Price", "OrderQty"]
# columns = ["TransactTime", "ApplSeqNum", "SecurityID", "ExecType", "TradePrice", "TradeQty",
#            "BidApplSeqNum", "OfferApplSeqNum", "Side", "OrderType", "Price", "OrderQty"]
stocks = SZ["SecurityID"].unique()
m = 0
diff = []
# SZ1 = SZ1.reset_index().iloc[:, 1:]
# SZ1["innerSeq"] = SZ1.index.values
for i in stocks:
    re1 = pd.merge(SZ[SZ["SecurityID"] == i], SZ1[SZ1["SecurityID"] == i], left_on=columns, right_on=columns, how="inner")
    if (sorted(re1["sequenceNo_y"]) != re1["sequenceNo_y"]).any() == False:
        m = m + 1
    else:
        diff.append(i)
if m == len(stocks):
    print("SZE Trade + Order Data have same ordering within stocks")
print(m)
print(diff)

SZE Trade + Order Data have same ordering within stocks
1319
[]

In [12]:
# SZ1 = SZ1.reset_index().iloc[:, 1:]
# SZ1["innerSeq_y"] = SZ1.index.values
# SZ2 = SZ2.reset_index().iloc[:, 1:]
# SZ2["innerSeq_x"] = SZ2.index.values
# columns = ["TransactTime", "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag", "TradePrice", "TradeQty","TradeMoney",
#            "BidApplSeqNum", "OfferApplSeqNum", "Side", "OrderType", "Price", "OrderQty"]
# SZ1 = SZ1.reset_index(drop=True)
# SZ1["innerSeq"] = SZ1.index.values
for i in [300615, 2286, 596, 300680]:
    re1 = pd.merge(SZ[SZ["SecurityID"] == i], SZ1[SZ1["SecurityID"] == i], left_on=columns, right_on=columns, how="inner")
#     display(re1[sorted(re1["innerSeq"]) != re1["innerSeq"]].loc[:,["ApplSeqNum", "ExecType", "SecurityID", "clockAtArrival_y", 
#                                                                 "TradePrice", "TradeQty", "TradeMoney_y"]])
    display(re1[sorted(re1["sequenceNo_y"]) != re1["sequenceNo_y"]])

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
425,403687,403686.0,F,326458.0,NaN,NaN,NaN,300615,NaN,N,...,1000.0,93001810,1585013407268263,2,2564202,1585013403462050,2,NaN,3909619,498553.0
426,403688,403686.0,F,355271.0,NaN,NaN,NaN,300615,NaN,N,...,500.0,93001810,1585013407268264,2,2564203,1585013403462053,2,NaN,3909620,498554.0
427,403689,403686.0,F,373661.0,NaN,NaN,NaN,300615,NaN,N,...,100.0,93001810,1585013407268265,2,2564204,1585013403462054,2,NaN,3909621,498555.0
428,403690,403686.0,F,380788.0,NaN,NaN,NaN,300615,NaN,N,...,1000.0,93001810,1585013407268317,2,2564205,1585013403462056,2,NaN,3909622,498556.0
429,403691,403686.0,F,156893.0,NaN,NaN,NaN,300615,NaN,N,...,1100.0,93001810,1585013407268318,2,2564206,1585013403462056,2,NaN,3909623,498557.0
430,403865,NaN,NaN,NaN,5000.0,2,198000.0,300615,1.0,NaN,...,NaN,93001810,1585013407270300,2,2565245,1585013403460056,2,1285264.0,3909043,NaN
431,404130,NaN,NaN,NaN,100.0,2,206000.0,300615,2.0,NaN,...,NaN,93001820,1585013407271722,2,2565760,1585013403461812,2,1285629.0,3909558,NaN

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
3243,403733,NaN,NaN,NaN,1300.0,2,79100.0,2286,1.0,NaN,...,NaN,93001810,1585013407268393,2,2564248,1585013403462111,2,1285676.0,3909639,NaN
3244,403836,223854.0,4,0.0,NaN,NaN,NaN,2286,NaN,N,...,2000.0,93001810,1585013407270267,2,2565216,1585013403459938,2,NaN,3909014,498369.0

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
791,403766,195557.0,4,0.0,NaN,NaN,NaN,596,NaN,N,...,400.0,93001810,1585013407268488,2,2564281,1585013403462164,2,NaN,3909652,498564.0
792,404037,NaN,NaN,NaN,200.0,2,1023500.0,596,2.0,NaN,...,NaN,93001820,1585013407270784,2,2565544,1585013403461097,2,1285496.0,3909342,NaN

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
324,403702,403701.0,F,402733.0,NaN,NaN,NaN,300680,NaN,N,...,1000.0,93001810,1585013407268331,2,2564217,1585013403462071,2,NaN,3909628,498559.0
325,403703,403701.0,F,389028.0,NaN,NaN,NaN,300680,NaN,N,...,1200.0,93001810,1585013407268334,2,2564218,1585013403462077,2,NaN,3909629,498560.0
326,403802,NaN,NaN,NaN,200.0,2,244400.0,300680,2.0,NaN,...,NaN,93001810,1585013407270217,2,2565182,1585013403459817,2,1285218.0,3908980,NaN
327,403852,NaN,NaN,NaN,1500.0,2,244700.0,300680,2.0,NaN,...,NaN,93001810,1585013407270287,2,2565232,1585013403460014,2,1285255.0,3909030,NaN

In [14]:
TradeLogSZ1[TradeLogSZ1["sequenceNo"] >= 38223259]

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,Flag
13773595,1583791767305963,38223260,2,130000090,16183672,2106,F,S,98400,1700,167280000,16180298,16183671,S
13773596,1583791767305963,38223261,2,130000090,16183673,2106,F,S,98400,9500,934800000,16182151,16183671,S
13773597,1583791767305963,38223262,2,130000090,16183674,2106,F,S,98300,1713,168380000,16132217,16183671,S
13773598,1583791767305963,38223263,2,130000090,16183675,2106,F,S,98300,800,78640000,16138370,16183671,S
13773599,1583791767305963,38223262,2,130000090,16183676,2106,F,S,98300,500,49150000,16142769,16183671,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44466740,1583798969486229,121124744,2,150000000,27544830,2553,F,B,53000,1200,63600000,27447461,27365344,B
44466741,1583798969486229,121124745,2,150000000,27544831,2553,F,B,53000,100,5300000,27450938,27365344,B
44466742,1583798969486229,121124746,2,150000000,27544832,2553,F,B,53000,1000,53000000,27486717,27365344,B
44466743,1583798969486229,121124747,2,150000000,27544833,2553,F,B,53000,1000,53000000,27494287,27365344,B
44466744,1583798969486229,121124748,2,150000000,27544834,2553,F,B,53000,3700,196100000,27494489,27365344,B

In [85]:
re1 = pd.merge(SZ[SZ["SecurityID"] == 2614], SZ1[SZ1["SecurityID"] == 2614], left_on=columns, right_on=columns, how="inner")
display(re1[sorted(re1["sequenceNo_y"]) != re1["sequenceNo_y"]])

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag_x,...,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,TradeBSFlag_y,TradeMoney_y,clockAtArrival_y,exchId_y,sequenceNo_y,innerSeq
42798,5012069,5000155.0,F,5012066.0,NaN,NaN,NaN,2614,NaN,N,...,94446050,1583718286541651,2,28713300,S,546400000.0,1583693652713825,2,33654980,8462384
42799,5012070,5002859.0,F,5012066.0,NaN,NaN,NaN,2614,NaN,N,...,94446050,1583718286541652,2,28713301,S,136600000.0,1583693652713825,2,33654979,8462383

In [86]:
re1[re1["sequenceNo_y"] == 33654979]

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag_x,...,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,TradeBSFlag_y,TradeMoney_y,clockAtArrival_y,exchId_y,sequenceNo_y,innerSeq
42797,5012068,4999929.0,F,5012066.0,NaN,NaN,NaN,2614,NaN,N,...,94446050,1583718286541648,2,28713299,S,27320000.0,1583693652713825,2,33654979,8462382
42799,5012070,5002859.0,F,5012066.0,NaN,NaN,NaN,2614,NaN,N,...,94446050,1583718286541652,2,28713301,S,136600000.0,1583693652713825,2,33654979,8462383

In [6]:
data[data["sequenceNo_x"]>=516160].loc[:,["ApplSeqNum", "TransactTime", "sequenceNo_x", "sequenceNo_y", "SecurityID"]]

       ApplSeqNum  TransactTime  sequenceNo_x  sequenceNo_y  SecurityID
0          153755      91944850       2940315        616762        2137
1          153814      91945270       2940582        617004        2137
2          154026      91946640       2942144        617761        2137
3          154097      91947160       2943220        618028        2137
4          154154      91947540       2943529        618225        2137
...           ...           ...           ...           ...         ...
64906    16426826     150000000     130284133      69880970        2137
64907    16426827     150000000     130284134      69880971        2137
64908    16426828     150000000     130284135      69880972        2137
64909    16426829     150000000     130284136      69880973        2137
64910    16426830     150000000     130284137      69880974        2137

[64911 rows x 5 columns]

In [10]:
# 3. ordering among stocks
if (sorted(re["sequenceNo_y"]) != re["sequenceNo_y"]).any():
    display(re[sorted(re["sequenceNo_y"]) != re["sequenceNo_y"]])
    print("SZE Trade + Order Data don't have same ordering among stocks")
print(len(re))
print(len(re[sorted(re["sequenceNo_y"]) != re["sequenceNo_y"]]))
print(sum(sorted(re["sequenceNo_y"]) != re["sequenceNo_y"]))

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,TradeMoney,TradePrice,TradeQty,TransactTime,clockAtArrival_x,clockAtArrival_y,exchId_x,exchId_y,sequenceNo_x,sequenceNo_y
8,11932345,NaN,NaN,NaN,80100.0,2,222300.0,988,1.0,NaN,NaN,NaN,NaN,130000000,1.585026e+15,1.585026e+15,2.0,2.0,70254535.0,118166473.0
168,11261173,11261028.0,F,8029450.0,NaN,NaN,NaN,300046,NaN,N,44000000.0,220000.0,200.0,130000000,1.585026e+15,1.585026e+15,2.0,2.0,70254536.0,118166006.0
169,11261174,11261028.0,F,8481234.0,NaN,NaN,NaN,300046,NaN,N,44000000.0,220000.0,200.0,130000000,1.585026e+15,1.585026e+15,2.0,2.0,70254537.0,118166007.0
170,11261175,11261028.0,F,9107972.0,NaN,NaN,NaN,300046,NaN,N,660000000.0,220000.0,3000.0,130000000,1.585026e+15,1.585026e+15,2.0,2.0,70254538.0,118166008.0
171,11261176,11261028.0,F,9140161.0,NaN,NaN,NaN,300046,NaN,N,110000000.0,220000.0,500.0,130000000,1.585026e+15,1.585026e+15,2.0,2.0,70254539.0,118166009.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11442295,21358567,21285573.0,F,21213760.0,NaN,NaN,NaN,300801,NaN,N,410410000.0,373100.0,1100.0,150000000,1.585033e+15,1.585033e+15,2.0,2.0,128033797.0,215511590.0
11442296,21358568,21287883.0,F,21213760.0,NaN,NaN,NaN,300801,NaN,N,111930000.0,373100.0,300.0,150000000,1.585033e+15,1.585033e+15,2.0,2.0,128033798.0,215511592.0
11442297,21358569,21290955.0,F,21213760.0,NaN,NaN,NaN,300801,NaN,N,186550000.0,373100.0,500.0,150000000,1.585033e+15,1.585033e+15,2.0,2.0,128033799.0,215511593.0
11442298,21358570,21293244.0,F,21213760.0,NaN,NaN,NaN,300801,NaN,N,186550000.0,373100.0,500.0,150000000,1.585033e+15,1.585033e+15,2.0,2.0,128033800.0,215511595.0
11442299,21358571,21293244.0,F,21216360.0,NaN,NaN,NaN,300801,NaN,N,37310000.0,373100.0,100.0,150000000,1.585033e+15,1.585033e+15,2.0,2.0,128033801.0,215511596.0

SZE Trade + Order Data don't have same ordering among stocks
23144325
10672438
10672438

In [39]:
# 4. speed check
diff = re["clockAtArrival_y"] - re["clockAtArrival_x"]
print(np.median(diff[diff < 0]))
print(np.median(diff[diff > 0]))
print(sum(diff < 0)/len(diff))

-1228.0
570.0
0.9999998859935689