In [1]:
import pandas as pd
import random
import numpy as np
import pickle

F1 = open("F:\\data\\20201023\\baseline\\order2.pkl", 'rb')
OrderLogSZ = pickle.load(F1)
F2 = open("F:\\data\\20201023\\test\\order2.pkl", 'rb')
OrderLogSZ1 = pickle.load(F2)
F3 = open("F:\\data\\20201023\\baseline\\trade2.pkl", 'rb')
TradeLogSZ = pickle.load(F3)
F4 = open("F:\\data\\20201023\\test\\trade2.pkl", 'rb')
TradeLogSZ1 = pickle.load(F4)
OrderLogSZ["OrderType"] = OrderLogSZ["OrderType"].apply(lambda x: str(x))
OrderLogSZ1["OrderType"] = OrderLogSZ1["OrderType"].apply(lambda x: str(x))
sl = list(set(OrderLogSZ["SecurityID"].unique()) & set(OrderLogSZ1['SecurityID'].unique()))
OrderLogSZ = OrderLogSZ[OrderLogSZ["SecurityID"].isin(sl)]
OrderLogSZ1 = OrderLogSZ1[OrderLogSZ1["SecurityID"].isin(sl)]
sl = list(set(TradeLogSZ["SecurityID"].unique()) & set(TradeLogSZ1['SecurityID'].unique()))
TradeLogSZ = TradeLogSZ[TradeLogSZ["SecurityID"].isin(sl)]
TradeLogSZ1 = TradeLogSZ1[TradeLogSZ1["SecurityID"].isin(sl)]
print(len(OrderLogSZ["SecurityID"].unique()))
print(len(OrderLogSZ1["SecurityID"].unique()))
print(len(TradeLogSZ["SecurityID"].unique()))
print(len(TradeLogSZ1["SecurityID"].unique()))

1293
1293
1293
1293

In [1]:
import pandas as pd
import random
import numpy as np
import pickle
KR = pd.read_csv(r'A:\KR_daily_data\20200813\SZ\tick\000157.csv')
KR['SecurityID'] = 157

In [3]:
KR[KR['ExecType'] == 'F'].head()

,ApplSeqNum,BidApplSeqNum,SendingTime,Price,ChannelNo,Qty,OfferApplSeqNum,Amt,ExecType,TransactTime,SecurityID
9,353794,169197,20200813092501000,8.04,2014,30,72919,0.0,F,20200813092500000,157
10,353795,169197,20200813092501000,8.04,2014,100,161875,0.0,F,20200813092500000,157
11,353796,169197,20200813092501000,8.04,2014,200,304181,0.0,F,20200813092500000,157
12,353797,169197,20200813092501000,8.04,2014,500,90228,0.0,F,20200813092500000,157
13,353798,169197,20200813092501000,8.04,2014,300,90314,0.0,F,20200813092500000,157

In [33]:
KR[KR['ApplSeqNum'] >= 19642148][["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "Price",
    "Qty", "Amt", "BidApplSeqNum", "OfferApplSeqNum"]].head(5)

,TransactTime,ApplSeqNum,SecurityID,ExecType,Price,Qty,Amt,BidApplSeqNum,OfferApplSeqNum
31085,20200813142603170,19642148,157,4,0.0,200,0.0,19635017,0
31086,20200813142604490,19643461,157,4,0.0,3600,0.0,19612132,0
31087,20200813142606100,19644765,157,4,0.0,300,0.0,19642180,0
31088,20200813142606270,19644927,157,4,0.0,1400,0.0,0,314239
31089,20200813142606830,19645439,157,4,0.0,1400,0.0,0,308644

In [28]:
source = pd.read_csv(r'\\mentos\dailyRawData\20200813\logs_20200813_zs_88_04_day_pcap\mdTradePcap_SZ_20200813_0900.csv')

In [32]:
source[(source['ID'] == 2000157) & (source['ApplSeqNum'] >= 19642148)][["time","ApplSeqNum", "ID", "ExecType", "TradePrice",
    "TradeQty", "TradeMoney", "BidApplSeqNum", "OfferApplSeqNum"]].head(5)

,time,ApplSeqNum,ID,ExecType,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
43815174,142603170,19642148,2000157,4,0,200,0,19635017,0
43815467,142603310,19642254,2000157,4,0,600,0,19610339,0
43815468,142603310,19642255,2000157,4,0,600,0,19594375,0
43818313,142604490,19643461,2000157,4,0,3600,0,19612132,0
43821574,142606100,19644765,2000157,4,0,300,0,19642180,0

In [1]:
import pandas as pd
import random
import numpy as np
import pickle

TradeLog1 = pd.read_csv(r'F:\data\20201102\91\mdTradeLog_20201102_0910.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum", "mdSource"]]
OrderLog1 = pd.read_csv(r'F:\data\20201102\91\mdOrderLog_20201102_0910.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty", "mdSource"]]
TradeLog = pd.read_csv(r'F:\data\20201102\90\mdTradeLog_20201102_0908.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag",
                                                 "TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum",
                                                 "OfferApplSeqNum", "mdSource"]]
OrderLog = pd.read_csv(r'F:\data\20201102\90\mdOrderLog_20201102_0908.csv',
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "exchId", "TransactTime",
                                                 "ApplSeqNum", "SecurityID", "Side", "OrderType", "Price",
                                                 "OrderQty", "mdSource"]]
stocks = list(set(OrderLog1["SecurityID"].unique()) & set(OrderLog["SecurityID"].unique()))
display(len(stocks))
OrderLogSZ = OrderLog[OrderLog["SecurityID"].isin(stocks)]
OrderLogSZ1 = OrderLog1[OrderLog1["SecurityID"].isin(stocks)]
del OrderLog
del OrderLog1
TradeLogSZ = TradeLog[TradeLog["SecurityID"].isin(stocks)]
TradeLogSZ1 = TradeLog1[TradeLog1["SecurityID"].isin(stocks)]
del TradeLog
del TradeLog1
OrderLogSZ["OrderType"] = OrderLogSZ["OrderType"].apply(lambda x: str(x))
OrderLogSZ1["OrderType"] = OrderLogSZ1["OrderType"].apply(lambda x: str(x))
print(len(OrderLogSZ["SecurityID"].unique()))
print(len(OrderLogSZ1["SecurityID"].unique()))
print(len(TradeLogSZ["SecurityID"].unique()))
print(len(TradeLogSZ1["SecurityID"].unique()))
print(OrderLogSZ["mdSource"].unique())
print(OrderLogSZ1["mdSource"].unique())
print(TradeLogSZ["mdSource"].unique())
print(TradeLogSZ1["mdSource"].unique())
print(OrderLogSZ["exchId"].unique())
print(OrderLogSZ1["exchId"].unique())
print(TradeLogSZ["exchId"].unique())
print(TradeLogSZ1["exchId"].unique())

C:\Users\win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2208

2208
2208
2208
2208
[24]
[24]
[24]
[24]
[2]
[2]
[2]
[2]

In [4]:
TradeLogSZ1.groupby('SecurityID')['TransactTime'].max().max()

112959980

In [5]:
TradeLogSZ.groupby('SecurityID')['TransactTime'].max().max()

112959990

In [38]:
OrderLogSZ1.groupby("SecurityID")["TransactTime"].max().describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]).astype('int64')

count         2130
mean     140813973
std          23396
min      140416710
10%      140807469
20%      140815090
30%      140818078
40%      140819610
50%      140820515
60%      140821200
70%      140821660
80%      140821910
90%      140822070
max      140822170
Name: TransactTime, dtype: int64

In [40]:
TradeLogSZ1.groupby("SecurityID")["TransactTime"].max().describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]).astype('int64')

count         2130
mean     140810697
std          28761
min      140403500
10%      140802248
20%      140811434
30%      140816090
40%      140818440
50%      140819580
60%      140820610
70%      140821330
80%      140821780
90%      140822020
max      140822200
Name: TransactTime, dtype: int64

In [12]:
TradeLogSZ.groupby("SecurityID")["TransactTime"].min().min()

102536030

### Completeness check - tradelog

In [2]:
TradeLogSZ["ExecType"] = TradeLogSZ["ExecType"].apply(lambda x: str(x))
TradeLogSZ1["ExecType"] = TradeLogSZ1["ExecType"].apply(lambda x: str(x))

# TradeLogSZ = TradeLogSZ[TradeLogSZ['TransactTime'] >= TradeLogSZ1['TransactTime'].min()]
columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag","TradePrice", "TradeQty", "TradeMoney", "BidApplSeqNum","OfferApplSeqNum"]
# columns = ["TransactTime","ApplSeqNum", "SecurityID", "ExecType", "TradePrice", "TradeQty", "BidApplSeqNum","OfferApplSeqNum"]

# TradeLogSZ1 = TradeLogSZ1.drop_duplicates(columns, keep='first')

re = pd.merge(TradeLogSZ, TradeLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = re["sequenceNo_x"].count()
n2 = re["sequenceNo_y"].count()
len1 = len(re)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(re[np.isnan(re["sequenceNo_y"])])
    print(len(re[np.isnan(re["sequenceNo_y"])]))
    print(np.sort(re[np.isnan(re["sequenceNo_y"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_y"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("baseline is not complete:")
    display(re[np.isnan(re["sequenceNo_x"])])
    print(np.sort(re[np.isnan(re["sequenceNo_x"])]["TransactTime"].unique()))
    print(len(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique()))
    print(re[np.isnan(re["sequenceNo_x"])]["SecurityID"].unique())
    display(n2-n1)

13359031
13334111
13359031
-----------------------------------------------

'test is not complete:'

,clockAtArrival_x,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,mdSource_x,clockAtArrival_y,sequenceNo_y,exchId_y,mdSource_y
13334111,1604282974656587,32286078,2,100932750,7535905,936,4,N,0,20000,0,0,7490839,24,NaN,NaN,NaN,NaN
13334112,1604282974656765,32286080,2,100932750,8039330,300155,4,N,0,10900,0,0,8031603,24,NaN,NaN,NaN,NaN
13334113,1604282974656769,32286081,2,100932750,8020170,300435,4,N,0,200,0,7982153,0,24,NaN,NaN,NaN,NaN
13334114,1604282974657108,32286084,2,100932750,7443513,2385,F,N,81300,1500,121950000,7381456,7443512,24,NaN,NaN,NaN,NaN
13334115,1604282974657108,32286085,2,100932750,7443514,2385,F,N,81300,1000,81300000,7381628,7443512,24,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13359026,1604282981182897,32343335,2,100939270,8032865,990,F,N,132100,1000,132100000,7664126,8032861,24,NaN,NaN,NaN,NaN
13359027,1604282981182897,32343336,2,100939270,8032866,990,F,N,132100,100,13210000,7718464,8032861,24,NaN,NaN,NaN,NaN
13359028,1604282981182953,32343338,2,100939280,8053302,2285,F,N,55800,200,11160000,8053301,8051380,24,NaN,NaN,NaN,NaN
13359029,1604282981183584,32343342,2,100939280,7456792,300472,F,N,123700,600,74220000,7445559,7456791,24,NaN,NaN,NaN,NaN
13359030,1604282981183715,32343343,2,100939280,8053304,69,4,N,0,600,0,0,7798361,24,NaN,NaN,NaN,NaN

24920
[100932750 100932760 100932770 100932780 100932790 100932800 100932810
 100932820 100932830 100932840 100932850 100932860 100932870 100932880
 100932890 100932900 100932910 100932920 100932930 100932940 100932950
 100932960 100932970 100932980 100932990 100933000 100933010 100933020
 100933030 100933040 100933050 100933060 100933070 100933080 100933090
 100933100 100933110 100933120 100933130 100933140 100933150 100933160
 100933170 100933180 100933190 100933200 100933210 100933220 100933230
 100933240 100933250 100933260 100933270 100933280 100933290 100933300
 100933310 100933320 100933330 100933340 100933350 100933360 100933370
 100933380 100933390 100933400 100933410 100933420 100933430 100933440
 100933450 100933460 100933470 100933480 100933490 100933500 100933510
 100933520 100933530 100933540 100933550 100933560 100933570 100933580
 100933590 100933600 100933610 100933620 100933630 100933640 100933650
 100933660 100933670 100933680 100933690 100933700 100933710 100933720
 100933730 100933740 100933750 100933760 100933770 100933780 100933790
 100933800 100933810 100933820 100933830 100933840 100933850 100933860
 100933870 100933880 100933890 100933900 100933910 100933920 100933930
 100933940 100933950 100933960 100933970 100933980 100933990 100934000
 100934010 100934020 100934030 100934040 100934050 100934060 100934070
 100934080 100934090 100934100 100934110 100934120 100934130 100934140
 100934150 100934160 100934170 100934180 100934190 100934200 100934210
 100934220 100934230 100934240 100934250 100934260 100934270 100934280
 100934290 100934300 100934310 100934320 100934330 100934340 100934350
 100934360 100934370 100934380 100934390 100934400 100934410 100934420
 100934430 100934440 100934450 100934460 100934470 100934480 100934490
 100934500 100934510 100934520 100934530 100934540 100934550 100934560
 100934570 100934580 100934590 100934600 100934610 100934620 100934630
 100934640 100934650 100934660 100934670 100934680 100934690 100934700
 100934710 100934720 100934730 100934740 100934750 100934760 100934770
 100934780 100934790 100934800 100934810 100934820 100934830 100934840
 100934850 100934860 100934870 100934880 100934890 100934900 100934910
 100934920 100934930 100934940 100934950 100934960 100934970 100934980
 100934990 100935000 100935010 100935020 100935030 100935040 100935050
 100935060 100935070 100935080 100935090 100935100 100935110 100935120
 100935130 100935140 100935150 100935160 100935170 100935180 100935190
 100935200 100935210 100935220 100935230 100935240 100935250 100935260
 100935270 100935280 100935290 100935300 100935310 100935320 100935330
 100935340 100935350 100935360 100935370 100935380 100935390 100935400
 100935410 100935420 100935430 100935440 100935450 100935460 100935470
 100935480 100935490 100935500 100935510 100935520 100935530 100935540
 100935550 100935560 100935570 100935580 100935590 100935600 100935610
 100935620 100935630 100935640 100935650 100935660 100935670 100935680
 100935690 100935700 100935710 100935720 100935730 100935740 100935750
 100935760 100935770 100935780 100935790 100935800 100935810 100935820
 100935830 100935840 100935850 100935860 100935870 100935880 100935890
 100935900 100935910 100935920 100935930 100935940 100935950 100935960
 100935970 100935980 100935990 100936000 100936010 100936020 100936030
 100936040 100936050 100936060 100936070 100936080 100936090 100936100
 100936110 100936120 100936130 100936140 100936150 100936160 100936170
 100936180 100936190 100936200 100936210 100936220 100936230 100936240
 100936250 100936260 100936270 100936280 100936290 100936300 100936310
 100936320 100936330 100936340 100936350 100936360 100936370 100936380
 100936390 100936400 100936410 100936420 100936430 100936440 100936450
 100936460 100936470 100936480 100936490 100936500 100936510 100936520
 100936530 100936540 100936550 100936560 100936570 100936580 100936590
 100936600 100936610 100936620 100936630 100936640 100936650 100936660
 100936670 100936680 100936690 100936700 100936710 100936720 100936730
 100936740 100936750 100936760 100936770 100936780 100936790 100936800
 100936810 100936820 100936830 100936840 100936850 100936860 100936870
 100936880 100936890 100936900 100936910 100936920 100936930 100936940
 100936950 100936960 100936970 100936980 100936990 100937000 100937010
 100937020 100937030 100937040 100937050 100937060 100937070 100937080
 100937090 100937100 100937110 100937120 100937130 100937140 100937150
 100937160 100937170 100937180 100937190 100937200 100937210 100937220
 100937230 100937240 100937250 100937260 100937270 100937280 100937290
 100937300 100937310 100937320 100937330 100937340 100937350 100937360
 100937370 100937380 100937390 100937400 100937410 100937420 100937430
 100937440 100937450 100937460 100937470 100937480 100937490 100937500
 100937510 100937520 100937530 100937540 100937550 100937560 100937570
 100937580 100937590 100937600 100937610 100937620 100937630 100937640
 100937650 100937660 100937670 100937680 100937690 100937700 100937710
 100937720 100937730 100937740 100937750 100937760 100937770 100937780
 100937790 100937800 100937810 100937820 100937830 100937840 100937850
 100937860 100937870 100937880 100937890 100937900 100937910 100937920
 100937930 100937940 100937950 100937960 100937970 100937980 100937990
 100938000 100938010 100938020 100938030 100938040 100938050 100938060
 100938070 100938080 100938090 100938100 100938110 100938120 100938130
 100938140 100938150 100938160 100938170 100938180 100938190 100938200
 100938210 100938220 100938230 100938240 100938250 100938260 100938270
 100938280 100938290 100938300 100938310 100938320 100938330 100938340
 100938350 100938360 100938370 100938380 100938390 100938400 100938410
 100938420 100938430 100938440 100938450 100938460 100938470 100938480
 100938490 100938500 100938510 100938520 100938530 100938540 100938550
 100938560 100938570 100938580 100938590 100938600 100938610 100938620
 100938630 100938640 100938650 100938660 100938670 100938680 100938690
 100938700 100938710 100938720 100938730 100938740 100938750 100938760
 100938770 100938780 100938790 100938800 100938810 100938820 100938830
 100938840 100938850 100938860 100938870 100938880 100938890 100938900
 100938910 100938920 100938930 100938940 100938950 100938960 100938970
 100938980 100938990 100939000 100939010 100939020 100939030 100939040
 100939050 100939060 100939070 100939080 100939090 100939100 100939110
 100939120 100939130 100939140 100939150 100939160 100939170 100939180
 100939190 100939200 100939210 100939220 100939230 100939240 100939250
 100939260 100939270 100939280]
1911
[   936 300155 300435 ...   2799   2322   2758]

In [4]:
re[np.isnan(re["sequenceNo_y"])]['TransactTime'].min()

91500030

In [4]:
TradeLogSZ1['TransactTime'].min()

91754210

In [6]:
TradeLogSZ1[(TradeLogSZ1['ApplSeqNum'] == 11991648)]

Empty DataFrame
Columns: [clockAtArrival, sequenceNo, exchId, TransactTime, ApplSeqNum, SecurityID, ExecType, TradeBSFlag, TradePrice, TradeQty, TradeMoney, BidApplSeqNum, OfferApplSeqNum]
Index: []

In [16]:
sum(TradeLogSZ1['TradeMoney']%10000)

0

In [6]:
TradeLogSZ['TradeBSFlag'].unique()

array(['N'], dtype=object)

In [46]:
re[np.isnan(re["sequenceNo_x"])]["TransactTime"].min()

140403510

In [45]:
re[np.isnan(re["sequenceNo_y"])]["TransactTime"].describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]).astype('int64')

count        12926
mean     130318041
std           1695
min      130315160
10%      130315810
20%      130316230
30%      130316770
40%      130317370
50%      130318030
60%      130318820
70%      130319230
80%      130319660
90%      130320390
max      130321010
Name: TransactTime, dtype: int64

In [11]:
re[np.isnan(re["sequenceNo_x"])]

,clockAtArrival_x,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum,clockAtArrival_y,sequenceNo_y,exchId_y,securityType,__isRepeated,ChannelNo,secid,mdSource,__origTickSeq
34145274,NaN,NaN,NaN,95028120,4481971,2845,4,N,0,500,0,4467692,0,1.592272e+15,44109631.0,2.0,1.0,0.0,2013.0,2002845.0,4.0,41262730.0

In [14]:
pd.set_option("max_columns", 200)
display(TradeLogSZ[(TradeLogSZ["SecurityID"] == 78) & (TradeLogSZ["ApplSeqNum"]>= 12066263)])
display(TradeLogSZ1[(TradeLogSZ1["SecurityID"] == 78) & (TradeLogSZ1["ApplSeqNum"] >= 12066263)])

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,ExecType,TradeBSFlag,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
32517868,1592370196785178,75400746,2,130315160,12066263,78,4,N,0,2000,0,12015523,0
32518107,1592370196915193,75401387,2,130315290,12066418,78,F,N,45700,2000,91400000,12065670,12066417
32518875,1592370197245372,75402967,2,130315620,12066730,78,F,N,45700,100,4570000,12065670,12066729
32520835,1592370197758405,75409178,2,130316130,12067620,78,F,N,45800,500,22900000,12067619,4140780
32520836,1592370197758410,75409179,2,130316130,12067621,78,F,N,45800,500,22900000,12067619,4169416
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52442396,1592377202094795,123129944,2,150000000,19216134,78,F,N,45200,100,4520000,19147469,19210723
52442397,1592377202094796,123129945,2,150000000,19216135,78,F,N,45200,500,22600000,19147469,19211044
52442398,1592377202094798,123129946,2,150000000,19216136,78,F,N,45200,300,13560000,19147469,19211168
52442399,1592377202094799,123129947,2,150000000,19216137,78,F,N,45200,1200,54240000,19147469,19211976
52442400,1592377202094800,123129948,2,150000000,19216138,78,F,N,45200,1000,45200000,19147469,19212109

,clockAtArrival,sequenceNo,exchId,securityType,__isRepeated,TransactTime,ChannelNo,ApplSeqNum,SecurityID,secid,mdSource,ExecType,TradeBSFlag,__origTickSeq,TradePrice,TradeQty,TradeMoney,BidApplSeqNum,OfferApplSeqNum
628965,1592392066695526,1541602,2,1,0,130321250,2012,12073361,78,2000078,24,4,N,-1,0,2300,0,11830817,0
629413,1592392066696294,1542575,2,1,0,130321500,2012,12073606,78,2000078,24,4,N,-1,0,7900,0,0,5429577
629597,1592392066696544,1542927,2,1,0,130321590,2012,12073696,78,2000078,24,4,N,-1,0,2000,0,11870661,0
629871,1592392066697280,1543639,2,1,0,130321700,2012,12073826,78,2000078,24,4,N,-1,0,10000,0,0,11349884
629885,1592392066697345,1543697,2,1,0,130321700,2012,12073835,78,2000078,24,F,N,-1,45700,11300,516410000,12071855,12073834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7645283,1592392081862562,17894769,2,1,0,140821620,2012,15752737,78,2000078,24,4,N,-1,0,100,0,0,15740719
7645284,1592392081862562,17894770,2,1,0,140821620,2012,15752738,78,2000078,24,4,N,-1,0,300,0,0,15749907
7645285,1592392081862565,17894772,2,1,0,140821620,2012,15752739,78,2000078,24,4,N,-1,0,100,0,0,15743677
7645286,1592392081862565,17894773,2,1,0,140821620,2012,15752740,78,2000078,24,4,N,-1,0,100,0,0,15746749
7645503,1592392081863167,17895418,2,1,0,140821710,2012,15752833,78,2000078,24,F,N,-1,45700,500,22850000,15752832,15751691

In [3]:
# TradeBSFlag
TradeLogSZ1["Flag"] = np.where(TradeLogSZ1["ExecType"] == "4", np.nan, np.where(
    TradeLogSZ1["BidApplSeqNum"] > TradeLogSZ1["OfferApplSeqNum"], "B", "S"))
TradeLogSZ1[TradeLogSZ1["ExecType"] == "F"][TradeLogSZ1[TradeLogSZ1["ExecType"] == "F"]["TradeBSFlag"] != TradeLogSZ1[TradeLogSZ1["ExecType"] == "F"]["Flag"]]

Empty DataFrame
Columns: [clockAtArrival, sequenceNo, exchId, TransactTime, ApplSeqNum, SecurityID, ExecType, TradeBSFlag, TradePrice, TradeQty, TradeMoney, BidApplSeqNum, OfferApplSeqNum, Flag]
Index: []

In [4]:
# speed test
re = re[~re["sequenceNo_x"].isnull()]
re = re[~re["sequenceNo_y"].isnull()]
diff = re["clockAtArrival_y"] - re["clockAtArrival_x"]
re["diff"] = re["clockAtArrival_y"] - re["clockAtArrival_x"]
print(np.quantile(abs(diff[diff < 0]), 0.25))
print(np.median(abs(diff[diff < 0])))
print(np.quantile(abs(diff[diff < 0]), 0.75))
print(np.quantile(diff[diff > 0], 0.25))
print(np.median(diff[diff > 0]))
print(np.quantile(diff[diff > 0], 0.75))
print(sum(diff < 0)/len(diff))
print(sum(diff > 0)/len(diff))
print(sum(diff == 0)/len(diff))

519.0
5774.0
22633.0
606.0
3356.0
10302.0
0.7616549764734972
0.23804654093549993
0.00029848259100287975

In [8]:
re["clockAtArrival_y"] = re["clockAtArrival_y"].astype(np.int64)
re[(re["diff"] > 0) & (re["TransactTime"] > 94500000)][["TransactTime", "SecurityID", "ApplSeqNum", "sequenceNo_x", "clockAtArrival_x", "sequenceNo_y", "clockAtArrival_y", "TradePrice", "TradeQty", "BidApplSeqNum","OfferApplSeqNum"]].head(10)

,TransactTime,SecurityID,ApplSeqNum,sequenceNo_x,clockAtArrival_x,sequenceNo_y,clockAtArrival_y,TradePrice,TradeQty,BidApplSeqNum,OfferApplSeqNum
6219628,94500010,300369,3696742,20599849,1589939100166392,15355334.0,1589939100178970,0,100,3568168,0
6219629,94500010,300342,4074680,20600341,1589939100168258,15355306.0,1589939100175703,0,1900,4067270,0
6219630,94500010,300236,4074681,20600342,1589939100168259,15355307.0,1589939100175706,0,3000,0,4001264
6219631,94500010,300311,3764825,20600343,1589939100168262,15355308.0,1589939100175707,0,600,3633663,0
6219632,94500010,300750,3840110,20600349,1589939100168590,15355342.0,1589939100179015,1526200,500,3840109,3806902
6219633,94500010,2301,3840112,20600351,1589939100168593,15355344.0,1589939100179016,149300,100,3840111,3834183
6219634,94500010,2537,3696746,20600369,1589939100170269,15355351.0,1589939100179772,63300,400,3696267,3696745
6219635,94500010,999,3764832,20600372,1589939100170674,15355364.0,1589939100186835,286500,100,3764831,3760330
6219636,94500010,2351,3764834,20600374,1589939100170712,15355366.0,1589939100186838,0,2300,0,3638340
6219637,94500010,300255,3840121,20600377,1589939100171157,15355354.0,1589939100179775,52900,400,3840120,3594940

In [31]:
re["diff"] = re["clockAtArrival_y"] - re["clockAtArrival_x"]
pd.set_option("max_rows", 2000)
kk = re[re["diff"] > 0].groupby("TransactTime")["TradeBSFlag"].size().reset_index().sort_values(by="TradeBSFlag", ascending=False)
kk["group"] = np.where((kk["TransactTime"] <= 100000000), 1, np.where(
(kk["TransactTime"] >= 130000000) & (kk["TransactTime"] < 130500000), 2, 3))
kk.groupby("group")["TradeBSFlag"].sum()

group
1    6049547
2     352360
3    1414520
Name: TradeBSFlag, dtype: int64

In [41]:
re[re["diff"] > 0]["TransactTime"].describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]).astype(int)

count      7816427
mean     103222542
std       18859947
min       91500020
10%       93049090
20%       93239800
30%       93452320
40%       93717560
50%       93958050
60%       94318490
70%       94813500
80%      103252180
90%      145001510
max      150000000
Name: TransactTime, dtype: int32

### Completeness check - orderlog

In [5]:
columns = ["TransactTime", "ApplSeqNum","Side",'OrderType', 'Price', 'OrderQty', "SecurityID"]

# OrderLogSZ = OrderLogSZ[OrderLogSZ['TransactTime'] >= OrderLogSZ1['TransactTime'].min()]
OrderLogSZ1 = OrderLogSZ1.drop_duplicates(columns, keep='first')
ree = pd.merge(OrderLogSZ, OrderLogSZ1, left_on=columns, right_on=columns, how="outer", validate='one_to_one')
n1 = ree["sequenceNo_x"].count()
n2 = ree["sequenceNo_y"].count()
len1 = len(ree)
print(n1)
print(n2)
print(len1)
print("-----------------------------------------------")
if n2 < len1:
    display("test is not complete:")
    display(ree[np.isnan(ree["sequenceNo_y"])])
    print(len(ree[np.isnan(ree["sequenceNo_y"])]))
    print(np.sort(ree[np.isnan(ree["sequenceNo_y"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["sequenceNo_y"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["sequenceNo_y"])]["SecurityID"].unique())
if (len1 == n2) & (n1 < len1):
    display("test is complete, baseline is not complete:")
    display(ree[np.isnan(ree["sequenceNo_x"])])
    print(np.sort(ree[np.isnan(ree["sequenceNo_x"])]["TransactTime"].unique()))
    print(len(ree[np.isnan(ree["sequenceNo_x"])]["SecurityID"].unique()))
    print(ree[np.isnan(ree["sequenceNo_x"])]["SecurityID"].unique())
    display(n2-n1)

16059029
16032476
16059029
-----------------------------------------------

'test is not complete:'

,clockAtArrival_x,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty,mdSource_x,clockAtArrival_y,sequenceNo_y,exchId_y,mdSource_y
16032476,1604282973752283,32279027,2,100931840,8018476,300650,2,2,235400,500,24,NaN,NaN,NaN,NaN
16032477,1604282973752750,32279037,2,100931850,7442003,2131,1,2,31100,1000,24,NaN,NaN,NaN,NaN
16032478,1604282973752898,32279038,2,100931840,7534378,156,1,2,97700,400,24,NaN,NaN,NaN,NaN
16032479,1604282973753739,32279040,2,100931850,7534380,728,2,2,83500,3600,24,NaN,NaN,NaN,NaN
16032480,1604282973753908,32279042,2,100931850,8018478,300540,1,2,207600,100,24,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16059024,1604282980469037,32338298,2,100938560,7455491,2451,2,2,71200,500,24,NaN,NaN,NaN,NaN
16059025,1604282980469378,32338300,2,100938560,7455493,300830,1,2,163300,100,24,NaN,NaN,NaN,NaN
16059026,1604282980469733,32338301,2,100938560,8052170,2797,1,2,99400,300,24,NaN,NaN,NaN,NaN
16059027,1604282980470201,32338302,2,100938560,7547471,300313,2,2,214300,6600,24,NaN,NaN,NaN,NaN
16059028,1604282980470503,32338303,2,100938560,8031740,300568,2,2,252000,1000,24,NaN,NaN,NaN,NaN

26553
[100931840 100931850 100931860 100931870 100931880 100931890 100931900
 100931910 100931920 100931930 100931940 100931950 100931960 100931970
 100931980 100931990 100932000 100932010 100932020 100932030 100932040
 100932050 100932060 100932070 100932080 100932090 100932100 100932110
 100932120 100932130 100932140 100932150 100932160 100932170 100932180
 100932190 100932200 100932210 100932220 100932230 100932240 100932250
 100932260 100932270 100932280 100932290 100932300 100932310 100932320
 100932330 100932340 100932350 100932360 100932370 100932380 100932390
 100932400 100932410 100932420 100932430 100932440 100932450 100932460
 100932470 100932480 100932490 100932500 100932510 100932520 100932530
 100932540 100932550 100932560 100932570 100932580 100932590 100932600
 100932610 100932620 100932630 100932640 100932650 100932660 100932670
 100932680 100932690 100932700 100932710 100932720 100932730 100932740
 100932750 100932760 100932770 100932780 100932790 100932800 100932810
 100932820 100932830 100932840 100932850 100932860 100932870 100932880
 100932890 100932900 100932910 100932920 100932930 100932940 100932950
 100932960 100932970 100932980 100932990 100933000 100933010 100933020
 100933030 100933040 100933050 100933060 100933070 100933080 100933090
 100933100 100933110 100933120 100933130 100933140 100933150 100933160
 100933170 100933180 100933190 100933200 100933210 100933220 100933230
 100933240 100933250 100933260 100933270 100933280 100933290 100933300
 100933310 100933320 100933330 100933340 100933350 100933360 100933370
 100933380 100933390 100933400 100933410 100933420 100933430 100933440
 100933450 100933460 100933470 100933480 100933490 100933500 100933510
 100933520 100933530 100933540 100933550 100933560 100933570 100933580
 100933590 100933600 100933610 100933620 100933630 100933640 100933650
 100933660 100933670 100933680 100933690 100933700 100933710 100933720
 100933730 100933740 100933750 100933760 100933770 100933780 100933790
 100933800 100933810 100933820 100933830 100933840 100933850 100933860
 100933870 100933880 100933890 100933900 100933910 100933920 100933930
 100933940 100933950 100933960 100933970 100933980 100933990 100934000
 100934010 100934020 100934030 100934040 100934050 100934060 100934070
 100934080 100934090 100934100 100934110 100934120 100934130 100934140
 100934150 100934160 100934170 100934180 100934190 100934200 100934210
 100934220 100934230 100934240 100934250 100934260 100934270 100934280
 100934290 100934300 100934310 100934320 100934330 100934340 100934350
 100934360 100934370 100934380 100934390 100934400 100934410 100934420
 100934430 100934440 100934450 100934460 100934470 100934480 100934490
 100934500 100934510 100934520 100934530 100934540 100934550 100934560
 100934570 100934580 100934590 100934600 100934610 100934620 100934630
 100934640 100934650 100934660 100934670 100934680 100934690 100934700
 100934710 100934720 100934730 100934740 100934750 100934760 100934770
 100934780 100934790 100934800 100934810 100934820 100934830 100934840
 100934850 100934860 100934870 100934880 100934890 100934900 100934910
 100934920 100934930 100934940 100934950 100934960 100934970 100934980
 100934990 100935000 100935010 100935020 100935030 100935040 100935050
 100935060 100935070 100935080 100935090 100935100 100935110 100935120
 100935130 100935140 100935150 100935160 100935170 100935180 100935190
 100935200 100935210 100935220 100935230 100935240 100935250 100935260
 100935270 100935280 100935290 100935300 100935310 100935320 100935330
 100935340 100935350 100935360 100935370 100935380 100935390 100935400
 100935410 100935420 100935430 100935440 100935450 100935460 100935470
 100935480 100935490 100935500 100935510 100935520 100935530 100935540
 100935550 100935560 100935570 100935580 100935590 100935600 100935610
 100935620 100935630 100935640 100935650 100935660 100935670 100935680
 100935690 100935700 100935710 100935720 100935730 100935740 100935750
 100935760 100935770 100935780 100935790 100935800 100935810 100935820
 100935830 100935840 100935850 100935860 100935870 100935880 100935890
 100935900 100935910 100935920 100935930 100935940 100935950 100935960
 100935970 100935980 100935990 100936000 100936010 100936020 100936030
 100936040 100936050 100936060 100936070 100936080 100936090 100936100
 100936110 100936120 100936130 100936140 100936150 100936160 100936170
 100936180 100936190 100936200 100936210 100936220 100936230 100936240
 100936250 100936260 100936270 100936280 100936290 100936300 100936310
 100936320 100936330 100936340 100936350 100936360 100936370 100936380
 100936390 100936400 100936410 100936420 100936430 100936440 100936450
 100936460 100936470 100936480 100936490 100936500 100936510 100936520
 100936530 100936540 100936550 100936560 100936570 100936580 100936590
 100936600 100936610 100936620 100936630 100936640 100936650 100936660
 100936670 100936680 100936690 100936700 100936710 100936720 100936730
 100936740 100936750 100936760 100936770 100936780 100936790 100936800
 100936810 100936820 100936830 100936840 100936850 100936860 100936870
 100936880 100936890 100936900 100936910 100936920 100936930 100936940
 100936950 100936960 100936970 100936980 100936990 100937000 100937010
 100937020 100937030 100937040 100937050 100937060 100937070 100937080
 100937090 100937100 100937110 100937120 100937130 100937140 100937150
 100937160 100937170 100937180 100937190 100937200 100937210 100937220
 100937230 100937240 100937250 100937260 100937270 100937280 100937290
 100937300 100937310 100937320 100937330 100937340 100937350 100937360
 100937370 100937380 100937390 100937400 100937410 100937420 100937430
 100937440 100937450 100937460 100937470 100937480 100937490 100937500
 100937510 100937520 100937530 100937540 100937550 100937560 100937570
 100937580 100937590 100937600 100937610 100937620 100937630 100937640
 100937650 100937660 100937670 100937680 100937690 100937700 100937710
 100937720 100937730 100937740 100937750 100937760 100937770 100937780
 100937790 100937800 100937810 100937820 100937830 100937840 100937850
 100937860 100937870 100937880 100937890 100937900 100937910 100937920
 100937930 100937940 100937950 100937960 100937970 100937980 100937990
 100938000 100938010 100938020 100938030 100938040 100938050 100938060
 100938070 100938080 100938090 100938100 100938110 100938120 100938130
 100938140 100938150 100938160 100938170 100938180 100938190 100938200
 100938210 100938220 100938230 100938240 100938250 100938260 100938270
 100938280 100938290 100938300 100938310 100938320 100938330 100938340
 100938350 100938360 100938370 100938380 100938390 100938400 100938410
 100938420 100938430 100938440 100938450 100938460 100938470 100938480
 100938490 100938500 100938510 100938520 100938530 100938540 100938550
 100938560]
2033
[300650   2131    156 ...   2657   2703   2881]

In [6]:
OrderLogSZ1['TransactTime'].max()

100931840

In [ ]:
ree[ree['sequenceNo_y'].isnull()]['TransactTime']

In [6]:
ree[np.isnan(ree["sequenceNo_y"])]["TransactTime"].describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]).astype('int64')

count      325544
mean     91565516
std        141200
min      91500000
10%      91500390
20%      91500820
30%      91501340
40%      91502070
50%      91502950
60%      91504350
70%      91506510
80%      91519380
90%      91827637
max      92038800
Name: TransactTime, dtype: int64

In [60]:
TradeLogSZ1[(TradeLogSZ1["TransactTime"] > 130315160) & (TradeLogSZ1["TransactTime"] < 130321010)]

Empty DataFrame
Columns: [clockAtArrival, sequenceNo, exchId, securityType, __isRepeated, TransactTime, ChannelNo, ApplSeqNum, SecurityID, secid, mdSource, ExecType, TradeBSFlag, __origTickSeq, TradePrice, TradeQty, TradeMoney, BidApplSeqNum, OfferApplSeqNum]
Index: []

In [62]:
OrderLogSZ1[(OrderLogSZ1["TransactTime"] >= 130315160) & (OrderLogSZ1["TransactTime"] <= 130321010)]

,clockAtArrival,sequenceNo,exchId,securityType,__isRepeated,TransactTime,ChannelNo,ApplSeqNum,SecurityID,secid,mdSource,Side,OrderType,__origTickSeq,Price,OrderQty
739772,1592392066693076,1540725,2,1,0,130315160,131923968,13090705,300458,2300458,24,1,2,-1,312800,100
739775,1592392066693083,1540734,2,1,0,130315160,131923968,13090708,300458,2300458,24,1,2,-1,312800,400
739776,1592392066694919,1540736,2,1,0,130321010,131792896,12379233,300504,2300504,24,2,2,-1,261100,100
739777,1592392066694922,1540737,2,1,0,130321010,131792896,12379234,2505,2002505,24,1,2,-1,22500,1000
739778,1592392066694923,1540739,2,1,0,130321010,131989504,12163777,300281,2300281,24,1,2,-1,71900,1000
739779,1592392066694925,1540742,2,1,0,130321010,131792896,12379235,2119,2002119,24,1,2,-1,127000,200
739780,1592392066694925,1540743,2,1,0,130321010,131923968,13097524,2185,2002185,24,2,2,-1,132500,600
739781,1592392066694929,1540744,2,1,0,130321010,131923968,13097525,2733,2002733,24,1,2,-1,205500,3300
739782,1592392066694930,1540745,2,1,0,130321010,131858432,12073126,300122,2300122,24,2,2,-1,946900,400
739783,1592392066694931,1540747,2,1,0,130321010,131792896,12379236,300429,2300429,24,2,2,-1,176400,4000
739784,1592392066694932,1540748,2,1,0,130321010,131792896,12379237,300721,2300721,24,1,2,-1,209200,100
739785,1592392066694934,1540752,2,1,0,130321010,131858432,12073130,2541,2002541,24,1,2,-1,251800,1000
739786,1592392066694936,1540755,2,1,0,130321010,131792896,12379239,300781,2300781,24,2,2,-1,320000,100
739787,1592392066694940,1540758,2,1,0,130321010,131792896,12379241,300781,2300781,24,2,2,-1,320000,100
739788,1592392066694942,1540761,2,1,0,130321010,131923968,13097527,300223,2300223,24,2,2,-1,949600,1500
739789,1592392066694944,1540762,2,1,0,130321010,131923968,13097528,895,2000895,24,2,2,-1,409600,100
739790,1592392066694945,1540764,2,1,0,130321010,131858432,12073135,2755,2002755,24,2,2,-1,188000,1600

In [20]:
ree[np.isnan(ree["sequenceNo_y"]) & (ree["SecurityID"] == 2271) & (ree["TransactTime"] >= 130315000)]

,clockAtArrival_x,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty,clockAtArrival_y,sequenceNo_y,exchId_y,securityType,__isRepeated,ChannelNo,secid,mdSource,__origTickSeq
739776,1592370196785106,75400745,2,130315160,12157807,2271,2,2,412700,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
739974,1592370196853533,75401147,2,130315230,12157893,2271,1,2,412600,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
740947,1592370197357694,75404284,2,130315730,12158373,2271,1,2,412100,1600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
741385,1592370197517352,75405873,2,130315890,12158597,2271,2,2,412600,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
742874,1592370197922737,75411396,2,130316290,12159277,2271,2,2,412600,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15254180,1592377199125246,123111696,2,145957480,19298388,2271,1,2,413200,22300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15254502,1592377199267690,123112037,2,145957620,19298451,2271,1,2,408100,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15255264,1592377199699538,123113287,2,145958060,19298638,2271,1,2,413200,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15256537,1592377200441336,123115047,2,145958800,19298929,2271,2,2,410000,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15257051,1592377200624467,123115948,2,145958980,19299061,2271,1,2,414000,23300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
display(OrderLogSZ[(OrderLogSZ["SecurityID"] == 2271) & (OrderLogSZ["TransactTime"] > 130321160) & (OrderLogSZ["TransactTime"] < 140000000)])
display(OrderLogSZ1[(OrderLogSZ1["SecurityID"] == 2271) & (OrderLogSZ1["TransactTime"] > 130321160)& (OrderLogSZ1["TransactTime"] < 140000000)])

,clockAtArrival,sequenceNo,exchId,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty
26924421,1592370203449125,75450267,2,130321820,12164624,2271,1,2,412600,100
26924460,1592370203461389,75450436,2,130321830,12164634,2271,1,2,412600,100
26924590,1592370203500309,75450884,2,130321870,12164696,2271,1,2,412400,500
26924611,1592370203503853,75450966,2,130321880,12164714,2271,1,2,412400,500
26924662,1592370203512386,75451083,2,130321880,12164752,2271,2,2,412400,100
...,...,...,...,...,...,...,...,...,...,...
33504292,1592373599894655,96698336,2,135958260,15212165,2271,1,2,410500,3000
33504851,1592373600221233,96700093,2,135958580,15212399,2271,1,2,410700,800
33504978,1592373600304215,96700505,2,135958670,15212457,2271,1,2,410000,100
33505021,1592373600330572,96700633,2,135958690,15212473,2271,1,2,410600,100
33506447,1592373601266786,96704841,2,135959630,15213050,2271,1,2,410000,200

,clockAtArrival,sequenceNo,exchId,securityType,__isRepeated,TransactTime,ChannelNo,ApplSeqNum,SecurityID,secid,mdSource,Side,OrderType,__origTickSeq,Price,OrderQty
741501,1592392066698444,1544834,2,1,0,130321820,131989504,12164624,2271,2002271,24,1,2,-1,412600,100
741540,1592392066698568,1544960,2,1,0,130321830,131989504,12164634,2271,2002271,24,1,2,-1,412600,100
741670,1592392066698925,1545322,2,1,0,130321870,131989504,12164696,2271,2002271,24,1,2,-1,412400,500
741690,1592392066698981,1545378,2,1,0,130321880,131989504,12164714,2271,2002271,24,1,2,-1,412400,500
741737,1592392066699047,1545457,2,1,0,130321880,131989504,12164752,2271,2002271,24,2,2,-1,412400,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7117530,1592392079830837,15552403,2,1,0,135958260,131989504,15212165,2271,2002271,24,1,2,-1,410500,3000
7118077,1592392079831763,15553525,2,1,0,135958580,131989504,15212399,2271,2002271,24,1,2,-1,410700,800
7118201,1592392079832127,15553742,2,1,0,135958670,131989504,15212457,2271,2002271,24,1,2,-1,410000,100
7118243,1592392079832206,15553855,2,1,0,135958690,131989504,15212473,2271,2002271,24,1,2,-1,410600,100
7119618,1592392079834281,15556623,2,1,0,135959630,131989504,15213050,2271,2002271,24,1,2,-1,410000,200

In [31]:
TradeLogSZ1["TransactTime"].max()

140822200

In [7]:
# speed test
ree = ree[~ree["sequenceNo_x"].isnull()]
ree = ree[~ree["sequenceNo_y"].isnull()]
ree["diff"] = ree["clockAtArrival_y"] - ree["clockAtArrival_x"]
diff = ree["clockAtArrival_y"] - ree["clockAtArrival_x"]
print(np.quantile(abs(diff[diff < 0]), 0.25))
print(np.median(abs(diff[diff < 0])))
print(np.quantile(abs(diff[diff < 0]), 0.75))
print(np.quantile(diff[diff > 0], 0.25))
print(np.median(diff[diff > 0]))
print(np.quantile(diff[diff > 0], 0.75))
print(sum(diff < 0)/len(diff))
print(sum(diff > 0)/len(diff))

445.0
5965.0
23462.0
586.0
3401.0
10755.0
0.7618442715897408
0.23772404212549578

In [6]:
ree["clockAtArrival_x"] = ree["clockAtArrival_x"].astype(np.int64)
ree["clockAtArrival_y"] = ree["clockAtArrival_y"].astype(np.int64)
ree[(ree["diff"] > 0) & (ree["TransactTime"] > 100000000)][["TransactTime", "SecurityID", "ApplSeqNum", "sequenceNo_x", "clockAtArrival_x", "sequenceNo_y", "clockAtArrival_y", "Side",'OrderType', 'Price', 'OrderQty']].head(5)

,TransactTime,SecurityID,ApplSeqNum,sequenceNo_x,clockAtArrival_x,sequenceNo_y,clockAtArrival_y,Side,OrderType,Price,OrderQty
12184342,100000010,1,5360674,31058726,1589940000185900,22685080.0,1589940000185910,2,2,133300,19500
12184348,100000010,895,5610687,31058748,1589940000186713,22685100.0,1589940000186733,2,2,409500,2100
12184747,100000120,603,5610968,31060023,1589940000296594,22686047.0,1589940000297164,2,2,129600,3000
12185031,100000200,2013,5499388,31060692,1589940000377979,22686625.0,1589940000378690,1,2,87100,80000
12185034,100000200,2291,5499406,31060716,1589940000379260,22686647.0,1589940000379914,2,2,216500,1000

In [37]:
ree["diff"] = ree["clockAtArrival_y"] - ree["clockAtArrival_x"]
pd.set_option("max_rows", 2000)
kk = ree[ree["diff"] > 0].groupby("TransactTime")["Side"].size().reset_index().sort_values(by="Side", ascending=False)
kk["group"] = np.where((kk["TransactTime"] <= 100000000) & (kk["TransactTime"] > 93000000), 1, np.where(
(kk["TransactTime"] >= 130000000) & (kk["TransactTime"] < 130500000), 2, 3))
kk.groupby("group")["Side"].sum()

group
1    7359075
2     459652
3    1716405
Name: Side, dtype: int64

In [40]:
ree[ree["diff"] > 0]["TransactTime"].describe([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]).astype(int)

count      9535132
mean     100345283
std       15914294
min       91500000
10%       93003030
20%       93120590
30%       93324570
40%       93545480
50%       93818150
60%       94112790
70%       94501100
80%       95206990
90%      130206870
max      145959670
Name: TransactTime, dtype: int32

In [36]:
ree[ree["diff"] > 0]

,clockAtArrival_x,sequenceNo_x,exchId_x,TransactTime,ApplSeqNum,SecurityID,Side,OrderType,Price,OrderQty,clockAtArrival_y,sequenceNo_y,exchId_y,diff
147,1.589851e+15,309989.0,2.0,91500000,280,300716,1,2,99400,989900,1.589851e+15,39029.0,2.0,10526.0
148,1.589851e+15,309990.0,2.0,91500000,281,2084,1,2,72100,208100,1.589851e+15,39030.0,2.0,10524.0
149,1.589851e+15,310008.0,2.0,91500000,303,300716,1,2,99400,217100,1.589851e+15,39031.0,2.0,10446.0
150,1.589851e+15,310011.0,2.0,91500000,306,300716,1,2,99400,989300,1.589851e+15,39032.0,2.0,10438.0
184,1.589851e+15,310066.0,2.0,91500000,333,300716,1,2,99400,299200,1.589851e+15,39033.0,2.0,10262.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34868297,1.589872e+15,108287107.0,2.0,145958900,17086005,300618,1,2,519900,100,1.589872e+15,72832927.0,2.0,2.0
34868386,1.589872e+15,108287199.0,2.0,145958960,17270417,300132,2,2,194400,1800,1.589872e+15,72833016.0,2.0,34.0
34868570,1.589872e+15,108287392.0,2.0,145959060,17270477,300132,2,2,194400,1800,1.589872e+15,72833200.0,2.0,515.0
34868571,1.589872e+15,108287393.0,2.0,145959060,17270478,300088,2,2,96200,500,1.589872e+15,72833201.0,2.0,601.0
34869524,1.589872e+15,108288824.0,2.0,145959670,16588485,2399,1,2,232000,1400,1.589872e+15,72834154.0,2.0,3.0

### Ordering within stocks

In [4]:
TradeLogSZ1["tradeseq"] = TradeLogSZ1.index.values
OrderLogSZ1["orderseq"] = OrderLogSZ1.index.values
SZ = pd.concat([TradeLogSZ, OrderLogSZ]).sort_values(by=["sequenceNo", "clockAtArrival"])
SZ1 = pd.concat([TradeLogSZ1, OrderLogSZ1]).sort_values(by=["sequenceNo", "clockAtArrival"])
del TradeLogSZ
# del TradeLogSZ1
del OrderLogSZ
# del OrderLogSZ1

print(len(SZ["SecurityID"].unique()))
print(len(SZ1["SecurityID"].unique()))

columns = ["TransactTime", "ApplSeqNum", "SecurityID", "ExecType", "TradeBSFlag", "TradePrice", "TradeQty",
           "TradeMoney", "BidApplSeqNum", "OfferApplSeqNum", "Side", "OrderType", "Price", "OrderQty"]
# columns = ["TransactTime", "ApplSeqNum", "SecurityID", "ExecType", "TradePrice", "TradeQty",
#            "BidApplSeqNum", "OfferApplSeqNum", "Side", "OrderType", "Price", "OrderQty"]
stocks = SZ["SecurityID"].unique()
m = 0
diff = []
for i in stocks:
    re1 = pd.merge(SZ[SZ["SecurityID"] == i], SZ1[SZ1["SecurityID"] == i], left_on=columns, right_on=columns, how="inner")
    if (sorted(re1["sequenceNo_y"]) != re1["sequenceNo_y"]).any() == False:
        m = m + 1
    else:
        diff.append(i)
if m == len(stocks):
    print("SZE Trade + Order Data have same ordering within stocks")
print(m)
print(diff)

# if len(diff) != 0:
#     for i in diff:
#         re1 = pd.merge(SZ[SZ["SecurityID"] == i], SZ1[SZ1["SecurityID"] == i], left_on=columns, right_on=columns, how="inner")
#         display(re1[sorted(re1["sequenceNo_y"]) != re1["sequenceNo_y"]])

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

1293
1293
8
[300313, 732, 2561, 551, 300407, 2903, 735, 300144, 718, 300448, 300137, 2793, 300232, 2707, 2637, 300283, 300195, 300422, 300389, 720, 300390, 3001, 300677, 2951, 300639, 300895, 2210, 566, 2773, 669, 2906, 2332, 300581, 300885, 2593, 300738, 300857, 3000, 2287, 2371, 798, 300040, 300485, 2293, 300052, 300546, 300763, 300749, 2369, 2437, 426, 829, 300717, 2609, 2694, 541, 636, 2007, 300617, 2383, 2829, 2391, 300440, 300787, 300285, 2270, 300494, 300454, 2434, 2759, 2918, 300044, 2304, 300821, 906, 300490, 2080, 300079, 2651, 887, 2877, 300436, 300352, 300122, 3011, 300626, 300328, 2628, 300726, 300623, 300065, 2945, 155, 300142, 2065, 300058, 300033, 2860, 55, 300167, 300147, 2727, 2560, 27, 300689, 2993, 2991, 2345, 300417, 2231, 300005, 2142, 300584, 300072, 300379, 2702, 300083, 596, 2917, 300615, 2514, 2461, 14, 498, 777, 592, 16, 300008, 2699, 300190, 300529, 300533, 300353, 300270, 300510, 2240, 2149, 300358, 3003, 2124, 2441, 300899, 300014, 300106, 2975, 300887, 300317, 2351, 300375, 300235, 2528, 597, 869, 300890, 300126, 300625, 300893, 300010, 300323, 543, 2546, 2464, 2167, 300808, 2747, 300632, 300654, 2082, 300564, 300501, 300467, 61, 300597, 300608, 637, 300261, 691, 561, 300508, 599, 2585, 300783, 300082, 300304, 757, 2783, 300469, 300398, 300644, 2531, 502, 4, 2630, 2726, 2261, 2201, 2305, 2328, 300006, 300865, 2091, 2717, 2292, 2364, 671, 2390, 300456, 300861, 300883, 300397, 300325, 895, 300543, 300402, 300489, 300302, 300831, 300409, 300152, 2847, 402, 2311, 2873, 300183, 2376, 2321, 2910, 2826, 606, 2907, 300603, 2946, 2822, 300443, 2191, 2078, 300889, 2039, 2459, 716, 2667, 300495, 300380, 534, 300437, 2691, 2094, 2984, 2582, 2075, 2530, 300111, 300199, 300301, 736, 2511, 2172, 300672, 2223, 861, 2512, 2442, 300559, 2053, 681, 2876, 2527, 68, 300004, 62, 300812, 2428, 2591, 300528, 300886, 300170, 300506, 300621, 300370, 2313, 2268, 300136, 2372, 2881, 2320, 300179, 2670, 300132, 300730, 2832, 719, 300775, 300351, 300850, 550, 2856, 300542, 300587, 2377, 300733, 300807, 917, 300741, 300697, 300785, 300830, 886, 908, 300477, 300740, 532, 300070, 2058, 300470, 2004, 300222, 2092, 2325, 3002, 2558, 300193, 2900, 2212, 31, 521, 2588, 525, 2677, 2491, 300272, 300002, 965, 300668, 300745, 570, 2776, 2526, 524, 300638, 2932, 300798, 928, 700, 2170, 2125, 2474, 2562, 300482, 973, 2042, 300516, 2493, 2244, 2429, 300756, 762, 300803, 2019, 2226, 2538, 2646, 2672, 2541, 2520, 300601, 2838, 2861, 300658, 2012, 300788, 300303, 300695, 2365, 2855, 300547, 300505, 2533, 2470, 2706, 300254, 300169, 955, 300138, 2740, 11, 300872, 703, 2190, 300573, 300074, 2199, 2350, 593, 300163, 2165, 65, 300288, 300565, 300620, 2399, 2248, 2417, 300643, 2545, 2686, 300576, 2848, 300709, 838, 510, 612, 2521, 2093, 2381, 2275, 2404, 2709, 501, 300642, 613, 2664, 856, 300045, 2928, 300868, 2419, 300378, 591, 300835, 2573, 2077, 2013, 300647, 300468, 2576, 2941, 2584, 633, 2666, 300311, 2798, 300480, 2471, 835, 2221, 797, 2184, 2801, 300549, 520, 300441, 2314, 607, 2283, 2813, 2638, 2559, 2644, 2206, 300579, 2547, 300869, 2255, 300817, 300627, 2180, 300661, 632, 705, 428, 300256, 2234, 300825, 300054, 546, 2158, 2807, 300260, 901, 300068, 2780, 2565, 2671, 2438, 2067, 2516, 2016, 300092, 665, 2713, 2982, 300447, 2775, 2818, 300150, 2703, 300123, 409, 584, 2398, 2502, 2750, 300577, 2349, 300113, 300455, 2378, 833, 300367, 429, 2006, 300231, 697, 2869, 2548, 300586, 2621, 2272, 659, 300200, 300732, 2947, 2445, 880, 2639, 912, 2999, 300877, 300081, 2028, 2833, 2501, 2849, 2767, 300888, 300244, 595, 2977, 2725, 300706, 2654, 300541, 300404, 300331, 2865, 2921, 2463, 2073, 722, 2123, 961, 2356, 2145, 2279, 300164, 848, 962, 2566, 2486, 2315, 2781, 676, 796, 2189, 2995, 2500, 2192, 2033, 300837, 300228, 300293, 2883, 2679, 2892, 2684, 300427, 811, 300765, 2734, 300723, 2965, 300369, 1965, 300552, 300667, 915, 300134, 585, 2687, 2115, 2837, 300735, 2763, 2746, 300425, 2337, 2663, 2875, 559, 300365, 2225, 10, 300213, 2413, 927, 300061, 2014, 610, 300571, 300772, 2162, 2554, 300198, 2827, 300710, 300153, 2925, 300829, 990, 300786, 300240, 300022, 300316, 300690, 300075, 2119, 300800, 300801, 2084, 300499, 686, 2116, 300836, 300701, 2879, 862, 300188, 638, 300684, 300610, 2935, 2168, 2949, 2032, 300295, 2731, 850, 2792, 2148, 2696, 2825, 20, 619, 2341, 2732, 2996, 2697, 679, 2649, 780, 2796, 300363, 2705, 300121, 300466, 300838, 692, 300405, 6, 2633, 2758, 2929, 2755, 300162, 404, 881, 2300, 567, 2972, 2866, 2742, 300474, 2118, 300721, 517, 300678, 300853, 300563, 952, 300793, 2769, 2211, 38, 300039, 2595, 890, 300387, 300445, 300815, 2942, 300319, 300802, 968, 2872, 300525, 2953, 300221, 300177, 300727, 300712, 300157, 2658, 2025, 2107, 300255, 25, 806, 300460, 300340, 42, 300098, 690, 300342, 300275, 300461, 2178, 2805, 2339, 300226, 2550, 531, 3007, 300753, 2462, 300561, 2420, 300866, 300025, 300321, 668, 586, 801, 733, 300535, 300320, 2888, 702, 2601, 2596, 2083, 2204, 710, 300556, 2988, 300548, 300435, 300330, 400, 2232, 300816, 300790, 300527, 2175, 576, 301, 150, 609, 300159, 2659, 2973, 996, 2483, 2753, 300305, 300540, 300551, 852, 766, 815, 300751, 300679, 2422, 2840, 300155, 528, 2774, 2284, 2912, 300205, 2760, 300605, 300175, 300446, 300789, 300630, 70, 2933, 985, 969, 300385, 2088, 2937, 2357, 300069, 300657, 300519, 2698, 300207, 2990, 300154, 300219, 2298, 300724, 2539, 2348, 300395, 300864, 2410, 2540, 2592, 822, 300624, 300718, 2836, 300158, 2762, 2136, 2938, 2620, 2393, 2173, 300500, 2469, 2968, 2219, 300276, 300298, 711, 2835, 2882, 300669, 300360, 2899, 300634, 2111, 2062, 2786, 967, 2641, 2338, 2885, 2060, 300103, 300604, 2556, 557, 2478, 893, 300434, 300076, 800, 300392, 300538, 2026, 2254, 300013, 2622, 819, 2642, 300752, 300354, 993, 2140, 615, 407, 626, 300652, 2981, 300265, 300299, 2625, 2640, 300151, 300391, 300602, 300545, 2274, 2863, 300478, 2203, 300636, 2983, 17, 300239, 2842, 663, 300479, 300444, 948, 2266, 759, 2613, 410, 2243, 300596, 300472, 300707, 600, 2090, 2574, 300381, 2748, 300282, 554, 300394, 2657, 911, 2724, 300593, 2046, 573, 300896, 2504, 300839, 300692, 2519, 2846, 677, 2682, 2532, 2265, 300246, 300280, 2721, 300550, 899, 721, 300388, 2771, 300675, 300762, 628, 300114, 2258, 300224, 2193, 2155, 1696, 2768, 300656, 639, 2575, 2895, 530, 300218, 2402, 300236, 2329, 2069, 300220, 300196, 2322, 300423, 2144, 2282, 837, 687, 2347, 300262, 300578, 300685, 2788, 46, 611, 300204, 300736, 300187, 2061, 2761, 503, 2141, 2728, 300878, 300842, 300716, 2176, 2802, 2187, 2247, 300580, 300215, 2209, 300107, 2980, 2806, 923, 2675, 300767, 300161, 958, 300432, 2897, 300641, 300778, 2831, 300056, 2552, 2066, 2915, 2227, 2423, 2020, 300475, 831, 695, 2853, 2197, 403, 2648, 300832, 300119, 300149, 300666, 2678, 2159, 300286, 785, 2534, 416, 300822, 300513, 2089, 159, 2845, 300120, 430, 300531, 300619, 2544, 657, 300462, 2611, 2055, 300023, 2401, 300719, 37, 300595, 582, 2627, 300702, 3008, 300344, 2216, 300649, 2632, 300306, 300174, 2150, 300532, 300847, 300031, 707, 918, 300486, 2379, 300252, 2645, 2695, 300703, 300648, 300570, 971, 2789, 2480, 2985, 2722, 2901, 300671, 2636, 300811, 2843, 300141, 925, 300281, 300806, 2096, 727, 300172, 2427, 300223, 2564, 2693, 7, 300845, 821, 300214, 2961, 2858, 2380, 300515, 2870, 2749, 2820, 300635, 622, 910, 2857, 2213, 2809, 2251, 2301, 300555, 300294, 2886, 913, 300415, 300526, 300609, 2765, 2629, 2045, 300631, 2956, 2723, 2868, 2615, 300229, 2902, 712, 2388, 972, 565, 2054, 2940, 2578, 2830, 2896, 966, 300653, 300827, 863, 2346, 300307, 300345, 2803, 300691, 2799, 300558, 2137, 300057, 300029, 300290, 608, 2296, 2893, 571, 2778, 300084, 2652, 300322, 300210, 300693, 2186, 2976, 32, 620, 300271, 300173, 2579, 2922, 715, 2741, 300536, 23, 2923, 2608, 2207, 2817, 300770, 300566, 300487, 300225, 300792, 2864, 300492, 300523, 300729, 2072, 300731, 300560, 2816, 300334, 902, 2777, 300681, 300503, 300399, 300416, 2715, 2040, 2779, 300607, 2114, 300637, 300613, 2811, 151, 300442, 678, 2331, 300757, 2494, 2395, 953, 2962, 300291, 300191, 2200, 509, 2068, 300600, 2153, 2021, 2472, 2499, 2743, 2971, 2800, 2295, 300521, 300659, 590, 2306, 300670, 300426, 300089, 2647, 300858, 300599, 2795, 2612, 300799, 2631, 2787, 2735, 300268, 2909, 2653, 2205, 2289, 300791, 526, 2569, 779, 300592, 300250, 300473, 2880, 2549, 300725, 2599, 300616, 300211, 300257, 300522, 300406, 2333, 300374, 300683, 2785, 300650, 2862, 929, 2890, 2729, 2529, 300705, 2719, 2323, 48, 96, 300662, 2674, 2473]

In [11]:
if len(diff) != 0:
    for i in diff[:1]:
        re1 = pd.merge(SZ[SZ["SecurityID"] == i], SZ1[SZ1["SecurityID"] == i], left_on=columns, right_on=columns, how="inner")
        display(re1[sorted(re1["sequenceNo_y"]) != re1["sequenceNo_y"]])

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
11,21,NaN,NaN,NaN,686000.0,2,71700.0,408,1.0,NaN,...,NaN,91500000,1603415701084678,2,411517,1603415696224464,2,40.0,165430,NaN
12,24,NaN,NaN,NaN,299700.0,2,71700.0,408,1.0,NaN,...,NaN,91500000,1603415701084780,2,411520,1603415696224467,2,46.0,165434,NaN
13,25,NaN,NaN,NaN,299800.0,2,71700.0,408,1.0,NaN,...,NaN,91500000,1603415701084781,2,411521,1603415696224463,2,48.0,165429,NaN

In [8]:
SZ1[(SZ1['SecurityID'] == 300585) & (SZ1['ApplSeqNum'] >= 98718)][['ApplSeqNum', 'sequenceNo', 'clockAtArrival', 'SecurityID',
                                                                  'ExecType', 'BidApplSeqNum', 'OfferApplSeqNum',
                                                                  'OrderQty', 'OrderType', 'Price', 'Side', 'TradePrice']].head()

,ApplSeqNum,sequenceNo,clockAtArrival,SecurityID,ExecType,BidApplSeqNum,OfferApplSeqNum,OrderQty,OrderType,Price,Side,TradePrice
392785,98721,419460,1599181897320785,300585,NaN,NaN,NaN,600.0,2,201500.0,1.0,NaN
1836,98718,419469,1599181897320792,300585,4,98717.0,0.0,NaN,NaN,NaN,NaN,0.0
394433,99269,421126,1599181897340907,300585,NaN,NaN,NaN,1300.0,2,175000.0,2.0,NaN
404887,102905,431669,1599181897446146,300585,NaN,NaN,NaN,100.0,2,170100.0,1.0,NaN
404889,102907,431671,1599181897446170,300585,NaN,NaN,NaN,100.0,2,189000.0,1.0,NaN

In [31]:
re1[re1['sequenceNo_y'] >=72956219]

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,TradeMoney,TradePrice,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq,y
16062,15615002,15615000.0,F,14686112.0,NaN,NaN,NaN,709,NaN,N,113664000.0,22200.0,5120.0,112957570,1599103811430555,2,155873746,1599103797003913,2,NaN,72956219,28572702.0,42084337

In [4]:
SZ1[(SZ1['SecurityID'] == 8) & (SZ1['ApplSeqNum'] >= 538206)][['ApplSeqNum', 'sequenceNo', 'clockAtArrival', 'SecurityID',
                                                                  'ExecType', 'BidApplSeqNum', 'OfferApplSeqNum',
                                                                  'OrderQty', 'OrderType', 'Price', 'Side', 'TradePrice']].head()

,ApplSeqNum,sequenceNo,clockAtArrival,SecurityID,ExecType,BidApplSeqNum,OfferApplSeqNum,OrderQty,OrderType,Price,Side,TradePrice
364094,538207,1379584,1599009997396843,8,F,501371.0,538206.0,NaN,NaN,NaN,NaN,30500.0
947392,538206,1379585,1599009997396844,8,NaN,NaN,NaN,18500.0,2,30500.0,2.0,NaN
948140,538413,1380659,1599009997400493,8,NaN,NaN,NaN,30000.0,2,30300.0,1.0,NaN
955641,540965,1390891,1599009997485483,8,NaN,NaN,NaN,1600.0,2,30400.0,1.0,NaN
955713,541079,1390991,1599009997485857,8,NaN,NaN,NaN,1600.0,2,30200.0,1.0,NaN

In [ ]:
SZ[SZ.sort_values(by=['SecurityID', 'sequenceNo']) != SZ.sort_values(by=['SecurityID', 'ApplSeqNum'])]

In [ ]:
SZ1[SZ1.sort_values(by=['SecurityID', 'sequenceNo']) != SZ1.sort_values(by=['SecurityID', 'ApplSeqNum'])]

In [5]:
if len(diff) != 0:
    for i in diff:
        re1 = pd.merge(SZ[SZ["SecurityID"] == i], SZ1[SZ1["SecurityID"] == i], left_on=columns, right_on=columns, how="inner")
        display(re1[sorted(re1["sequenceNo_y"]) != re1["sequenceNo_y"]])

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
1243,2680218,2654061.0,F,2680217.0,NaN,NaN,NaN,2790,NaN,N,...,500.0,93707060,1597801033184034,2,15631790,1597801029559905,2,NaN,27442141,6859689.0
1244,2680220,2654061.0,F,2680219.0,NaN,NaN,NaN,2790,NaN,N,...,300.0,93707060,1597801033184038,2,15631792,1597801029559908,2,NaN,27442144,6859692.0
1245,2680222,2654061.0,F,2680221.0,NaN,NaN,NaN,2790,NaN,N,...,300.0,93707060,1597801033184120,2,15631794,1597801029559909,2,NaN,27442145,6859694.0
1246,2680224,2654061.0,F,2680223.0,NaN,NaN,NaN,2790,NaN,N,...,100.0,93707060,1597801033184126,2,15631796,1597801029559912,2,NaN,27442147,6859697.0
1247,2680225,2655047.0,F,2680223.0,NaN,NaN,NaN,2790,NaN,N,...,100.0,93707060,1597801033184128,2,15631797,1597801029559912,2,NaN,27442148,6859698.0
1248,2680233,2655047.0,F,2680232.0,NaN,NaN,NaN,2790,NaN,N,...,700.0,93707070,1597801033185784,2,15631826,1597801029559929,2,NaN,27442154,6859701.0
1249,2680259,NaN,NaN,NaN,1800.0,2,70700.0,2790,2.0,NaN,...,NaN,93707070,1597801033191917,2,15632012,1597801029538544,2,6890648.0,27440981,NaN
1250,2680261,NaN,NaN,NaN,500.0,2,70700.0,2790,2.0,NaN,...,NaN,93707070,1597801033191928,2,15632019,1597801029538653,2,6890651.0,27440986,NaN
1251,2680272,NaN,NaN,NaN,100.0,2,70700.0,2790,2.0,NaN,...,NaN,93707070,1597801033194275,2,15632077,1597801029541117,2,6890668.0,27441046,NaN
1252,2680311,NaN,NaN,NaN,200.0,2,70700.0,2790,2.0,NaN,...,NaN,93707080,1597801033202300,2,15632236,1597801029549103,2,6890768.0,27441470,NaN

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
53757,22339744,7068307.0,F,22339743.0,NaN,NaN,NaN,2673,NaN,N,...,5000.0,144406810,1597819452976942,2,145737031,1597819450210195,2,NaN,246416386,66932486.0
53758,22339755,NaN,NaN,NaN,1900.0,2,98000.0,2673,1.0,NaN,...,NaN,144406810,1597819452979643,2,145737060,1597819450201275,2,48943655.0,246416071,NaN

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
90141,25443802,25443801.0,F,25431232.0,NaN,NaN,NaN,159,NaN,N,...,200.0,144903810,1597819749977073,2,149806059,1597819747225376,2,NaN,253323800,69022426.0
90142,25443809,NaN,NaN,NaN,5000.0,2,71700.0,159,2.0,NaN,...,NaN,144903810,1597819749978198,2,149806075,1597819747214387,2,50225452.0,253323428,NaN

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
7957,2680227,0.0,4,304427.0,NaN,NaN,NaN,2503,NaN,N,...,13100.0,93707060,1597801033184768,2,15631813,1597801029559913,2,NaN,27442149,6859699.0
7958,2680325,NaN,NaN,NaN,7200.0,2,28600.0,2503,2.0,NaN,...,NaN,93707080,1597801033205111,2,15632324,1597801029551844,2,6890797.0,27441562,NaN

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
106563,2823613,NaN,NaN,NaN,10600.0,2,96900.0,2400,2.0,NaN,...,NaN,93707060,1597801033183009,2,15631766,1597801029551788,2,6890793.0,27441552,NaN
106564,2823651,2758623.0,4,0.0,NaN,NaN,NaN,2400,NaN,N,...,1300.0,93707070,1597801033188207,2,15631888,1597801029536390,2,NaN,27440833,6859369.0

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
7558,3153144,NaN,NaN,NaN,500.0,2,258300.0,2511,1.0,NaN,...,NaN,93911040,1597801157161497,2,18354975,1597801153529656,2,7942488.0,32191674,NaN
7559,3153197,0.0,4,3100626.0,NaN,NaN,NaN,2511,NaN,N,...,500.0,93911060,1597801157176599,2,18355186,1597801153529349,2,NaN,32191641,8225599.0

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
94126,22963297,22096139.0,4,0.0,NaN,NaN,NaN,2465,NaN,N,...,100.0,144406810,1597819452975495,2,145737021,1597819450210494,2,NaN,246416401,66932495.0
94127,22963316,NaN,NaN,NaN,3100.0,2,139500.0,2465,2.0,NaN,...,NaN,144406820,1597819452984823,2,145737192,1597819450205607,2,48943691.0,246416241,NaN

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
26007,3297069,NaN,NaN,NaN,10000.0,2,102900.0,930,2.0,NaN,...,NaN,93911040,1597801157163130,2,18355003,1597801153517001,2,7942376.0,32191325,NaN
26008,3297072,3219985.0,F,3297069.0,NaN,NaN,NaN,930,NaN,N,...,900.0,93911040,1597801157163219,2,18355010,1597801153516872,2,NaN,32191294,8225511.0
26009,3297073,3232999.0,F,3297069.0,NaN,NaN,NaN,930,NaN,N,...,2000.0,93911040,1597801157163223,2,18355011,1597801153516882,2,NaN,32191295,8225512.0
26010,3297074,3242792.0,F,3297069.0,NaN,NaN,NaN,930,NaN,N,...,2800.0,93911040,1597801157163224,2,18355012,1597801153516883,2,NaN,32191296,8225513.0
26011,3297075,3272516.0,F,3297069.0,NaN,NaN,NaN,930,NaN,N,...,1500.0,93911040,1597801157163225,2,18355013,1597801153516884,2,NaN,32191297,8225514.0
26012,3297076,3272812.0,F,3297069.0,NaN,NaN,NaN,930,NaN,N,...,500.0,93911040,1597801157163226,2,18355014,1597801153516886,2,NaN,32191298,8225515.0
26013,3297077,3286079.0,F,3297069.0,NaN,NaN,NaN,930,NaN,N,...,300.0,93911040,1597801157163227,2,18355015,1597801153516886,2,NaN,32191299,8225516.0
26014,3297078,3293512.0,F,3297069.0,NaN,NaN,NaN,930,NaN,N,...,800.0,93911040,1597801157163228,2,18355016,1597801153516887,2,NaN,32191300,8225517.0
26015,3297079,3295158.0,F,3297069.0,NaN,NaN,NaN,930,NaN,N,...,600.0,93911040,1597801157163229,2,18355017,1597801153516894,2,NaN,32191301,8225518.0

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
261536,23274034,NaN,NaN,NaN,500.0,2,1357600.0,2049,1.0,NaN,...,NaN,145137370,1597819903533825,2,151725137,1597819900791197,2,50842968.0,256577737,NaN
261537,23274065,23160882.0,4,0.0,NaN,NaN,NaN,2049,NaN,N,...,100.0,145137370,1597819903539133,2,151725247,1597819900781394,2,NaN,256577502,69962865.0

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
18548,3297042,3271780.0,4,0.0,NaN,NaN,NaN,2941,NaN,N,...,300.0,93911030,1597801157155254,2,18354910,1597801153522699,2,NaN,32191485,8225564.0
18549,3297080,NaN,NaN,NaN,600.0,2,193900.0,2941,1.0,NaN,...,NaN,93911040,1597801157163230,2,18355018,1597801153516895,2,7942366.0,32191302,NaN

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
325141,23929024,23928583.0,F,23929023.0,NaN,NaN,NaN,2625,NaN,N,...,400.0,145137370,1597819903533843,2,151725140,1597819900791182,2,NaN,256577734,69962903.0
325142,23929025,23928759.0,F,23929023.0,NaN,NaN,NaN,2625,NaN,N,...,600.0,145137370,1597819903533850,2,151725141,1597819900791185,2,NaN,256577735,69962904.0
325143,23929033,NaN,NaN,NaN,1700.0,2,237000.0,2625,1.0,NaN,...,NaN,145137370,1597819903539687,2,151725253,1597819900781901,2,50842928.0,256577518,NaN

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
6697,3153132,3153131.0,F,3150495.0,NaN,NaN,NaN,300418,NaN,N,...,400.0,93911040,1597801157158163,2,18354943,1597801153529524,2,NaN,32191662,8225605.0
6698,3153133,3153131.0,F,3150839.0,NaN,NaN,NaN,300418,NaN,N,...,100.0,93911040,1597801157158166,2,18354944,1597801153529528,2,NaN,32191663,8225606.0
6699,3153194,NaN,NaN,NaN,100.0,2,251900.0,300418,2.0,NaN,...,NaN,93911050,1597801157175537,2,18355178,1597801153528297,2,7942466.0,32191625,NaN

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
13897,2680244,NaN,NaN,NaN,500.0,2,88800.0,300099,2.0,NaN,...,NaN,93707070,1597801033188435,2,15631895,1597801029536531,2,6890605.0,27440854,NaN
13898,2680249,0.0,4,2600776.0,NaN,NaN,NaN,300099,NaN,N,...,200.0,93707070,1597801033188968,2,15631917,1597801029536515,2,NaN,27440850,6859374.0

,ApplSeqNum,BidApplSeqNum,ExecType,OfferApplSeqNum,OrderQty,OrderType,Price,SecurityID,Side,TradeBSFlag,...,TradeQty,TransactTime,clockAtArrival_x,exchId_x,sequenceNo_x,clockAtArrival_y,exchId_y,orderseq,sequenceNo_y,tradeseq
7741,3661291,3661290.0,F,3659182.0,NaN,NaN,NaN,300607,NaN,N,...,200.0,93911040,1597801157155253,2,18354909,1597801153529442,2,NaN,32191646,8225600.0
7742,3661328,NaN,NaN,NaN,100.0,2,457400.0,300607,2.0,NaN,...,NaN,93911050,1597801157167910,2,18355085,1597801153520681,2,7942404.0,32191411,NaN

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import pickle
from matplotlib import pyplot as plt
import statsmodels.api as sm
from matplotlib.ticker import Formatter
import collections
import glob
import os
import datetime
pd.set_option("max_columns", 200)




for y in ['20200604']:
    readPath = '\\\\192.168.10.30\\Kevin_zhenyu\\temp\\kuanrui\\' + y + '\\SH\\snapshot\\Level2\\***'
    dataPathLs = np.array(glob.glob(readPath))
    dateLs = np.array([int(os.path.basename(i).split('.')[0]) for i in dataPathLs])
    dataPathLs = dataPathLs[(dateLs >= 600000) & (dateLs <= 700000)]
    logSH1 = []
    ll = []
    startTm = datetime.datetime.now()
    for i in dataPathLs:
        try:
            df = pd.read_csv(i)
        except:
            print("empty data")
            print(i)
            ll.append(int(os.path.basename(i).split('.')[0]))
            continue
        df["StockID"] = int(os.path.basename(i).split('.')[0])
        logSH1 += [df]
    del df
    logSH1 = pd.concat(logSH1).reset_index(drop=True)
    print(datetime.datetime.now() - startTm)
    
    for i in range(1, 6):
        if i == 1:
            logSH1["bid" + str(i) + "p"] = logSH1["BidPrice"].apply(lambda x: float(x.split(',')[0][1:]))
            logSH1["ask" + str(i) + "p"] = logSH1["OfferPrice"].apply(lambda x: float(x.split(',')[0][1:]))
            logSH1["bid" + str(i) + "q"] = logSH1["BidOrderQty"].apply(lambda x: int(x.split(',')[0][1:]))
            logSH1["ask" + str(i) + "q"] = logSH1["OfferOrderQty"].apply(lambda x: int(x.split(',')[0][1:]))
        else:
            logSH1["bid" + str(i) + "p"] = logSH1["BidPrice"].apply(lambda x: float(x.split(',')[i-1]))
            logSH1["ask" + str(i) + "p"] = logSH1["OfferPrice"].apply(lambda x: float(x.split(',')[i-1]))
            logSH1["bid" + str(i) + "q"] = logSH1["BidOrderQty"].apply(lambda x: int(x.split(',')[i-1]))
            logSH1["ask" + str(i) + "q"] = logSH1["OfferOrderQty"].apply(lambda x: int(x.split(',')[i-1]))
    logSH1 = logSH1.rename(columns={"Volume":"cum_volume", "Amount":"cum_amount", "LastPx":"close", "OpenPx":"openPrice"})
    logSH1["time"] = (logSH1["QuotTime"] - int(y)*1000000000).astype(np.int64)
        
    path1 = np.array(glob.glob('\\\\192.168.10.30\\Kevin_zhenyu\\rawData\\logs_' + y + '_zs_92_01_day_data\\mdLog_SH_*'))[0]
    path2 = np.array(glob.glob('\\\\192.168.10.30\\Kevin_zhenyu\\rawData\\logs_' + y + '_zs_92_01_day_data\\mdLog_SZ_*'))[0]
    path3 = np.array(glob.glob('\\\\192.168.10.30\\Kevin_zhenyu\\rawData\\logs_' + y + '_zt_96_04_day_96data\\mdLog_SH_*'))[0]
    
    
    startTm = datetime.datetime.now()
    logSH2 = pd.read_csv(path3,
                    encoding="utf-8").loc[:, ["clockAtArrival", "sequenceNo", "source", "StockID",
                                              "exchange", "time", "cum_volume", "cum_amount", "close",
                                              "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q",
                                              "bid2q", "bid3q", "bid4q", "bid5q", "ask1p", "ask2p",
                                              "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
                                              "ask4q", "ask5q", "openPrice"]]
    print(datetime.datetime.now() - startTm)
    logSH2["time"] = logSH2["time"].apply(lambda x: int((x.replace(':', "")).replace(".", ""))) 
    display(len(ll))
    display(len(set(logSH2["StockID"].unique()) & set(ll)))
    
    print('----------------------------------------------------------------')
    print('SH lv2 data:')
    in_dex = [16, 300, 852, 905]
    data1 = logSH2[~logSH2["StockID"].isin(in_dex) & (logSH2["time"] >= 91500000) & (logSH2["time"] <= 145700000) \
              & (logSH2["source"] == 13)]
    data1["cum_amount"] = data1["cum_amount"].round(2)
    data2 = logSH1[~logSH1["StockID"].isin(in_dex) & (logSH1["time"] >= 91500000) & (logSH1["time"] <= 145700000)]
    columns = ["StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid3p", "bid4p", "bid5p", "bid1q", "bid2q",
           "bid3q", "bid4q", "bid5q", "ask1p", "ask2p", "ask3p", "ask4p", "ask5p", "ask1q", "ask2q", "ask3q",
           "ask4q", "ask5q", "openPrice"]
    data1_1 = data1.drop_duplicates(subset=columns, keep="first").reset_index()
    data2_1 = data2.drop_duplicates(subset=columns, keep="first").reset_index()

    n1 = len(data1_1["StockID"].unique())
    n2 = len(data2_1["StockID"].unique())
    print(n1)
    print(n2)
    print(len(set(data1_1["StockID"].unique()) - set(data2_1["StockID"].unique()) - set(ll)))
    print(set(data1_1["StockID"].unique()) - set(data2_1["StockID"].unique()) - set(ll))
    if n1 != n2:
        sl = list(set(data1_1["StockID"].unique()) & set(data2_1["StockID"].unique()))
        data1_1 = data1_1[data1_1["StockID"].isin(sl)]
        data2_1 = data2_1[data2_1["StockID"].isin(sl)]
    
    test = pd.merge(data1_1, data2_1, left_on=columns, right_on=columns, how="outer")
    n1 = test["time_x"].count()
    n2 = test["time_y"].count()
    len1 = len(test)
    print(n1)
    print(n2)
    print(len1)
    print("-----------------------------------------------")
    if n2 < len1:
        display("test is not complete:")
        display(test[np.isnan(test["time_y"])])
        display(len(test[np.isnan(test["time_y"])])/n1)
        display(len(test[np.isnan(test["time_y"])]["time_x"].unique()))
        display(test[np.isnan(test["time_y"])]["time_x"].unique())
        display(len(test[np.isnan(test["time_y"])]["StockID"].unique()))
        display(test[np.isnan(test["time_y"])]["StockID"].unique())
    if (len1 == n2) & (n1 < len1):
        display("baseline is not complete:")
        display(test[np.isnan(test["time_x"])])
        display(n2-n1)
        print((n2-n1)/n1)
    del logSH2
    del data1
    del data2
    del test
    del data1_1
    del data2_1

0:02:49.719179
0:00:59.711219

0

0

----------------------------------------------------------------
SH lv2 data:

C:\Users\win\Anaconda3\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1605
1608
9
{600226, 600589, 600175, 600145, 600081, 600306, 601969, 600824, 600889}
5471303
5460776
5484837
-----------------------------------------------

'test is not complete:'

,index_x,clockAtArrival,sequenceNo,source,StockID,exchange,time_x,cum_volume,cum_amount,close,bid1p,bid2p,bid3p,bid4p,bid5p,bid1q,bid2q,bid3q,bid4q,bid5q,ask1p,ask2p,ask3p,ask4p,ask5p,ask1q,ask2q,ask3q,ask4q,ask5q,openPrice,index_y,NumTrades,OfferTradeMaxDuration,ImageStatus,TotalBidNumber,TotalWarrantExecQty,WithdrawSellMoney,IOPV,BidOrders,ETFSellAmount,TotalOfferQty,WithdrawBuyNumber,WeightedAvgOfferPx,ETFBuyNumber,WarLowerPx,MsgSeqNum,WithdrawSellAmount,ETFSellMoney,BidOrderQty,HighPx,PreClosePx,LowPx,WeightedAvgBidPx,ETFSellNumber,OfferNumOrders,WithdrawSellNumber,ETFBuyAmount,TotalOfferNumber,OfferPrice,NumOfferOrders,BidPrice,OfferOrderQty,TotalBidQty,SendingTime,ETFBuyMoney,InstrumentStatus,WithdrawBuyAmount,ClosePx,BidTradeMaxDuration,NumBidOrders,AveragePx,WarUpperPx,YieldToMaturity,BidNumOrders,WithdrawBuyMoney,TradingPhaseCode,QuotTime,OfferOrders,time_y
2664107,5616980.0,1.591241e+15,69700387.0,13.0,603043,SH,111909000.0,2300700,7.708008e+07,33.37,33.35,33.33,33.31,33.30,33.29,3600,800,400,900,4600,33.37,33.38,33.39,33.40,33.41,4700,500,100,3100,300,33.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2664108,5616981.0,1.591241e+15,69700399.0,13.0,600963,SH,111909000.0,5065657,1.815807e+07,3.58,3.57,3.56,3.55,3.54,3.53,7740,388320,236200,78300,104300,3.58,3.59,3.60,3.61,3.62,73760,86530,112680,96210,119050,3.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2664109,5616982.0,1.591241e+15,69700410.0,13.0,600428,SH,111909000.0,2040100,6.297751e+06,3.07,3.07,3.06,3.05,3.04,3.03,115200,153300,192500,100800,29500,3.08,3.09,3.10,3.11,3.12,22800,261800,326312,200600,206552,3.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2664110,5616983.0,1.591241e+15,69700411.0,13.0,600753,SH,111909000.0,3694360,4.641510e+07,12.65,12.64,12.62,12.61,12.60,12.58,6000,5000,7200,36680,5340,12.65,12.69,12.70,12.71,12.72,7516,12720,8900,10000,1000,12.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2664111,5616984.0,1.591241e+15,69700412.0,13.0,600764,SH,111909000.0,1389151,3.625303e+07,25.94,25.93,25.92,25.91,25.90,25.89,1000,1400,3000,1300,600,25.94,25.95,26.00,26.05,26.06,100,16900,200,500,34700,26.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2921764,6438781.0,1.591247e+15,75381800.0,13.0,600981,SH,130219000.0,17810412,6.184648e+07,3.53,3.52,3.51,3.50,3.49,3.48,60200,65400,109400,43000,70700,3.53,3.54,3.55,3.56,3.57,60400,166500,243700,442885,116200,3.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2921800,6438822.0,1.591247e+15,75382117.0,13.0,600810,SH,130219000.0,3817427,2.792566e+07,7.32,7.32,7.31,7.30,7.29,7.28,3300,23940,29200,5000,26700,7.33,7.34,7.35,7.36,7.37,23300,37400,18500,22500,6200,7.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2921977,6439031.0,1.591247e+15,75384009.0,13.0,600426,SH,130220000.0,4961500,9.279018e+07,18.57,18.57,18.56,18.55,18.54,18.53,600,18000,21200,2000,3000,18.60,18.61,18.62,18.63,18.64,2900,600,400,200,700,18.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2922200,6439792.0,1.591247e+15,75387040.0,13.0,688299,SH,130220000.0,4015787,1.056370e+08,26.47,26.41,26.39,26.37,26.36,26.35,9474,800,1538,2886,10201,26.47,26.48,26.49,26.50,26.52,2695,2496,2463,2950,2030,26.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2922393,6440433.0,1.591247e+15,75390176.0,13.0,603848,SH,130221000.0,1165700,1.636405e+07,14.13,14.08,14.05,14.04,14.03,14.02,5900,1300,3000,25100,4400,14.13,14.15,14.16,14.17,14.18,2300,700,100,1900,11700,14.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

0.0043976727298780565

153

array([1.11909e+08, 1.11910e+08, 1.11911e+08, 1.11912e+08, 1.11913e+08,
       1.11914e+08, 1.11915e+08, 1.11916e+08, 1.11917e+08, 1.11918e+08,
       1.11919e+08, 1.11920e+08, 1.11921e+08, 1.11922e+08, 1.11923e+08,
       1.11924e+08, 1.11925e+08, 1.11926e+08, 1.11927e+08, 1.11928e+08,
       1.11929e+08, 1.11930e+08, 1.11931e+08, 1.11932e+08, 1.11933e+08,
       1.11934e+08, 1.11935e+08, 1.11936e+08, 1.11937e+08, 1.11938e+08,
       1.11939e+08, 1.11940e+08, 1.11941e+08, 1.11942e+08, 1.11943e+08,
       1.11944e+08, 1.11945e+08, 1.11946e+08, 1.11947e+08, 1.11948e+08,
       1.11949e+08, 1.11950e+08, 1.11951e+08, 1.11952e+08, 1.11953e+08,
       1.11954e+08, 1.11955e+08, 1.11956e+08, 1.11957e+08, 1.11958e+08,
       1.11959e+08, 1.12000e+08, 1.12001e+08, 1.12002e+08, 1.12003e+08,
       1.12004e+08, 1.12005e+08, 1.12006e+08, 1.12007e+08, 1.12008e+08,
       1.12009e+08, 1.12010e+08, 1.12011e+08, 1.12012e+08, 1.12013e+08,
       1.12014e+08, 1.12015e+08, 1.12016e+08, 1.12017e+08, 1.12018e+08,
       1.12019e+08, 1.12020e+08, 1.12021e+08, 1.30102e+08, 1.30103e+08,
       1.30104e+08, 1.30105e+08, 1.30106e+08, 1.30107e+08, 1.30108e+08,
       1.30109e+08, 1.30110e+08, 1.30111e+08, 1.30112e+08, 1.30113e+08,
       1.30114e+08, 1.30115e+08, 1.30116e+08, 1.30117e+08, 1.30118e+08,
       1.30119e+08, 1.30120e+08, 1.30121e+08, 1.30122e+08, 1.30123e+08,
       1.30124e+08, 1.30125e+08, 1.30126e+08, 1.30127e+08, 1.30128e+08,
       1.30129e+08, 1.30130e+08, 1.30131e+08, 1.30132e+08, 1.30133e+08,
       1.30134e+08, 1.30135e+08, 1.30136e+08, 1.30137e+08, 1.30138e+08,
       1.30139e+08, 1.30140e+08, 1.30141e+08, 1.30142e+08, 1.30143e+08,
       1.30144e+08, 1.30145e+08, 1.30146e+08, 1.30147e+08, 1.30148e+08,
       1.30149e+08, 1.30150e+08, 1.30151e+08, 1.30152e+08, 1.30153e+08,
       1.30154e+08, 1.30155e+08, 1.30156e+08, 1.30157e+08, 1.30158e+08,
       1.30159e+08, 1.30200e+08, 1.30201e+08, 1.30202e+08, 1.30203e+08,
       1.30204e+08, 1.30205e+08, 1.30206e+08, 1.30207e+08, 1.30208e+08,
       1.30209e+08, 1.30210e+08, 1.30211e+08, 1.30212e+08, 1.30213e+08,
       1.30214e+08, 1.30215e+08, 1.30216e+08, 1.30217e+08, 1.30218e+08,
       1.30219e+08, 1.30220e+08, 1.30221e+08])

1531

array([603043, 600963, 600428, ..., 603388, 601518, 600156], dtype=int64)

In [4]:
logSH[(logSH["StockID"] == 300) & (logSH["cum_volume"] >= 64226870)][["time", "StockID", "cum_volume", "close"]].head(20)

              time  StockID  cum_volume      close
6031146  111907000      300    64226870  3972.1740
6034924  111912000      300    64245578  3972.1268
6037642  111915000      300    64245578  3972.1268
6038562  111917000      300    64262229  3972.3910
6042067  111922000      300    64272028  3972.3336
6045769  111927000      300    64294606  3972.3158
6049386  111932000      300    64308718  3972.2123
6052811  111937000      300    64331228  3972.3500
6056596  111942000      300    64362480  3972.3128
6060207  111947000      300    64382043  3972.3906
6063491  111952000      300    64395236  3972.5041
6067160  111957000      300    64416588  3972.3110
6070943  112002000      300    64433494  3971.9796
6074568  112007000      300    64454808  3972.1186
6078452  112012000      300    64481795  3972.0153
6081387  112015000      300    64481795  3972.0153
6082327  112017000      300    64522864  3972.2326
6085904  112022000      300    64544549  3972.2304
6089772  112027000      300    64563968  3972.2568
6093402  112032000      300    64576798  3972.2746

In [21]:
ys[(ys["StockID"] == 603676) & (ys["QuotTime"] >= 20200604111905000)][["QuotTime", "StockID", "Volume", "Amount", "LastPx", 
                                                           "OpenPx"]].head(20)

               QuotTime  StockID   Volume       Amount  LastPx  OpenPx
2092  20200604111905000   603676  3587400  38706798.00   10.71    11.0
2093  20200604111908000   603676  3587400  38706798.00   10.71    11.0
2094  20200604111925000   603676  3590000  38734638.00   10.71    11.0
2095  20200604111929000   603676  3590300  38737851.00   10.71    11.0
2096  20200604111932000   603676  3590800  38743206.00   10.71    11.0
2097  20200604111935000   603676  3590800  38743206.00   10.71    11.0
2098  20200604111938000   603676  3591300  38748561.00   10.71    11.0
2099  20200604112000000   603676  3591300  38748561.00   10.71    11.0
2100  20200604112000000   603676  3591328  38748860.32   10.69    11.0
2101  20200604112026000   603676  3591328  38748860.32   10.69    11.0
2102  20200604112029000   603676  3592328  38759570.32   10.71    11.0
2103  20200604112035000   603676  3592328  38759570.32   10.71    11.0
2104  20200604112038000   603676  3592328  38759570.32   10.71    11.0
2105  20200604112041000   603676  3592728  38763854.32   10.71    11.0
2106  20200604112044000   603676  3593328  38770280.32   10.71    11.0
2107  20200604112047000   603676  3593328  38770280.32   10.71    11.0
2108  20200604112053000   603676  3611800  38967746.00   10.69    11.0
2109  20200604112056000   603676  3612700  38977367.00   10.69    11.0
2110  20200604112100000   603676  3612700  38977367.00   10.69    11.0
2111  20200604112101000   603676  3613128  38981942.32   10.69    11.0

In [22]:
logSH[(logSH["StockID"] == 603676) & (logSH["time"] >= 111905000)][["time", "StockID", "cum_volume", "cum_amount", "close", 
                                                                    "bid1p", "bid2p", "ask1p", "ask2p", "bid1q", "bid2q",
                                                                    "ask1q", "ask2q", "openPrice"]].head(20)

,time,StockID,cum_volume,cum_amount,close,bid1p,bid2p,ask1p,ask2p,bid1q,bid2q,ask1q,ask2q,openPrice
6029920,111905000,603676,3587400,38706798.0,10.71,10.70,10.69,10.71,10.72,600,9300,4400,1600,11.0
6031364,111907250,603676,3587400,38706798.0,10.71,10.70,10.69,10.71,10.72,600,9300,4400,1600,11.0
6032501,111908000,603676,3587400,38706798.0,10.71,10.70,10.69,10.71,10.72,600,9300,4400,1000,11.0
6033526,111910260,603676,3587400,38706798.0,10.71,10.70,10.69,10.71,10.72,600,9300,4400,1000,11.0
6034687,111911000,603676,3587400,38706798.0,10.71,10.70,10.69,10.71,10.72,600,9300,4700,1000,11.0
6035707,111913240,603676,3587400,38706798.0,10.71,10.70,10.69,10.71,10.72,600,9300,4700,1000,11.0
6036869,111914000,603676,3588000,38713218.0,10.70,10.69,10.68,10.71,10.72,9300,16100,4700,1000,11.0
6037900,111916310,603676,3588000,38713218.0,10.70,10.69,10.68,10.71,10.72,10600,16100,4700,1000,11.0
6039817,111919000,603676,3588000,38713218.0,10.70,10.69,10.68,10.71,10.72,10600,16100,4700,1000,11.0
6042029,111922000,603676,3588000,38713218.0,10.70,10.69,10.68,10.71,10.72,10800,16100,4700,1000,11.0
6042235,111922250,603676,3588000,38713218.0,10.70,10.69,10.68,10.71,10.72,10800,16100,4700,1000,11.0
6045024,111925000,603676,3590000,38734638.0,10.71,10.69,10.68,10.71,10.72,10800,16100,2700,1000,11.0
6046524,111928240,603676,3590000,38734638.0,10.71,10.69,10.68,10.71,10.72,10800,16500,2700,1000,11.0
6047824,111929000,603676,3590300,38737851.0,10.71,10.69,10.68,10.71,10.72,10800,16500,2400,1000,11.0
6048654,111931240,603676,3590800,38743206.0,10.71,10.69,10.68,10.71,10.72,10800,16500,1900,1000,11.0
6049977,111932000,603676,3590800,38743206.0,10.71,10.69,10.68,10.71,10.72,10800,16500,1900,1000,11.0
6050497,111933450,603676,3590800,38743206.0,10.71,10.69,10.68,10.71,10.72,10800,16500,1900,1000,11.0
6050867,111934280,603676,3590800,38743206.0,10.71,10.69,10.68,10.71,10.72,10600,16500,1900,1000,11.0
6052140,111935000,603676,3590800,38743206.0,10.71,10.69,10.68,10.71,10.72,10600,16500,1900,1000,11.0
6054321,111938000,603676,3591300,38748561.0,10.71,10.69,10.68,10.71,10.72,10600,16500,1400,1000,11.0

In [20]:
data1_1[(data1_1["StockID"] == 603676) & (data1_1["time"] >= 111925000)][["time", "StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid1q", "bid2q",
           "ask1p", "ask2p","ask1q", "ask2q", "openPrice"]].head(20)

,time,StockID,cum_volume,cum_amount,close,bid1p,bid2p,bid1q,bid2q,ask1p,ask2p,ask1q,ask2q,openPrice
2669550,111925000,603676,3590000,38734638.00,10.71,10.69,10.68,10800,16100,10.71,10.72,2700,1000,11.0
2670747,111929000,603676,3590300,38737851.00,10.71,10.69,10.68,10800,16500,10.71,10.72,2400,1000,11.0
2671701,111932000,603676,3590800,38743206.00,10.71,10.69,10.68,10800,16500,10.71,10.72,1900,1000,11.0
2672692,111935000,603676,3590800,38743206.00,10.71,10.69,10.68,10600,16500,10.71,10.72,1900,1000,11.0
2673662,111938000,603676,3591300,38748561.00,10.71,10.69,10.68,10600,16500,10.71,10.72,1400,1000,11.0
2680630,112000000,603676,3591328,38748860.32,10.69,10.69,10.68,10572,16500,10.71,10.72,1400,1000,11.0
2689634,112026000,603676,3591328,38748860.32,10.69,10.69,10.68,15972,16500,10.71,10.72,1400,1000,11.0
2690591,112029000,603676,3592328,38759570.32,10.71,10.69,10.68,15972,16500,10.71,10.72,400,1000,11.0
2692534,112035000,603676,3592328,38759570.32,10.71,10.69,10.68,18972,16500,10.71,10.72,400,1000,11.0
2693509,112038000,603676,3592328,38759570.32,10.71,10.69,10.68,18972,21500,10.71,10.72,400,1000,11.0
2694629,112041000,603676,3592728,38763854.32,10.71,10.71,10.69,300,18972,10.72,10.73,1000,5900,11.0
2695674,112044000,603676,3593328,38770280.32,10.71,10.69,10.68,18972,21500,10.71,10.72,100,1000,11.0
2696666,112047000,603676,3593328,38770280.32,10.71,10.69,10.68,18472,21500,10.71,10.72,100,1000,11.0
2698559,112053000,603676,3611800,38967746.00,10.69,10.68,10.67,21500,11900,10.69,10.71,1328,100,11.0
2699536,112056000,603676,3612700,38977367.00,10.69,10.68,10.67,21600,11900,10.69,10.71,428,100,11.0
2701196,112101000,603676,3613128,38981942.32,10.69,10.69,10.68,1072,13600,10.71,10.72,100,1000,11.0
2704274,112110000,603676,3613128,38981942.32,10.69,10.69,10.68,1072,15100,10.71,10.72,100,1000,11.0
2706870,112118000,603676,3613128,38981942.32,10.69,10.69,10.68,1972,15100,10.71,10.72,100,1000,11.0
2707867,112121000,603676,3613128,38981942.32,10.69,10.69,10.68,1972,16200,10.71,10.72,100,1000,11.0
2709852,112127000,603676,3613128,38981942.32,10.69,10.69,10.68,1972,16200,10.71,10.72,100,1000,11.0

In [21]:
logSH1[(logSH1["StockID"] == 603676) & (logSH1["time"] >= 111925000)][["time", "StockID", "cum_volume", "cum_amount", "close", "bid1p", "bid2p", "bid1q", "bid2q",
           "ask1p", "ask2p","ask1q", "ask2q", "openPrice"]].head(20)

,time,StockID,cum_volume,cum_amount,close,bid1p,bid2p,bid1q,bid2q,ask1p,ask2p,ask1q,ask2q,openPrice
2094,111925000,603676,3590000,38734638.00,10.71,10.70,10.69,600,9300,10.71,10.72,2700,1000,11.0
2095,111929000,603676,3590300,38737851.00,10.71,10.70,10.69,600,9300,10.71,10.72,2400,1000,11.0
2096,111932000,603676,3590800,38743206.00,10.71,10.70,10.69,600,9300,10.71,10.72,1900,1000,11.0
2097,111935000,603676,3590800,38743206.00,10.71,10.70,10.69,600,10600,10.71,10.72,1900,1000,11.0
2098,111938000,603676,3591300,38748561.00,10.71,10.70,10.69,600,10600,10.71,10.72,1400,1000,11.0
2099,112000000,603676,3591300,38748561.00,10.71,10.69,10.68,10600,16500,10.71,10.72,1400,1000,11.0
2100,112000000,603676,3591328,38748860.32,10.69,10.69,10.68,10572,16500,10.71,10.72,1400,1000,11.0
2101,112026000,603676,3591328,38748860.32,10.69,10.69,10.68,15972,16500,10.71,10.72,1400,1000,11.0
2102,112029000,603676,3592328,38759570.32,10.71,10.69,10.68,15972,16500,10.71,10.72,400,1000,11.0
2103,112035000,603676,3592328,38759570.32,10.71,10.69,10.68,18972,16500,10.71,10.72,400,1000,11.0
2104,112038000,603676,3592328,38759570.32,10.71,10.69,10.68,18972,21500,10.71,10.72,400,1000,11.0
2105,112041000,603676,3592728,38763854.32,10.71,10.71,10.69,300,18972,10.72,10.73,1000,5900,11.0
2106,112044000,603676,3593328,38770280.32,10.71,10.69,10.68,18972,21500,10.71,10.72,100,1000,11.0
2107,112047000,603676,3593328,38770280.32,10.71,10.69,10.68,18472,21500,10.71,10.72,100,1000,11.0
2108,112053000,603676,3611800,38967746.00,10.69,10.68,10.67,21500,11900,10.69,10.71,1328,100,11.0
2109,112056000,603676,3612700,38977367.00,10.69,10.68,10.67,21600,11900,10.69,10.71,428,100,11.0
2110,112100000,603676,3612700,38977367.00,10.69,10.68,10.67,21600,11900,10.69,10.71,428,100,11.0
2111,112101000,603676,3613128,38981942.32,10.69,10.69,10.68,1072,13600,10.71,10.72,100,1000,11.0
2112,112107000,603676,3613128,38981942.32,10.69,10.69,10.68,1072,13600,10.71,10.72,100,1000,11.0
2113,112110000,603676,3613128,38981942.32,10.69,10.69,10.68,1072,15100,10.71,10.72,100,1000,11.0